---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Link from "@/components/fundations/typography/Link.astro";
import Apple from "@/components/fundations/icons/Apple.astro";
import GooglePlay from "@/components/fundations/icons/GooglePlay.astro";
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Mission" },
      { href: "#", text: "Leadership Team" },
      { href: "#", text: "History" },
    ],
  },
  {
    heading: " Services",
    links: [
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
      { href: "#", text: "Commerce" },
      { href: "#", text: "Insights" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { href: "#", text: "Documentation" },
      { href: "#", text: "Guides" },
      { href: "#", text: "Webinars" },
      { href: "#", text: "White Papers" },
    ],
  },
  {
    heading: "Support & Legal",
    links: [
      { href: "#", text: "Pricing" },
      { href: "#", text: "API Status" },
      { href: "#", text: "Live Chat" },
      { href: "#", text: "Email Support" },
    ],
  },
];
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid items-end grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <Heading
          level={3}
          variant="featureTitle">
          Get started with our app today
        </Heading>
        <Text
          class="mt-2 lg:text-balance"
          tag="p"
          variant="body">
          Streamline your workflow and collaborate seamlessly on staging and
          temporary environments
        </Text>
      </div>
      <div class="flex flex-col lg:flex-row items-center gap-2 sm:ml-auto">
        <Button
          variant="alternative"
          gap="xs"
          size="sm">
          <Apple
            size="sm"
            slot="left-icon"
          />
          <span>Download on App Store</span>
        </Button>
        <Button
          variant="alternative"
          gap="xs"
          size="sm">
          <GooglePlay
            size="sm"
            slot="left-icon"
          />
          <span>Download on Google Play</span>
        </Button>
      </div>
    </div>
    <div
      class="grid pt-6 mt-6 border-t grid-cols-2 md:grid-cols-4 gap-x-8 gap-y-24">
      {
        footerLinks.map((section, index) => (
          <div class="space-y-4">
            <nav aria-labelledby={`footer-heading-${index}`}>
              <Heading
                id={`footer-heading-${index}`}
                level={3}
                variant="footerHeading">
                {section.heading}
              </Heading>
              <ul class="mt-4 space-y-4">
                {section.links.map((link) => (
                  <li>
                    <Link
                      href={link.href}
                      tag="a"
                      variant="navigationLink">
                      {link.text}
                    </Link>
                  </li>
                ))}
              </ul>
            </nav>
          </div>
        ))
      }
    </div>
    <div
      class="pt-6 mt-12 border-t flex flex-col md:flex-row items-center justify-between">
      <Link
        class="w-full sm:w-auto flex gap-3 items-center"
        href="#_"
        tag="a"
        variant="navigationLink">
        <img
          class="h-7 2xl:h-12"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        /> Oxbow UI
      </Link>
      <Text
        tag="p"
        variant="small">
        Copyright © 2024 Oxbow UI. All rights reserved.
      </Text>
    </div>
  </div>
</section>
