---
import Button from "@/components/fundations/buttons/Button.astro";
import AppleStore from "@/components/fundations/icons/AppleStore.astro";
import GooglePlay from "@/components/fundations/icons/GooglePlay.astro";
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Mission" },
      { href: "#", text: "Leadership Team" },
      { href: "#", text: "History" },
    ],
  },
  {
    heading: " Services",
    links: [
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
      { href: "#", text: "Commerce" },
      { href: "#", text: "Insights" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { href: "#", text: "Documentation" },
      { href: "#", text: "Guides" },
      { href: "#", text: "Webinars" },
      { href: "#", text: "White Papers" },
    ],
  },
  {
    heading: "Support & Legal",
    links: [
      { href: "#", text: "Pricing" },
      { href: "#", text: "API Status" },
      { href: "#", text: "Live Chat" },
      { href: "#", text: "Email Support" },
    ],
  },
];
---
<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid items-end grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <p class="text-xl font-semibold tracking-tight text-base-900">
          Get started with our app today
        </p>
        <p class="mt-4 text-sm text-base-500 lg:text-base">
          Streamline your workflow and collaborate seamlessly on staging and
          temporary environments
        </p>
      </div>
      <div class="flex flex-col lg:flex-row items-center gap-2 sm:ml-auto">
        <Button
          variant="alternative"
          gap="xs"
          size="sm">
          <AppleStore
            size="sm"
            slot="left-icon"
          />
          <span >Download on App Store</span>
        </Button>
        <Button
          variant="alternative"
          gap="xs"
          size="sm">
          <GooglePlay
            size="sm"
            slot="left-icon"
          />
          <span>Download on Google Play</span>
        </Button>
      </div>
    </div>
    <div
      class="grid pt-6 mt-6 border-t grid-cols-2 md:grid-cols-4 gap-x-8 gap-y-24">
      {
        footerLinks.map((section, index) => (
          <div class="space-y-4">
            <nav aria-labelledby={`footer-heading-${index}`}>
              <h3
                id={`footer-heading-${index}`}
                class="text-sm font-medium  text-base-900">
                {section.heading}
              </h3>
              <ul class="mt-4 space-y-4">
                {section.links.map((link, linkIndex) => (
                  <li>
                    <a
                      href={link.href}
                      class="text-base-600 text-sm md:text-base hover:text-accent-500 duration-300">
                      {link.text}
                    </a>
                  </li>
                ))}
              </ul>
            </nav>
          </div>
        ))
      }
    </div>
    <div
      class="pt-6 mt-12 border-t flex flex-col md:flex-row items-center justify-between">
      <a
        href="#_"
        class="font-medium w-full sm:w-auto group flex gap-3 items-center group-hover:text-accent-600 duration-300 group-hover:animate-pulse"
        ><img
          class="h-7 2xl:h-12"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        /> Oxbow UI</a
      >
      <p class="border-base-700 text-base-400 text-sm">
        Copyright © 2024 Oxbow UI. All rights reserved.
      </p>
    </div>
  </div>
</section>
