---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Link from "@/components/fundations/typography/Link.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
import YoutubeBrand from "@/components/fundations/icons/YoutubeBrand.astro";
import GithubBrand from "@/components/fundations/icons/GithubBrand.astro";
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Mission" },
      { href: "#", text: "Leadership Team" },
      { href: "#", text: "History" },
    ],
  },
  {
    heading: " Services",
    links: [
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
      { href: "#", text: "Commerce" },
      { href: "#", text: "Insights" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { href: "#", text: "Documentation" },
      { href: "#", text: "Guides" },
      { href: "#", text: "Webinars" },
      { href: "#", text: "White Papers" },
    ],
  },
];
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 gap-x-8 gap-y-24">
      <div class="col-span-full md:col-span-2 lg:col-start-5 lg:order-last">
       <Link
        class="w-full sm:w-auto flex gap-3 items-center"
        href="#_"
        tag="a"
        variant="navigationLink">
        <img
          class="h-7 2xl:h-12"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        /> Oxbow UI
    </Link>
        <div class="group relative mt-8 divide-x flex items-center">
          <img
            alt="#_"
            class="size-20 pr-2"
            src="/assets/qr-lexingtonthemes.svg"
          />
          <div class="pl-2 lg:w-64 h-full">
            <Heading
              level={3}
              variant="featureTitleSmall">
              <Text
                class="mt-2"
                tag="a"
                href="#_"
                variant="featureTitleSmall">
                <span class="absolute inset-0 sm:rounded-2xl"></span>Download
                the app
              </Text>
            </Heading>
            <Text
              class="mt-2"
              tag="p"
              variant="small">
              Scan the QR code to download the app from your app store.
            </Text>
          </div>
        </div>
      </div>
      {
        footerLinks.map((section, index) => (
          <div class="space-y-4">
            <nav aria-labelledby={`footer-heading-${index}`}>
              <Heading
                id={`footer-heading-${index}`}
                level={3}
                variant="footerHeading">
                {section.heading}
              </Heading>
              <ul class="mt-4 space-y-4">
                {section.links.map((link, linkIndex) => (
                  <li>
                   <Link
                      href={link.href}
                      tag="a"
                      variant="navigationLink">
                      {link.text}
                    </Link>
                  </li>
                ))}
              </ul>
            </nav>
          </div>
        ))
      }
    </div>
    <div
      class="pt-12 mt-12 border-t flex flex-col gap-8 sm:flex-row sm:items-center justify-between">
      <Text
        tag="p"
        variant="small">
        Copyright © 2024 Oxbow UI. All rights reserved.
      </Text>
      <nav
        aria-labelledby="social-icons-heading"
        role="navigation"
        class="flex items-center gap-4 text-base-500">
        <Heading
          id="social-icons-heading"
          class="sr-only"
          level={3}
          variant="footerHeading">
          Follow us on social media
        </Heading>
        <Link
          tag="a"
          href="#_"
          variant="link">
          <XBrand size="sm" />
        </Link>
        <Link
          tag="a"
          href="#_"
          variant="link">
          <LinkedinBrand size="sm" />
        </Link>
        <Link
          tag="a"
          href="#_"
          variant="link">
          <GithubBrand size="sm" />
        </Link>
        <Link
          tag="a"
          href="#_"
          variant="link">
          <YoutubeBrand size="sm" />
        </Link>
      </nav>
    </div>
  </div>
</section>
