---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Link from "@/components/fundations/typography/Link.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
import YoutubeBrand from "@/components/fundations/icons/YoutubeBrand.astro";
import GithubBrand from "@/components/fundations/icons/GithubBrand.astro";
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Mission" },
      { href: "#", text: "Leadership Team" },
      { href: "#", text: "History" },
    ],
  },
  {
    heading: " Services",
    links: [
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
      { href: "#", text: "Commerce" },
      { href: "#", text: "Insights" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { href: "#", text: "Documentation" },
      { href: "#", text: "Guides" },
      { href: "#", text: "Webinars" },
      { href: "#", text: "White Papers" },
    ],
  },
  {
    heading: "Support & Legal",
    links: [
      { href: "#", text: "Pricing" },
      { href: "#", text: "API Status" },
      { href: "#", text: "Live Chat" },
      { href: "#", text: "Email Support" },
    ],
  },
  {
    heading: "Social Media",
    links: [
      { href: "#", text: "Twitter" },
      { href: "#", text: "Facebook" },
      { href: "#", text: "LinkedIn" },
      { href: "#", text: "Instagram" },
    ],
  },
  {
    heading: "Company Info",
    links: [
      { href: "#", text: "Careers" },
      { href: "#", text: "Press" },
      { href: "#", text: "Partners" },
      { href: "#", text: "Blog" },
    ],
  },
  {
    heading: "Legal",
    links: [
      { href: "#", text: "Privacy Policy" },
      { href: "#", text: "Terms of Service" },
      { href: "#", text: "Cookie Policy" },
      { href: "#", text: "GDPR Compliance" },
    ],
  },
  {
    heading: "Community",
    links: [
      { href: "#", text: "Forums" },
      { href: "#", text: "Events" },
      { href: "#", text: "User Groups" },
      { href: "#", text: "Ambassadors" },
    ],
  },
];
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid items-end grid-cols-1 sm:grid-cols-2 gap-4 bg-base-50 p-8 rounded-2xl">
      <div>
        <Heading
          level={3}
          variant="featureTitle">
          Get started with our app today
        </Heading>
        <Text
          class="mt-2 lg:text-balance"
          tag="p"
          variant="body">
          Streamline your workflow and collaborate seamlessly on staging and
          temporary environments
        </Text>
      </div>
      <div class="flex flex-col lg:flex-row items-center gap-2 sm:ml-auto">
        <Button
          variant="accent"
          size="sm">
          Get started
        </Button>
        <Button
          variant="alternative"
          size="sm">
          Learn more
        </Button>
      </div>
    </div>

    <div
      class="grid pt-6 mt-6 border-t grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-x-8 gap-y-24">
      {
        footerLinks.map((section, index) => (
          <nav aria-labelledby={`footer-heading-${index}`}>
            <Heading
              id={`footer-heading-${index}`}
              level={3}
              variant="footerHeading">
              {section.heading}
            </Heading>
            <ul class="mt-4 space-y-4">
              {section.links.map((link, linkIndex) => (
                <li>
                  <Link
                      href={link.href}
                      tag="a"
                      variant="navigationLink">
                      {link.text}
                    </Link>
                </li>
              ))}
            </ul>
          </nav>
        ))
      }
    </div>

    <div
      class="pt-12 mt-12 border-t flex flex-col gap-8 text-center md:text-left md:flex-row items-center justify-between w-full">
      <Text
        class="w-full"
        tag="p"
        variant="small">
        Copyright © 2024 Oxbow UI. All rights reserved.
      </Text>

      <nav
        aria-labelledby="legal-links"
        role="navigation"
        class="flex items-center gap-4 text-base-500 text-sm w-full justify-center">
        <Heading
          id="legal-links"
          class="sr-only"
          level={3}
          variant="footerHeading">
          Legal and terms
        </Heading>
        <Text
          href="#_"
          tag="a"
          variant="navigationLink">
          Terms of Service
        </Text>
        <Text
          href="#_"
          tag="a"
          variant="navigationLink">
          Privacy Policy
        </Text>

      </nav>
      <nav
        aria-labelledby="social-icons-heading"
        role="navigation"
        class="flex items-center gap-4 text-base-500 w-full justify-center lg:justify-end">
        <Heading
          id="social-icons-heading"
          class="sr-only"
          level={3}
          variant="footerHeading">
          Follow us on social media
        </Heading>
        <Link
          tag="a"
          href="#_"
          variant="link">
          <XBrand size="sm" />
        </Link>
        <Link
          tag="a"
          href="#_"
          variant="link">
          <LinkedinBrand size="sm" />
        </Link>
        <Link
          tag="a"
          href="#_"
          variant="link">
          <GithubBrand size="sm" />
        </Link>
        <Link
          tag="a"
          href="#_"
          variant="link">
          <YoutubeBrand size="sm" />
        </Link>
      </nav>
    </div>
  </div>
</section>
