---
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Mission" },
      { href: "#", text: "Leadership Team" },
      { href: "#", text: "History" },
    ],
  },
  {
    heading: " Services",
    links: [
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
      { href: "#", text: "Commerce" },
      { href: "#", text: "Insights" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { href: "#", text: "Documentation" },
      { href: "#", text: "Guides" },
      { href: "#", text: "Webinars" },
      { href: "#", text: "White Papers" },
    ],
  },
  {
    heading: "Support & Legal",
    links: [
      { href: "#", text: "Pricing" },
      { href: "#", text: "API Status" },
      { href: "#", text: "Live Chat" },
      { href: "#", text: "Email Support" },
    ],
  },
  {
    heading: "Social Media",
    links: [
      { href: "#", text: "Twitter" },
      { href: "#", text: "Facebook" },
      { href: "#", text: "LinkedIn" },
      { href: "#", text: "Instagram" },
    ],
  },
  {
    heading: "Company Info",
    links: [
      { href: "#", text: "Careers" },
      { href: "#", text: "Press" },
      { href: "#", text: "Partners" },
      { href: "#", text: "Blog" },
    ],
  },
];
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="flex flex-col md:flex-row md:items-center justify-between">
      <a
        href="#_"
        class="font-medium w-full sm:w-auto group flex gap-3 items-center group-hover:text-accent-600 duration-300 group-hover:animate-pulse"
        ><img
          class="h-7 2xl:h-12"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        /> Oxbow UI</a
      >
      <p class="text-sm text-base-500">Designed in europe.</p>
    </div>
    <div
      class="grid grid-cols-2 pt-6 border-t sm:grid-cols-3 md:grid-cols-6 gap-x-8 gap-y-24 mt-6">
      {
        footerLinks.map((section, index) => (
          <div class="space-y-4">
            <nav aria-labelledby={`footer-heading-${index}`}>
              <h3
                id={`footer-heading-${index}`}
                class="text-sm font-medium  text-base-900">
                {section.heading}
              </h3>
              <ul class="mt-4 space-y-4">
                {section.links.map((link, linkIndex) => (
                  <li>
                    <a
                      href={link.href}
                      class="text-base-600 text-sm md:text-base hover:text-accent-500 duration-300">
                      {link.text}
                    </a>
                  </li>
                ))}
              </ul>
            </nav>
          </div>
        ))
      }
    </div>
    <div
      class="pt-12 mt-12 border-t flex flex-col gap-8 sm:flex-row sm:items-center justify-between">
      <p
        class="border-base-700 text-base-400 text-sm"
                           >
        Copyright © 2024 Oxbow UI. All rights reserved.
      </p>
      <nav
        aria-labelledby="legal-links"
        role="navigation"
        class="flex items-center gap-4 text-base-500 text-sm">
        <h2
          id="legal-links"
          class="sr-only">
          Legal and terms
        </h2>
        <a
          href="#_"
          class="hover:text-accent-500 duration-300">
          Terms of Service
        </a>
        <a
          href="#_"
          class="hover:text-accent-500 duration-300">
          Privacy Policy
        </a>
      </nav>
    </div>
  </div>
</section>
