---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Link from "@/components/fundations/typography/Link.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
import YoutubeBrand from "@/components/fundations/icons/YoutubeBrand.astro";
import GithubBrand from "@/components/fundations/icons/GithubBrand.astro";
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Mission" },
      { href: "#", text: "Leadership Team" },
      { href: "#", text: "History" },
    ],
  },
  {
    heading: " Services",
    links: [
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
      { href: "#", text: "Commerce" },
      { href: "#", text: "Insights" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { href: "#", text: "Documentation" },
      { href: "#", text: "Guides" },
      { href: "#", text: "Webinars" },
      { href: "#", text: "White Papers" },
    ],
  },
  {
    heading: "Support & Legal",
    links: [
      { href: "#", text: "Pricing" },
      { href: "#", text: "API Status" },
      { href: "#", text: "Live Chat" },
      { href: "#", text: "Email Support" },
    ],
  },
];
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <div>
       <Link
        class="w-full sm:w-auto flex gap-3 items-center"
        href="#_"
        tag="a"
        variant="navigationLink">
        <img
          class="h-7 2xl:h-12"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        /> Oxbow UI
    </Link>
        <div class="mt-8">
          <Heading
            level={3}
            variant="featureTitleSmall">
            Join our newsletter
          </Heading>
          <Text
            class="mt-2"
            tag="p"
            variant="small">
            Stay up to date with our latest news and updates.
          </Text>
          <form class="w-full mt-8 sm:flex sm:max-w-md">
            <label
              for="email-address"
              class="sr-only"
              >Email address</label
            >
            <input
              id="email-address"
              type="email"
              name="email-address"
              autocomplete="email"
              placeholder="Enter your email"
              aria-placeholder="Enter your email"
              required=""
              class="block w-full h-10 px-4 py-2 ring-1 ring-base-200 shadow text-sm text-accent-700 border border-transparent appearance-none rounded-lg bg-white placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 duration-300 sm:text-sm"
            />
            <div class="mt-2 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
              <Button
                class="w-full sm:w-auto"
                type="submit"
                variant="accent"
                size="base">
                Subscribe
              </Button>
            </div>
          </form>
        </div>
      </div>
      <div
        class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-2 gap-x-8 gap-y-24 lg:col-start-3">
        {
          footerLinks.map((section, index) => (
            <nav aria-labelledby={`footer-heading-${index}`}>
              <Heading
                id={`footer-heading-${index}`}
                level={3}
                variant="footerHeading">
                {section.heading}
              </Heading>
              <ul class="mt-4 space-y-4">
                {section.links.map((link, linkIndex) => (
                  <li>
                   <Link
                      href={link.href}
                      tag="a"
                      variant="navigationLink">
                      {link.text}
                    </Link>
                  </li>
                ))}
              </ul>
            </nav>
          ))
        }
      </div>
    </div>
    <div
      class="pt-12 mt-12 border-t flex flex-col gap-8 sm:flex-row sm:items-center justify-between">
      <Text
        tag="p"
        variant="small">
        Copyright © 2024 Oxbow UI. All rights reserved.
      </Text>
      <nav
        aria-labelledby="social-icons-heading"
        role="navigation"
        class="flex items-center gap-4 text-base-500">
        <Heading
          id="social-icons-heading"
          class="sr-only"
          level={3}
          variant="footerHeading">
          Follow us on social media
        </Heading>
        <Link
          tag="a"
          href="#_"
          variant="link">
          <XBrand size="sm" />
        </Link>
        <Link
          tag="a"
          href="#_"
          variant="link">
          <LinkedinBrand size="sm" />
        </Link>
        <Link
          tag="a"
          href="#_"
          variant="link">
          <GithubBrand size="sm" />
        </Link>
        <Link
          tag="a"
          href="#_"
          variant="link">
          <YoutubeBrand size="sm" />
        </Link>
      </nav>
    </div>
  </div>
</section>
