---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
import YoutubeBrand from "@/components/fundations/icons/YoutubeBrand.astro";
import GithubBrand from "@/components/fundations/icons/GithubBrand.astro";
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Mission" },
      { href: "#", text: "Leadership Team" },
      { href: "#", text: "History" },
    ],
  },
  {
    heading: " Services",
    links: [
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
      { href: "#", text: "Commerce" },
      { href: "#", text: "Insights" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { href: "#", text: "Documentation" },
      { href: "#", text: "Guides" },
      { href: "#", text: "Webinars" },
      { href: "#", text: "White Papers" },
    ],
  },
  {
    heading: "Support & Legal",
    links: [
      { href: "#", text: "Pricing" },
      { href: "#", text: "API Status" },
      { href: "#", text: "Live Chat" },
      { href: "#", text: "Email Support" },
    ],
  },
];
---

<section class="bg-accent-700">
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 gap-x-8 gap-y-24">
      <div class="col-span-full md:col-span-1">
        <Text
          class="w-full sm:w-auto flex gap-3 items-center"
          href="#_"
          tag="a"
          darkMode={true}
          variant="navigationLink">
          <img
            class="h-7 2xl:h-12"
            src="/images/oxbow/whiteLineLogo.png"
            alt="#_"
          /> Oxbow UI
        </Text>
        <Text
          tag="p"
          darkMode={true}
          variant="small">
          Designed in europe.
        </Text>
      </div>
      {
        footerLinks.map((section, index) => (
          <div class="space-y-4">
            <nav aria-labelledby={`footer-heading-${index}`}>
              <Heading
                id={`footer-heading-${index}`}
                darkMode={true}
                level={3}
                variant="footerHeading">
                {section.heading}
              </Heading>
              <ul class="mt-4 space-y-4">
                {section.links.map((link, linkIndex) => (
                  <li>
                    <Text
                      href={link.href}
                      darkMode={true}
                      tag="a"
                      variant="navigationLink">
                      {link.text}
                    </Text>
                  </li>
                ))}
              </ul>
            </nav>
          </div>
        ))
      }
    </div>
    <div
      class="pt-12 mt-12 border-t flex border-white/20 flex-col gap-8 sm:flex-row sm:items-center justify-between">
      <Text
        tag="p"
        darkMode={true}
        variant="small">
        Copyright © 2024 Oxbow UI. All rights reserved.
      </Text>
      <nav
        aria-labelledby="social-icons-heading"
        role="navigation"
        class="flex items-center gap-4 text-base-200">
        <Heading
          id="social-icons-heading"
          class="sr-only"
          level={3}
          variant="footerHeading">
          Follow us on social media
        </Heading>
        <Heading
          id="social-icons-heading"
          class="sr-only"
          level={3}
          variant="footerHeading">
          Follow us on social media
        </Heading>

        <Text
          tag="a"
          href="#_"
          darkMode={true}
          variant="link">
          <XBrand size="sm" />
        </Text>
        <Text
          tag="a"
          href="#_"
          darkMode={true}
          variant="link">
          <LinkedinBrand size="sm" />
        </Text>
        <Text
          tag="a"
          href="#_"
          darkMode={true}
          variant="link">
          <GithubBrand size="sm" />
        </Text>
        <Text
          tag="a"
          href="#_"
          darkMode={true}
          variant="link">
          <YoutubeBrand size="sm" />
        </Text>
      </nav>
    </div>
  </div>
</section>
