---
import CommandbarButton from "@/components/fundations/buttons/CommandBarButton.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Search from "@/components/fundations/icons/Search.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import ArrowRight from "@/components/fundations/icons/ArrowRight.astro";
import Clipboard from "@/components/fundations/icons/Clipboard.astro";
---

<section class="bg-base-50 overflow-hidden">
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="max-w-xl mx-auto overflow-hidden transition-all transform bg-white divide-y divide-base-200 shadow-lg rounded-xl">
      <div class="relative">
        <label
          for="search-bar"
          class="sr-only"
          >Search</label
        >
        <Search
          class="pointer-events-none absolute top-3.5 left-4 text-base-400"
          size="base"
          slot="icon"
        />
        <input
          id="search-bar"
          type="text"
          class="w-full h-12 pr-4 text-base-800 placeholder-base-400 bg-transparent border-0 pl-11 focus:ring-0 sm:text-sm"
          placeholder="Search for anything"
          role="combobox"
          aria-expanded="false"
          aria-controls="options"
        />
      </div>
      <ul
        class="p-2 space-y-3 overflow-y-auto max-h-96"
        id="options"
        role="listbox"
        tabindex="0">
        <li class="px-2">
          <Text
            tag="p"
            variant="small">
            Create another project
          </Text>
        </li>
        <li
          id="option-1"
          role="option"
          tabindex="-1">
          <CommandbarButton
            text="Copy current URL"
            iconSlot={true}>
            <Clipboard
              size="sm"
              slot="icon"
            />
          </CommandbarButton>
        </li>
        <li class="px-2">
          <Text
            tag="p"
            variant="small">
            Scope
          </Text>
        </li>
        <li
          id="option-2"
          role="option"
          tabindex="-1">
          <CommandbarButton
            text="Go to personal account overview"
            iconSlot={true}>
            <ArrowRight
              size="sm"
              slot="icon"
            />
          </CommandbarButton>
        </li>
        <li
          id="option-3"
          role="option"
          tabindex="-1">
          <CommandbarButton
            text="Go to personal account integrations"
            iconSlot={true}>
            <ArrowRight
              size="sm"
              slot="icon"
            />
          </CommandbarButton>
        </li>
        <li
          id="option-4"
          role="option"
          tabindex="-1">
          <CommandbarButton
            text="Go to personal account activities"
            iconSlot={true}>
            <ArrowRight
              size="sm"
              slot="icon"
            />
          </CommandbarButton>
        </li>
      </ul>
      <ul
        class="p-2 space-y-3 overflow-y-auto max-h-96"
        id="options"
        role="listbox"
        tabindex="0">
        <li
          id="option-5"
          role="option"
          tabindex="0"
          aria-selected="false">
          <CommandbarButton
            text="Create another project"
            hasKbd={true}
            kbdKey="C"
            iconSlot={true}>
            <Plus
              size="sm"
              slot="icon"
            />
          </CommandbarButton>
        </li>
      </ul>
    </div>
  </div>
</section>
