---
import CommandbarButton from "@/components/fundations/buttons/CommandBarButton.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Search from "@/components/fundations/icons/Search.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import ArrowRight from "@/components/fundations/icons/ArrowRight.astro";
import Clipboard from "@/components/fundations/icons/Clipboard.astro";
---

<div
  class="flex items-center justify-center p-8 py-38.5 bg-white dark:bg-zinc-900"
>
  <!-- copy:start -->
  <div
    class="max-w-xl mx-auto w-full overflow-hidden bg-white dark:bg-zinc-800 shadow-lg transition-all transform divide-y divide-zinc-200 dark:divide-zinc-700 rounded-xl outline-1 outline-zinc-200 dark:outline-white/10"
  >
    <div class="relative">
      <label for="search-bar" class="sr-only">Search</label>
      <Search
        class="pointer-events-none absolute top-3.5 left-4 text-zinc-400"
        size="base"
        slot="icon"
      />
      <input
        id="search-bar"
        type="text"
        class="w-full h-12 pr-4 bg-transparent border-0 text-zinc-800 dark:text-zinc-100 placeholder-zinc-400 dark:placeholder-zinc-500 pl-11 focus:ring-0 sm:text-sm"
        placeholder="Search for anything"
        role="combobox"
        aria-expanded="false"
        aria-controls="options"
      />
    </div>
    <ul
      class="p-2 overflow-y-auto space-y-3 max-h-96"
      id="options"
      role="listbox"
      tabindex="0"
    >
      <li class="px-2">
        <Text
          tag="p"
          variant="textSM"
          class="font-medium text-zinc-500 dark:text-zinc-300"
        >
          Create another project
        </Text>
      </li>
      <li id="option-1" role="option" tabindex="-1">
        <CommandbarButton
          text="Copy current URL"
          iconSlot={true}
          class="hover:bg-zinc-50 dark:hover:bg-zinc-700"
        >
          <Clipboard size="sm" slot="icon" />
        </CommandbarButton>
      </li>
      <li class="px-2">
        <Text
          tag="p"
          variant="textSM"
          class="font-medium text-zinc-500 dark:text-zinc-300"
        >
          Scope
        </Text>
      </li>
      <li id="option-2" role="option" tabindex="-1">
        <CommandbarButton
          text="Go to personal account overview"
          iconSlot={true}
          class="hover:bg-zinc-50 dark:hover:bg-zinc-700"
        >
          <ArrowRight size="sm" slot="icon" />
        </CommandbarButton>
      </li>
      <li id="option-3" role="option" tabindex="-1">
        <CommandbarButton
          text="Go to personal account integrations"
          iconSlot={true}
          class="hover:bg-zinc-50 dark:hover:bg-zinc-700"
        >
          <ArrowRight size="sm" slot="icon" />
        </CommandbarButton>
      </li>
      <li id="option-4" role="option" tabindex="-1">
        <CommandbarButton
          text="Go to personal account activities"
          iconSlot={true}
          class="hover:bg-zinc-50 dark:hover:bg-zinc-700"
        >
          <ArrowRight size="sm" slot="icon" />
        </CommandbarButton>
      </li>
    </ul>
    <ul
      class="p-2 overflow-y-auto space-y-3 max-h-96"
      id="options"
      role="listbox"
      tabindex="0"
    >
      <li id="option-5" role="option" tabindex="0" aria-selected="false">
        <CommandbarButton
          text="Create another project"
          hasKbd={true}
          kbdKey="C"
          iconSlot={true}
          class="hover:bg-zinc-50 dark:hover:bg-zinc-700"
        >
          <Plus size="sm" slot="icon" />
        </CommandbarButton>
      </li>
    </ul>
  </div>
  <!-- copy:end -->
</div>
