---
const faq1 = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
];
const faq2 = [
  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
  {
    question: "Are there any storage limitations for files and documents?",
    answer:
      "Our platform provides ample storage space for your files and documents. However, there may be storage limitations based on the pricing plan you choose. We offer flexible plans to suit your needs and provide options to upgrade if you require additional storage capacity.",
  },
  {
    question: "Is it possible to export my data from the platform?",
    answer:
      "Yes, you can export your data from the platform. We offer export features that allow you to download your messages, files, and documents, ensuring you have a local copy for backup or migration purposes. It provides you with greater control and flexibility over your data.",
  },
];
const faq3 = [
  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div>
        <span
          class="tracking-tight text-lg font-medium  text-gray-900"
          >faq</span
        >
        <h1
          class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
          Frequently Asked Questions
        </h1>
        <p class="mt-6 text-base font-medium text-gray-500">
          Everything you need to know about our platform.
        </p>
        <div class="flex mt-8">
          <button
            class="text-blue-600 flex items-center gap-3 hover:text-gray-900 transition-all duration-200 text-sm"
            aria-label="Action">
            Learn more
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M9 6l6 6l-6 6"></path>
            </svg>
          </button>
        </div>
      </div>

      <div class="justify-start w-full lg:col-span-2">
        <div x-data="{ tab: 'tab1' }">
          <ul class="flex gap-4 lg:gap-8 text-sm text-gray-900 border-b">
            <li class="-mb-px">
              <!-- event handler set state to 'tab1' and add conditional :class for active state -->
              <a
                @click.prevent="tab = 'tab1'"
                href="#_"
                class="inline-block py-2 font-medium bg-white text-blue-500 border-b-2 border-blue-500"
                :class="{ ' bg-white text-blue-500 border-b-2 border-blue-500' : tab === 'tab1' }">
                General
              </a>
            </li>
            <li class="-mb-px">
              <a
                @click.prevent="tab = 'tab2'"
                href="#_"
                class="inline-block py-2 font-medium"
                :class="{ ' bg-white text-blue-500 border-b-2 border-blue-500' : tab === 'tab2' }">
                Support
              </a>
            </li>
            <li class="-mb-px">
              <a
                @click.prevent="tab = 'tab3'"
                href="#_"
                class="inline-block py-2 font-medium"
                :class="{ ' bg-white text-blue-500 border-b-2 border-blue-500' : tab === 'tab3' }">
                License</a
              >
            </li>
          </ul>
          <div class="py-4 pt-4 text-left bg-white content">
            <!-- Tab 1 content -->
            <div
              x-show="tab==='tab1'"
              class="text-gray-500">
              <div class="space-y-8 lg:col-span-2">
                {
                  faq1.map((faq) => (
                    <div>
                      <div class="tracking-tight text-lg font-medium  text-gray-900 ">
                        {faq.question}
                      </div>
                      <div class="mt-2 text-base text-gray-500">
                        {faq.answer}
                      </div>
                    </div>
                  ))
                }
              </div>
            </div>
            <!-- Tab 2 content -->
            <div
              x-show="tab==='tab2'"
              class="text-gray-500"
              style="display: none;">
              <div class="space-y-8 lg:col-span-2">
                {
                  faq2.map((faq) => (
                    <div>
                      <div class="tracking-tight text-lg font-medium  text-gray-900 ">
                        {faq.question}
                      </div>
                      <div class="mt-2 text-sm text-gray-500">{faq.answer}</div>
                    </div>
                  ))
                }
              </div>
            </div>
            <!-- Tab 3 content -->
            <div
              x-show="tab==='tab3'"
              class="text-gray-500"
              style="display: none;">
              <div class="space-y-8 lg:col-span-2">
                {
                  faq3.map((faq) => (
                    <div>
                      <div class="tracking-tight text-lg font-medium  text-gray-900 ">
                        {faq.question}
                      </div>
                      <div class="mt-2 text-sm text-gray-500">{faq.answer}</div>
                    </div>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
