---
const faq1 = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message. ",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
];
const faq2 = [
  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },

  {
    question: "Are there any storage limitations for files and documents?",
    answer:
      "Our platform provides ample storage space for your files and documents. However, there may be storage limitations based on the pricing plan you choose. We offer flexible plans to suit your needs and provide options to upgrade if you require additional storage capacity.",
  },
  {
    question: "Is it possible to export my data from the platform?",
    answer:
      "Yes, you can export your data from the platform. We offer export features that allow you to download your messages, files, and documents, ensuring you have a local copy for backup or migration purposes. It provides you with greater control and flexibility over your data.",
  },
];
const faq3 = [
  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer: "Yes, you can access our platform on multiple devices. ",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div>
      <span
        class="tracking-tight text-lg font-medium  text-gray-900"
        >faq</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
        Frequently Asked Questions
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500">
        Everything you need to know about our platform.
      </p>
    </div>

    <div class="justify-start w-full lg:col-span-2 mt-12">
      <div
        x-data="{ tab: 'tab1' }"
        class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <ul class="flex flex-col  text-sm text-gray-900">
          <li class="-mb-px">
            <!-- event handler set state to 'tab1' and add conditional :class for active state -->
            <a
              @click.prevent="tab = 'tab1'"
              href="#_"
              class="inline-flex pl-4 py-2 tracking-tight border-l text-lg font-medium text-gray-900 w-full h-12 items-center"
              :class="{ '  text-blue-500  border-l-2 border-blue-500' : tab === 'tab1' }">
              General questions</a
            >
          </li>
          <li class="-mb-px">
            <a
              @click.prevent="tab = 'tab2'"
              href="#_"
              class="inline-flex pl-4 py-2 tracking-tight border-l text-lg font-medium text-gray-900 w-full h-12 items-center"
              :class="{ ' text-blue-500  border-l-2 border-blue-500' : tab === 'tab2' }">
              Support team</a
            >
          </li>
          <li class="-mb-px">
            <a
              @click.prevent="tab = 'tab3'"
              href="#_"
              class="inline-flex pl-4 py-2 tracking-tight border-l text-lg font-medium text-gray-900 w-full h-12 items-center"
              :class="{ ' text-blue-500  border-l-2 border-blue-500' : tab === 'tab3' }">
              License</a
            >
          </li>
        </ul>
        <div class="text-left conten lg:col-span-2">
          <!-- Tab 1 content -->
          <div
            x-show="tab==='tab1'"
            class="text-gray-500">
            <div class="lg:col-span-2 divide-y">
              {
                faq1.map((faq, index) => (
                  <details class="group cursor-pointer py-4">
                    <summary
                      class="flex items-center justify-between w-full   text-left select-none tracking-tight text-lg font-medium text-gray-900 hover:text-blue-500
                    focus:text-blue-500">
                      <div class="flex items-center gap-4">
                        <span class="size-6 text-xs shrink-0  rounded-full flex items-center justify-center  bg-gradient-to-b from-blue-500 to-indigo-600 text-white">
                          {index + 1}
                        </span>
                        {faq.question}
                      </div>
                      <svg
                        class="size-5 duration-300 ease-out  transform group-open:-rotate-45"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M12 6v12m6-6H6"
                        />
                      </svg>
                    </summary>
                    <div class="py-4 pt-2 pl-10 text-base text-gray-500">
                      {faq.answer}
                    </div>
                  </details>
                ))
              }
            </div>
          </div>
          <!-- Tab 2 content -->
          <div
            x-show="tab==='tab2'"
            class="text-gray-500"
            style="display: none;">
            <div class="lg:col-span-2 divide-y">
              {
                faq2.map((faq, index) => (
                  <details class="group cursor-pointer py-4">
                    <summary
                      class="flex items-center justify-between w-full   text-left select-none tracking-tight text-lg font-medium text-gray-900 hover:text-blue-500
                    focus:text-blue-500">
                      <div class="flex items-center gap-4">
                        <span class="size-6 text-xs shrink-0  rounded-full flex items-center justify-center  bg-gradient-to-b from-blue-500 to-indigo-600 text-white">
                          {index + 1}
                        </span>
                        {faq.question}
                      </div>
                      <svg
                        class="size-5 duration-300 ease-out  transform group-open:-rotate-45"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M12 6v12m6-6H6"
                        />
                      </svg>
                    </summary>
                    <div class="py-4 pt-2 pl-10 text-base text-gray-500">
                      {faq.answer}
                    </div>
                  </details>
                ))
              }
            </div>
          </div>
          <!-- Tab 3 content -->
          <div
            x-show="tab==='tab3'"
            class="text-gray-500"
            style="display: none;">
            <div class="lg:col-span-2 divide-y">
              {
                faq3.map((faq, index) => (
                  <details class="group cursor-pointer py-4">
                    <summary
                      class="flex items-center justify-between w-full   text-left select-none tracking-tight text-lg font-medium text-gray-900 hover:text-blue-500
                    focus:text-blue-500">
                      <div class="flex items-center gap-4">
                        <span class="size-6 text-xs shrink-0  rounded-full flex items-center justify-center  bg-gradient-to-b from-blue-500 to-indigo-600 text-white">
                          {index + 1}
                        </span>
                        {faq.question}
                      </div>
                      <svg
                        class="size-5 duration-300 ease-out  transform group-open:-rotate-45"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M12 6v12m6-6H6"
                        />
                      </svg>
                    </summary>
                    <div class="py-4 pt-2 pl-10 text-base text-gray-500">
                      {faq.answer}
                    </div>
                  </details>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
