---
import Text from "@/components/fundations/typography/Text.astro";
import { Image } from "astro:assets";
import { formatDistanceToNowStrict } from "date-fns";

import type { Template } from "@/data/entries.json";
import updates from "@/data/updates.json";

interface Props {
  entries: Template[];
}

const { entries } = Astro.props; // Make sure entries is correctly passed and used
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/**/*.{jpeg,jpg,png,gif}"
);
const components = await Astro.glob("@/components/oxbow/**/*.astro");
const componentBySection = components.reduce((acc, component) => {
  const [section, subsection] = component.file
    .replace(/.*\/src\/components\/oxbow\//, "")
    .split("/");
  const path = ["/playground", section, subsection].filter(Boolean).join("/");
  return {
    ...acc,
    [path]: acc[path] ? acc[path] + 1 : 1,
  };
}, {});
// Add quantity to each entry
const entriesWithQuantity = entries
  .map((entry: Template) => {
    const imagePath = `/src/images/${entry.image}`;
    if (!images[imagePath])
      throw new Error(
        `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
      );
    return {
      ...entry,
      image: images[imagePath],
      quantity: componentBySection[entry.link] || 0,
    };
  })
  // Filter out entries with quantity 0
  .filter((entry) => entry.quantity > 0);

const updatedSubsections = Object.keys(updates).reduce((acc, path) => {
  const [section, subsection] = path.split("/");
  acc[subsection] = acc[subsection]
    ? acc[subsection] > updates[path]
      ? acc[subsection]
      : updates[path]
    : updates[path];
  return acc;
}, {});

const SEVEN_DAYS_AGO = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);
---

<ul
  class="grid grid-cols-1 col-span-4 gap-x-6 gap-y-6 sm:grid-cols-2 sm:gap-y-10 md:grid-cols-3 xl:gap-x-8"
>
  {
    entriesWithQuantity.map((template) => {
      const subsection = template.link.split("/").pop();
      const updated = updatedSubsections[subsection];

      const updatedAt = new Date(updated * 1000);

      const isUpdatedLastWeek = updatedAt > SEVEN_DAYS_AGO;

      return (
        <li class="relative ">
          <div class="relative rounded-lg group ">
            <Image
              class="object-cover object-bottom rounded-xl ring-4 ring-base-50 group-hover:ring-base-100 transition-all duration-300 ease-in-out"
              alt={template.name}
              src={template.image()}
            />
            <div class="flex flex-col mt-2 ">
              <a
                class="flex items-center justify-between gap-2"
                title={template.name}
                href={template.link}
              >
                <Text
                  tag="p"
                  variant="textSM"
                  class="relativefont-medium 2xl:text-base text-base-900 group-hover:text-accent-500"
                >
                  {template.name}
                </Text>
                {isUpdatedLastWeek && (
                  <div class="relative" x-data="{ showTooltip: false }">
                    <span
                      @mouseenter="showTooltip = true"
                      @mouseleave="showTooltip = false"
                      class="inline-flex items-center font-medium z-10 text-accent-500 bottom-2 right-2 bg-base-50 px-2.5 py-1 text-xs rounded-md"
                    >
                      Updated
                    </span>
                    <div
                      x-show="showTooltip"
                      class="absolute bottom-full text-center right-0 mb-1 bg-white text-accent-500 text-xs px-2 py-1 rounded-md shadow-md min-w-24"
                    >
                      {formatDistanceToNowStrict(updatedAt, {
                        unit: "day",
                        roundingMethod: "ceil",
                      })}
                      {" ago"}
                    </div>
                  </div>
                )}
              </a>
              <Text
                tag="p"
                variant="textXS"
                class="relative flex items-center gap-1  font-medium 2xl:text-sm text-base-400"
              >
                {template.quantity} Components
              </Text>
            </div>
          </div>
        </li>
      );
    })
  }
</ul>
