---
import { Image } from "astro:assets";
import type { Template } from "@/data/entries.json";
interface Props {
  entries: Template[];
}
const { entries } = Astro.props; // Make sure entries is correctly passed and used
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/**/*.{jpeg,jpg,png,gif}"
);
const components = await Astro.glob("@/components/oxbow/**/*.astro");
const componentBySection = components.reduce((acc, component) => {
  const [section, subsection] = component.file
    .replace(/.*\/src\/components\/oxbow\//, "")
    .split("/");
  const path = ["/playground", section, subsection].filter(Boolean).join("/");
  return {
    ...acc,
    [path]: acc[path] ? acc[path] + 1 : 1,
  };
}, {});
// Add quantity to each entry
const entriesWithQuantity = entries
  .map((entry: Template) => {
    const imagePath = `/src/images/${entry.image}`;
    if (!images[imagePath])
      throw new Error(
        `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
      );
    return {
      ...entry,
      image: images[imagePath],
      quantity: componentBySection[entry.link] || 0,
    };
  })
  // Filter out entries with quantity 0
  .filter((entry) => entry.quantity > 0);
---

<ul
  class="col-span-3 grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-2 sm:gap-y-10 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-4 xl:gap-x-8">
  {
    entriesWithQuantity.map((template) => (
      <li class="relative ">
        <div class="group relative group rounded-lg ">
          <Image
            class="object-bottom  object-cover  "
            alt={template.name}
            src={template.image()}
          />
          <div class="flex items-center justify-between mt-2  ">
            <p class=" text-sm 2xl:text-base font-medium text-base-900 group-hover:text-accent-600">
              <a
                class="flex justify-between gap-2 items-center"
                title={template.name}
                href={template.link}>
                <span class="absolute -inset-2.5 z-10" />
                <span class="relative">{template.name}</span>
                <span class="inline-flex  items-center font-medium z-10 text-accent-500 sr-only bottom-2 right-2 bg-base-50 px-2.5 py-1 text-xs rounded-md">
                  New
                </span>
              </a>
            </p>
            <p class="relative flex items-center gap-1 text-xs 2xl:text-sm font-medium text-base-400">
              {template.quantity}
              <svg
                xmlns="http://www.w3.org/2000/svg"

                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-components size-3">
                <>
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  />
                  <path d="M3 12l3 3l3 -3l-3 -3z" />
                  <path d="M15 12l3 3l3 -3l-3 -3z" />
                  <path d="M9 6l3 3l3 -3l-3 -3z" />
                  <path d="M9 18l3 3l3 -3l-3 -3z" />
                </>
              </svg>
            </p>
          </div>
        </div>
      </li>
    ))
  }
</ul>
