---
import { Image } from "astro:assets";
import { reviews } from "@/data/reviews.json";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Randomize the reviews array
const randomizedReviews = [...reviews].sort(() => Math.random() - 0.5);
---

<section>
  <Wrapper variant="standard">
    <Wrapper variant="narrow">
      <ul
        class="relative w-full flex flex-col divide-y divide-zinc-200 border-y border-zinc-200"
        role="list"
      >
        {
          randomizedReviews.slice(0, 3).map((template) => (
            <li class="flex flex-col py-4 ">
              <div class="flex flex-col justify-between h-full gap-6 ">
                <Text
                  tag="p"
                  variant="textSM"
                  class="mt-2 text-sm text-zinc-500 "
                >
                  "{template.text}"
                </Text>
                <div class="inline-flex items-center gap-3">
                  <div class="flex-shrink-0">
                    <Image
                      alt={template.name}
                      src={template.image}
                      width={200}
                      height={200}
                      class="rounded-full size-10  grayscale"
                    />
                  </div>
                  <div class="flex-1 min-w-0 ">
                    <Text
                      tag="p"
                      variant="textSM"
                      class="text-black capitalize "
                    >
                      {template.name}
                    </Text>
                    <Text
                      tag="p"
                      variant="textXS"
                      class="capitalize text-zinc-400 "
                    >
                      {template.work}
                    </Text>
                  </div>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
      <Button
        size="xs"
        variant="oxbowMuted"
        isLink
        href="/customers"
        class="w-fit mt-2"
      >
        Read then all
      </Button>
    </Wrapper>
  </Wrapper>
</section>
