---
import { Image } from "astro:assets";
import { reviews } from "@/data/reviews.json";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Randomize the reviews array
const randomizedReviews = [...reviews].sort(() => Math.random() - 0.5);
---

<section class="border-t border-base-200">
  <Wrapper variant="standard" class="lg:border-x lg:border-base-200">
    <div
      class="flex justify-center p-12 lg:py-16 rounded-xl shadow-oxbow  bg-white"
    >
      {
        randomizedReviews.slice(0, 1).map((template) => (
          <div class="relative flex flex-col gap-2 ">
            <Text
              tag="h3"
              variant="displaySM"
              class=" font-medium text-balance text-black text-center md:[word-spacing:0.025em]"
            >
              "{template.text}"
            </Text>
            <div class="flex items-center justify-center mt-8  gap-4">
              <Image
                src={template.image}
                alt={template.name}
                width={1000}
                height={1000}
                class="object-cover object-top rounded-full size-14"
              />
              <div class=" text-base-500">
                <Text tag="p" variant="textSM">
                  {template.name}
                </Text>
                <Text tag="p" variant="textSM">
                  {template.work}
                </Text>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
