---
import { Image } from "astro:assets";
import { reviews } from "@/data/reviews.json";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Randomize the reviews array
const randomizedReviews = [...reviews].sort(() => Math.random() - 0.5);
---

<section>
  <Wrapper variant="standard" class="py-12">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-12">
      {
        randomizedReviews.slice(0, 3).map((template) => (
          <div class="relative flex flex-col justify-between h-full">
            <Text
              tag="h3"
              variant="textSM"
              class="font-medium  text-base-500 text-balance"
            >
              "{template.text}"
            </Text>
            <div class="flex items-center pt-4 mt-4 border-t gap-2 border-base-200 ">
              <Image
                src={template.image}
                alt={template.name}
                width={1000}
                height={1000}
                class="object-cover object-top rounded-full size-10"
              />
              <div class=" text-base-500">
                <Text tag="p" variant="textSM">
                  {template.name}
                </Text>
                <Text tag="p" variant="textSM">
                  {template.work}
                </Text>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
