---
export const description = "Simple pricing section";
// Components
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Plus from "@/components/fundations/icons/Plus.astro";
import Lock from "@/components/fundations/icons/Lock.astro";
import Bulb from "@/components/fundations/icons/Bulb.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
import ApiApp from "@/components/fundations/icons/ApiApp.astro";
import UserPlus from "@/components/fundations/icons/UserPlus.astro";
import UsersGroup from "@/components/fundations/icons/UsersGroup.astro";
import SettingsExclamation from "@/components/fundations/icons/SettingsExclamation.astro";
// Pricing array with direct icon components
const pricingOptions = [
  {
    id: "core",
    title: "Core",
    monthly: "$29.00",
    annual: "$19.00",
    description:
      "For solo builders, side project warriors, and anyone who just wants the essentials without the enterprise bloat.",
    button: {
      text: "Get Started",
      variant: "alternative",
    },
    features: [
      { icon: UsersGroup, text: "1 Teams" },
      { icon: SettingsExclamation, text: "50 issues" },
      { icon: UserPlus, text: "Unlimited members" },
      { icon: ApiApp, text: "Slack, GitHub, and API access" },
    ],
  },
  {
    id: "momentum",
    title: "Momentum",
    monthly: "$49.00",
    annual: "$39.00",
    description:
      "Perfect for growing teams that need more power, more flexibility, and fewer excuses to miss a deadline.",
    button: {
      text: "Get Started",
      variant: "accent",
    },
    features: [
      { icon: Plus, text: "All Core plan features" },
      { icon: Bulb, text: "Insights" },
      { icon: UserPlus, text: "Unlimited teams" },
      { icon: Lock, text: "Private teams and guest" },
    ],
  },
];
---

<section x-data="{ duration: 'monthly' }" class="bg-base-50">
  <Wrapper variant="blockStandard" class="py-24">
    <div class="max-w-xl mx-auto text-center">
      <Text
        tag="h1"
        variant="displayMD"
        class="font-medium tracking-tight text-base-900 text-balance"
      >
        Give your team tools that don’t suck
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-2 font-medium text-base-600 text-balance"
      >
        Start with what you need, skip what you don’t. Scale up when
        spreadsheets stop cutting it.
      </Text>
      <!-- Pricing Toggle -->
      <div
        aria-labelledby="pricing-toggle"
        class="relative z-0 inline-flex justify-center w-full p-1 mx-auto mt-8 overflow-hidden bg-white shadow ring-1 ring-base-200 ring-offset-2 gap-4 lg:mx-0 rounded-md max-w-52"
      >
        <div
          class="absolute inset-0 bg-base-50 rounded-md transition-transform duration-200 ease-in-out"
          :class="duration === 'monthly' ? 'w-1/2 translate-x-0' : 'w-1/2 translate-x-full'"
        >
        </div>
        <button
          class="relative z-10 flex items-center justify-center w-full h-6 px-2 text-xs font-medium focus:outline-none transition-colors duration-300"
          :class="duration === 'monthly' ? 'text-base-600' : 'focus:text-base-900 hover:text-base-900'"
          @click="duration = 'monthly'"
          type="button"
          :aria-pressed="duration === 'monthly'"
        >
          Monthly
        </button>
        <button
          class="relative z-10 flex items-center justify-center w-full h-6 px-2 text-xs font-medium focus:outline-none transition-colors duration-300"
          :class="duration === 'annual' ? 'text-base-600' : 'focus:text-base-900 hover:text-base-900'"
          @click="duration = 'annual'"
          type="button"
          :aria-pressed="duration === 'annual'"
        >
          Annual
        </button>
      </div>
    </div>
    <!-- Pricing Cards -->
    <div class="max-w-2xl mx-auto mt-12 grid grid-cols-1 gap-4 sm:grid-cols-2">
      {
        pricingOptions.map((tier) => (
          <div class="flex flex-col justify-between h-full p-8 bg-white shadow outline outline-base-200 rounded-xl">
            <div>
              <div class="flex flex-col">
                <Text
                  tag="h3"
                  variant="textBase"
                  class="font-medium text-base-900"
                >
                  {tier.title}
                </Text>
                <Text
                  variant="displaySM"
                  class="flex items-baseline mt-4 font-medium tracking-tighter text-base-900"
                >
                  <span
                    data-monthly={tier.monthly}
                    data-annual={tier.annual}
                    x-text="$el.dataset[duration]"
                  />
                  <span class="text-sm font-normal tracking-normal  text-base-500">
                    <span x-show="duration === 'monthly'">/month</span>
                    <span x-show="duration === 'annual'" style="display: none;">
                      /annually
                    </span>
                  </span>
                </Text>
                <Text tag="p" variant="textSM" class="mt-2 text-base-500">
                  {tier.description}
                </Text>
                <div class="w-full mt-4">
                  <Button
                    class="w-full"
                    variant={tier.button.variant}
                    size="sm"
                  >
                    {tier.button.text}
                  </Button>
                </div>
              </div>
              <div class="mt-8">
                <Text
                  tag="p"
                  variant="textXS"
                  class="font-medium uppercase  text-base-500"
                >
                  {tier.title === "Momentum"
                    ? "Everything in Core plus:"
                    : "Core plan includes:"}
                </Text>
                <ul
                  class="flex flex-col mt-4 text-sm text-base-600 gap-y-3 "
                  role="list"
                >
                  {tier.features.map((feature, index) => (
                    <li class="flex items-center gap-2">
                      <feature.icon size="sm" />
                      <span>{feature.text}</span>
                    </li>
                  ))}
                </ul>
              </div>
            </div>
            <div class="flex items-center pt-4 mt-4 border-t gap-2 border-base-200">
              <CircleCheck size="sm" class="text-accent-500" />
              <Text tag="p" variant="textSM" class="font-medium  text-base-500">
                No credit card required
              </Text>
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
