---
export const description =
  "Pricing section with three cards and feature comparison table ";

export const excludeFromObfuscation = [
  "w-1/2",
  "translate-x-0",
  "translate-x-full",
  "text-zinc-600",
  "focus:text-zinc-900",
  "hover:text-zinc-900",
];

// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
// Icons (import all used ones)
import Eye from "@/components/fundations/icons/Eye.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import Lock from "@/components/fundations/icons/Lock.astro";
import Bulb from "@/components/fundations/icons/Bulb.astro";
import Tool from "@/components/fundations/icons/Tool.astro";
import Apps from "@/components/fundations/icons/Apps.astro";
import Check from "@/components/fundations/icons/Check.astro";
import Tools from "@/components/fundations/icons/Tools.astro";
import Brain from "@/components/fundations/icons/Brain.astro";
import Clock from "@/components/fundations/icons/Clock.astro";
import Shield from "@/components/fundations/icons/Shield.astro";
import ApiApp from "@/components/fundations/icons/ApiApp.astro";
import Report from "@/components/fundations/icons/Report.astro";
import UserPlus from "@/components/fundations/icons/UserPlus.astro";
import Lifebuoy from "@/components/fundations/icons/Lifebuoy.astro";
import Database from "@/components/fundations/icons/Database.astro";
import UsersGroup from "@/components/fundations/icons/UsersGroup.astro";
import InfoCircle from "@/components/fundations/icons/InfoCircle.astro";
import CreditCard from "@/components/fundations/icons/CreditCard.astro";
import ArrowIteration from "@/components/fundations/icons/ArrowIteration.astro";
import SettingsExclamation from "@/components/fundations/icons/SettingsExclamation.astro";
import AdjustmentsHorizontal from "@/components/fundations/icons/AdjustmentsHorizontal.astro";
const pricingOptions = [
  {
    id: "core",
    cardClass: "bg-white outline-zinc-200",
    primaryTextColor: "text-zinc-900",
    secondaryTextColor: "text-zinc-500",
    featuresBorderColor: "border-zinc-200",
    title: "Core",
    monthly: "$29.00",
    annual: "$19.00",
    description: "For solo builders and side project warriors",
    button: {
      text: "Get Started",
      variant: "alternative",
    },
    features: [
      { icon: UserPlus, text: "Unlimited members" },
      { icon: UsersGroup, text: "1 Teams" },
      { icon: SettingsExclamation, text: "50 issues" },
      { icon: ApiApp, text: "Slack, GitHub, and API access" },
      { icon: Tools, text: "Basic reporting tools" },
      { icon: Lifebuoy, text: "Community support" },
      { icon: AdjustmentsHorizontal, text: "Basic customization options" },
    ],
  },
  {
    id: "momentum",
    cardClass: "bg-blue-600  outline-blue-700",
    primaryTextColor: "text-white",
    secondaryTextColor: "text-zinc-200",
    featuresBorderColor: "border-blue-500",

    title: "Momentum",
    monthly: "$49.00",
    annual: "$39.00",
    description: "Perfect for growing teams that need more.",
    button: {
      text: "Get Started",
      variant: "muted",
    },
    features: [
      { icon: Plus, text: "All Core plan features" },
      { icon: UserPlus, text: "Unlimited teams" },
      { icon: Lock, text: "Private teams and guest" },
      { icon: Bulb, text: "Insights" },
      { icon: ArrowIteration, text: "Integrations" },
      { icon: Report, text: "Advanced reporting and analytics" },
      { icon: Shield, text: "Custom branding options" },
      { icon: Tool, text: "Collaboration tools" },
      { icon: Apps, text: "Mobile app access" },
      { icon: Database, text: "File storage" },
    ],
  },
  {
    id: "velocity",
    cardClass: "bg-white  outline-zinc-200",
    primaryTextColor: "text-zinc-900",
    secondaryTextColor: "text-zinc-500",
    featuresBorderColor: "border-zinc-200",

    title: "Velocity",
    monthly: "$99.00",
    annual: "$79.00",
    description: "Designed for fast-moving teams and startups.",
    button: {
      text: "Upgrade Now",
      variant: "alternative",
    },
    features: [
      { icon: Plus, text: "All Momentum plan features" },
      { icon: Brain, text: "Priority infrastructure resources" },
      { icon: Clock, text: "SSO and enterprise auth" },
      { icon: Database, text: "Advanced security and permissions" },
      { icon: InfoCircle, text: "Real-time performance dashboards" },
      { icon: CreditCard, text: "24/7 premium support" },
      { icon: Eye, text: "Launch planning and onboarding" },
    ],
  },
];
---

<section x-data="{duration: 'monthly'}" class="bg-zinc-50">
  <div class="p-8">
    <div class="max-w-xl mx-auto text-center">
      <Text
        tag="h1"
        variant="displayMD"
        class="font-medium tracking-tight text-zinc-900 text-balance"
      >
        Tools your team will actually use
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-2 font-medium text-zinc-600 text-balance"
      >
        Skip the bloat, skip the learning curve. When the docs are shorter than
        your to-do list, you know it's good.
      </Text>

      <!-- Pricing Toggle -->
      <div
        aria-labelledby="pricing-toggle"
        class="relative z-0 inline-flex justify-center w-full p-1 mx-auto mt-8 overflow-hidden bg-white shadow ring-1 ring-zinc-200 ring-offset-2 gap-4 lg:mx-0 rounded-md max-w-52"
      >
        <div
          class="absolute inset-0 bg-zinc-50 rounded-md transition-transform duration-200 ease-in-out"
          :class="duration === 'monthly' ? 'w-1/2 translate-x-0' : 'w-1/2 translate-x-full'"
        >
        </div>

        <button
          class="relative z-10 flex items-center justify-center w-full h-6 px-2 text-xs font-medium focus:outline-none transition-colors duration-300"
          :class="duration === 'monthly' ? 'text-zinc-600' : 'focus:text-zinc-900 hover:text-zinc-900'"
          @click="duration = 'monthly'"
          type="button"
          :aria-pressed="duration === 'monthly'"
        >
          Monthly
        </button>

        <button
          class="relative z-10 flex items-center justify-center w-full h-6 px-2 text-xs font-medium focus:outline-none transition-colors duration-300"
          :class="duration === 'annual' ? 'text-zinc-600' : 'focus:text-zinc-900 hover:text-zinc-900'"
          @click="duration = 'annual'"
          type="button"
          :aria-pressed="duration === 'annual'"
        >
          Annual
        </button>
      </div>
    </div>

    <!-- Pricing Cards -->
    <div class="mt-12 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
      {
        pricingOptions.map((tier) => (
          <div
            class={`flex flex-col p-8  outline  rounded-xl shadow  ${tier.cardClass}`}
          >
            <div class="flex flex-col">
              <Text
                tag="h3"
                variant="textBase"
                class={` font-medium text-zinc-900 ${tier.primaryTextColor}`}
              >
                {tier.title}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class={`mt-2 ${tier.secondaryTextColor}`}
              >
                {tier.description}
              </Text>
              <Text
                variant="displaySM"
                class={`font-medium flex items-baseline tracking-tighter mt-4 ${tier.primaryTextColor}`}
              >
                <span
                  data-monthly={tier.monthly}
                  data-annual={tier.annual}
                  x-text="$el.dataset[duration]"
                />
                <span
                  class={`text-sm font-normal  tracking-normal ${tier.secondaryTextColor}`}
                >
                  <span x-show="duration === 'monthly'">/month</span>
                  <span x-show="duration === 'annual'" style="display: none;">
                    /annually
                  </span>
                </span>
              </Text>
              <div class="w-full mt-4">
                <Button class="w-full" variant={tier.button.variant} size="sm">
                  {tier.button.text}
                </Button>
              </div>
            </div>

            <div class={`mt-8 pt-8 border-t ${tier.featuresBorderColor}  `}>
              <Text
                tag="p"
                variant="textXS"
                class={`font-medium uppercase ${tier.secondaryTextColor}`}
              >
                {tier.title === "Momentum"
                  ? "Everything in Core plus:"
                  : "Core plan includes:"}
              </Text>
              <ul
                class={`flex flex-col mt-4 text-sm  gap-y-3 ${tier.primaryTextColor}`}
                role="list"
              >
                {tier.features.map((feature, index) => (
                  <li class="flex items-center gap-2">
                    <feature.icon size="sm" />
                    <span>{feature.text}</span>
                  </li>
                ))}
              </ul>
            </div>
          </div>
        ))
      }
    </div>
    <div class="hidden mt-12 lg:block">
      <div class="pb-4 mt-20 border-b border-zinc-200">
        <Text tag="p" variant="textXL" class="font-medium text-zinc-900">
          Price comparison
        </Text>
        <p class="text-2xl font-semibold tracking-tight text-zinc-900"></p>
      </div>
      <!---- Use only from xl: -->
      <div>
        <table class="w-full mx-auto text-center bg-transparent">
          <thead>
            <tr class="align-top border-b border-zinc-200">
              <th
                class="w-1/4 py-4 text-sm font-medium text-left leading-6 text-zinc-900"
                >Usage
              </th>
              <th
                class="w-1/4 py-4 text-sm font-medium leading-6 text-zinc-900"
              >
                Core
              </th>
              <th
                class="w-1/4 py-4 text-sm font-medium leading-6 text-zinc-900"
              >
                Momentum
              </th>
              <th
                class="w-1/4 py-4 text-sm font-medium leading-6 text-zinc-900"
              >
                Velocity
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="py-3 text-sm font-medium text-left text-zinc-900">
                <div class="flex items-center gap-2">
                  <Check size="sm" />
                  Analytics
                </div>
              </th>
              <td class="px-2 text-xs font-medium text-zinc-900 bg-zinc-50"
                >3</td
              >
              <td
                class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
                >10</td
              >
              <td class="px-2 text-xs font-medium text-zinc-900 bg-white"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Accounts
                </div>
              </th>
              <td
                class="px-2 text-xs font-medium border-t text-zinc-900 bg-zinc-50 border-zinc-200"
                >5</td
              >
              <td
                class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
                >10</td
              >
              <td
                class="px-2 text-xs font-medium text-zinc-900 border-t bg-white border-white/10"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Integrations
                </div>
              </th>
              <td
                class="px-2 text-xs font-medium border-t text-zinc-900 bg-zinc-50 border-zinc-200"
                >2</td
              >
              <td
                class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
              >
                YES
              </td>
              <td
                class="px-2 text-xs font-medium text-zinc-900 border-t bg-white border-white/10"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Programs
                </div>
              </th>
              <td
                class="px-2 text-xs font-medium border-t text-zinc-900 bg-zinc-50 border-zinc-200"
              >
                NO
              </td>
              <td
                class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
                >1</td
              >
              <td
                class="px-2 text-xs font-medium text-zinc-900 border-t bg-white border-white/10"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Deployments
                </div>
              </th>
              <td
                class="px-2 text-xs font-medium border-t text-zinc-900 bg-zinc-50 border-zinc-200"
              >
                NO
              </td>
              <td
                class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
              >
                YES
              </td>
              <td
                class="px-2 text-xs font-medium text-zinc-900 border-t bg-white border-white/10"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Advanced Checkpoints
                </div>
              </th>
              <td
                class="px-2 text-xs font-medium border-t text-zinc-900 bg-zinc-50 border-zinc-200"
              >
                NO
              </td>
              <td
                class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
              >
                YES
              </td>
              <td
                class="px-2 text-xs font-medium text-zinc-900 border-t bg-white border-white/10"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Reporting tools
                </div>
              </th>
              <td
                class="px-2 text-xs font-medium border-t text-zinc-900 bg-zinc-50 border-zinc-200"
              >
                NO
              </td>
              <td
                class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
              >
                YES
              </td>
              <td
                class="px-2 text-xs font-medium text-zinc-900 border-t bg-white border-white/10"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200"
                ><div class="flex items-center gap-2">
                  <Check size="sm" />Support
                </div></th
              >
              <td
                class="px-2 text-xs font-medium border-t text-zinc-900 bg-zinc-50 border-zinc-200"
                >Discord community</td
              >
              <td
                class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
                >Live chat</td
              >
              <td
                class="px-2 text-xs font-medium text-zinc-900 border-t bg-white border-white/10"
                >Unlimited</td
              >
            </tr>

            <tr class="overflow-hidden">
              <th
                scope="colgroup"
                colspan="4"
                class="py-4 text-sm font-medium text-left leading-6 text-zinc-900 border-y border-zinc-200"
              >
                Features
              </th>
            </tr>

            <tr>
              <th class="py-3 text-sm font-medium text-left text-zinc-900">
                <div class="flex items-center gap-2">
                  <Check size="sm" />
                  Service agreement
                </div>
              </th>
              <td class="px-2 text-xs font-medium text-zinc-900 bg-zinc-50"
                >No</td
              >
              <td
                class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
                >No</td
              >
              <td class="px-2 text-xs font-medium text-zinc-900 bg-white"
                >YES</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Dedicted Manager
                </div>
              </th>
              <td
                class="px-2 text-xs font-medium border-t text-zinc-900 bg-zinc-50 border-zinc-200"
                >No</td
              >
              <td
                class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
                >Yes</td
              >
              <td
                class="px-2 text-xs font-medium text-zinc-900 border-t bg-white border-white/10"
                >Yes</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Onboarding sessions
                </div>
              </th>
              <td
                class="px-2 text-xs font-medium border-t text-zinc-900 bg-zinc-50 border-zinc-200"
                >No</td
              >
              <td
                class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
              >
                No
              </td>
              <td
                class="px-2 text-xs font-medium text-zinc-900 border-t bg-white border-white/10"
                >Yes</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Dedicated support channel
                </div>
              </th>
              <td
                class="px-2 text-xs font-medium border-t text-zinc-900 bg-zinc-50 border-zinc-200 rounded-bl-3xl"
              >
                No
              </td>
              <td
                class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
                >No</td
              >
              <td
                class="px-2 text-xs font-medium text-zinc-900 border-t bg-white border-white/10 rounded-br-3xl"
                >Yes</td
              >
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
