---
import PricingToggleDark from "@/components/fundations/buttonGroups/PricingToggleDark.astro";
import Text from "@/components/fundations/typography/Text.astro";
import PricingCardsSingle from "@/components/fundations/pricing/PricingCardsSingle.astro";
---

<section x-data="{duration: 'monthly'}" class="bg-base-950">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-screen-xl relative">
    <div
      class="text-center md:text-left grid grid-cols-1 gap-12 md:grid-cols-2 md:items-end"
    >
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-500"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-white lg:text-balance"
        >
          Equip your business with world class software
        </Text>
      </div>
      <div class="md:ml-auto">
        <div
          aria-labelledby="pricing-toggle"
          class="w-full relative mt-8 ring-1 ring-base-800 ring-offset-2 ring-offset-base-950 bg-900 overflow-hidden justify-center gap-4 mx-auto lg:mx-0 inline-flex p-1 rounded-md max-w-52 shadow z-0"
        >
          <PricingToggleDark />
        </div>
      </div>
    </div>
    <div class="lg:-mx-20">
      <div
        class="grid grid-cols-1 gap-4 md:gap-0 sm:grid-cols-2 lg:grid-cols-4 mt-12 mx-auto lg:shadow lg:rounded-3xl overflow-hidden"
      >
        <PricingCardsSingle
          tierName="Core"
          roundedDesktop="left"
          colorMode="baseDark"
          isLeft={true}
        />
        <!-- Tier two -->
        <PricingCardsSingle
          tierName="Momentum"
          isPopular={true}
          roundedDesktop="none"
          colorMode="baseDark"
          isCentered={true}
        />
        <!-- Tier three -->
        <PricingCardsSingle
          tierName="Growth"
          isPopular={true}
          roundedDesktop="none"
          colorMode="accent"
          isCentered={true}
        />
        <!-- Tier four-->
        <PricingCardsSingle
          tierName="Apex"
          colorMode="baseDark"
          roundedDesktop="right"
          isRight={true}
        />
      </div>
    </div>
  </div>
</section>
