---
const data1 = [
  {
    name: "Mike Vega",
    title: "Creator of Windstatic.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc: "/avatars/1.avif",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    testimonial:
      "Windstatic is a platform that allows you to create a customized landing page for your business. ",
    imgSrc: "/avatars/2.avif",
  },
  {
    name: "Elona Muska",
    title: "Founder of Fesla",
    testimonial:
      "With Windstatic, we can create a customized landing page for our business that showcases our products and services in the best possible way.",
    imgSrc: "/avatars/3.avif",
  },
];
const data2 = [
  {
    name: "Sarah Jenkins",
    title: "Marketing Manager at BrightTech",
    testimonial:
      "Windstatic has significantly improved our online presence and customer engagement. The ease of creating a professional landing page is unmatched, and we've seen a significant increase in traffic and conversions.",
    imgSrc: "/avatars/4.avif",
  },
  {
    name: "David Kim",
    title: "CEO of Tech Innovators",
    testimonial:
      "Windstatic's user-friendly interface has allowed us to quickly set up landing pages that attract and retain customers. It's a game-changer for our marketing efforts.",
    imgSrc: "/avatars/6.avif",
  },
  {
    name: "Emily Taylor",
    title: "Creative Director at Artify",
    testimonial:
      "Using Windstatic, we have been able to craft visually stunning landing pages that effectively showcase our artistic projects and attract new clients.",
    imgSrc: "/avatars/5.avif",
  },
];
const data3 = [
  {
    name: "Robert Langdon",
    title: "Professor at Harvard University",
    testimonial:
      "Windstatic has allowed us to create informative landing pages for our educational programs, providing a seamless experience for our students.",
    imgSrc: "/avatars/8.avif",
  },
  {
    name: "Lisa Wong",
    title: "CTO of Innovatech",
    testimonial:
      "With Windstatic, we've built landing pages that effectively communicate our tech solutions.",
    imgSrc: "/avatars/10.avif",
  },
  {
    name: "Antonio Garcia",
    title: "Owner of Cafe Buenavista",
    testimonial:
      "Thanks to Windstatic, our cafe's online presence has been elevated, attracting more customers with beautifully designed landing pages.",
    imgSrc: "/avatars/9.avif",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center max-w-xl mx-auto">
      <span
        class="tracking-tight text-lg font-medium  text-gray-900"
        >Testimonials</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
        Hear from our customers

        <span class="text-gray-600 block">about their experiences </span>
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 lg:text-balance">
        A group of passionate individuals working together to innovate and excel
        in our industry.
      </p>
    </div>
    <ul
      role="list"
      class="mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 lg:mt-24">
      <li>
        <ul
          role="list"
          class="flex flex-col gap-2">
          {
            data1.map((member) => (
              <>
                <li class="bg-gray-50 p-6 rounded-2xl shadow flex flex-col h-full">
                  <figure class="flex flex-col  h-full gap-4">
                    <div>
                      <figcaption class="flex items-center justify-between ">
                        <div class="flex items-center gap-4">
                          <img
                            class="object-cover rounded-full size-12"
                            src={member.imgSrc}
                            alt="#_"
                          />
                          <div>
                            <h3 class="tracking-tight text-lg font-medium  text-gray-900">
                              {member.name}
                            </h3>
                            <p class="mt-2 text-sm text-gray-500 text-balance">
                              {member.title}
                            </p>
                          </div>
                        </div>
                      </figcaption>
                      <blockquote class="mt-12">
                        <p class="text-sm text-gray-500 text-pretty">
                          {member.testimonial}
                        </p>
                      </blockquote>
                    </div>
                  </figure>
                </li>
              </>
            ))
          }
        </ul>
      </li>
      <li>
        <ul
          role="list"
          class="sm:flex flex-col gap-2 hidden">
          {
            data2.map((member) => (
              <>
                <li class="bg-gray-50 p-6 rounded-2xl shadow flex flex-col h-full">
                  <figure class="flex flex-col  h-full gap-4">
                    <div>
                      <figcaption class="flex items-center justify-between ">
                        <div class="flex items-center gap-4">
                          <img
                            class="object-cover rounded-full size-12"
                            src={member.imgSrc}
                            alt="#_"
                          />
                          <div>
                            <h3 class="tracking-tight text-lg font-medium  text-gray-900">
                              {member.name}
                            </h3>
                            <p class="mt-2 text-sm text-gray-500 text-balance">
                              {member.title}
                            </p>
                          </div>
                        </div>
                      </figcaption>
                      <blockquote class="mt-12">
                        <p class="text-sm text-gray-500 text-pretty">
                          {member.testimonial}
                        </p>
                      </blockquote>
                    </div>
                  </figure>
                </li>
              </>
            ))
          }
        </ul>
      </li>
      <li>
        <ul
          role="list"
          class="xl:flex flex-col gap-2 hidden">
          {
            data3.map((member) => (
              <>
                <li class="bg-gray-50 p-6 rounded-2xl shadow flex flex-col h-full">
                  <figure class="flex flex-col  h-full gap-4">
                    <div>
                      <figcaption class="flex items-center justify-between ">
                        <div class="flex items-center gap-4">
                          <img
                            class="object-cover rounded-full size-12"
                            src={member.imgSrc}
                            alt="#_"
                          />
                          <div>
                            <h3 class="tracking-tight text-lg font-medium  text-gray-900">
                              {member.name}
                            </h3>
                            <p class="mt-2 text-sm text-gray-500 text-balance">
                              {member.title}
                            </p>
                          </div>
                        </div>
                      </figcaption>
                      <blockquote class="mt-12">
                        <p class="text-sm text-gray-500 text-pretty">
                          {member.testimonial}
                        </p>
                      </blockquote>
                    </div>
                  </figure>
                </li>
              </>
            ))
          }
        </ul>
      </li>
    </ul>
  </div>
</section>
