---
export const freeComponent = true;
export const description = "Select sizes";
import Select from "@/components/fundations/inputs/Select.astro";
// Add the missing exampleOptions definition
const exampleOptions = [
  { label: "United States", value: "us" },
  { label: "Canada", value: "ca" },
  { label: "United Kingdom", value: "uk" },
];
---

<div class="flex justify-center w-full px-12 py-48">
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
    <Select
      id="country"
      name="country"
      label="Country"
      options={exampleOptions}
      value="ca"
      variant="default"
      size="xs"
      class="text-gray-900"
    />
    <Select
      id="country"
      name="country"
      label="Country"
      options={exampleOptions}
      value="ca"
      variant="default"
      size="sm"
      class="text-gray-900"
    />
    <Select
      id="country"
      name="country"
      label="Country"
      options={exampleOptions}
      value="ca"
      variant="default"
      size="base"
      class="text-gray-900"
    />
    <Select
      id="country"
      name="country"
      label="Country"
      options={exampleOptions}
      value="ca"
      variant="default"
      size="lg"
      class="text-gray-900"
    />
    <Select
      id="country"
      name="country"
      label="Country"
      options={exampleOptions}
      value="ca"
      variant="default"
      size="xl"
      class="text-gray-900"
    />
  </div>
</div>
