---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div
    class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative flex flex-col gap-24 lg:gap-12">
    <dl class="grid md:grid-cols-2 gap-8 lg:grid-cols-3">
      <div
        class="flex justify-between rounded-3xl bg-base-50 flex-col lg:gap-12 lg:rotate-6 hover:rotate-0 duration-300">
        <div class="p-8 order-last border-t border-white/20 w-full">
          <Text
            class="mt-4"

            tag="span"
            variant="bigNumbers">
            80%
          </Text>
        </div>
        <div class="sm:shrink lg:flex-none p-8">
          <Heading
            level={3}
            variant="featureTitle">
            Working Individuals
          </Heading>
          <Text
            class="mt-4"
            tag="p"
            variant="body">
            We’re dedicated to delivering outstanding service and value.
          </Text>
        </div>
      </div>
      <div
        class="flex justify-between rounded-3xl bg-accent-700 flex-col lg:gap-28 lg:-rotate-12 hover:rotate-0 duration-300">
        <div class="p-8 order-last border-t border-white/20 w-full">
          <Text
            class="mt-4"
            darkMode={true}
            tag="span"
            variant="bigNumbers">
            50B
          </Text>
        </div>
        <div class="sm:shrink lg:flex-none p-8">
          <Heading
            level={3}
            darkMode={true}
            variant="featureTitle">
            Massive Earnings
          </Heading>
          <Text
            class="mt-4"
            darkMode={true}
            tag="p"
            variant="body">
            Reap the benefits with substantial returns.
          </Text>
        </div>
      </div>
      <div
        class="flex justify-between rounded-3xl bg-base-900 flex-col lg:gap-44 lg:rotate-6 hover:rotate-0 duration-300">
        <div class="p-8 order-last border-t border-white/20 w-full">
          <Text
            class="mt-4"
            darkMode={true}
            tag="span"
            variant="bigNumbers">
            40M
          </Text>
        </div>

        <div class="sm:shrink lg:flex-none p-8">
          <Heading
            level={3}
            darkMode={true}
            variant="featureTitle">
            Super low fee
          </Heading>
          <Text
            class="mt-4"
            darkMode={true}
            tag="p"
            variant="body">
            Enjoy significant savings with our extremely low fee structure.
          </Text>
        </div>
      </div>
    </dl>
    <div class="order-first lg:order-last">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="displaySmall">
        Ensure each visitor's experience is impactful, turning casual
        interactions into meaningful connections that drive engagement and
        loyalty.
      </Heading>
      <div class="flex flex-wrap items-center gap-2 mt-12">
        <Button
          variant="accent"
          size="sm">
          Get started
        </Button>
        <Button
          variant="alternative"
          size="sm">
          Learn more
        </Button>
      </div>
    </div>
  </div>
</section>
