---
const faq1 = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message. The information is encrypted on the sender's device and can only be decrypted by the intended recipient, preventing any intermediaries, including the platform provider, from accessing the data.",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed. This is a crucial security measure to ensure that even if someone gains unauthorized access to your account, they won't be able to decrypt and view your messages or files.",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient. However, it's important to note that the feature only removes the message from the devices involved in the conversation. Recipients may take screenshots or use other means to capture the content, which is beyond the platform's control.",
  },
];
const faq2 = [
  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
  {
    question: "Are there any storage limitations for files and documents?",
    answer:
      "Our platform provides ample storage space for your files and documents. However, there may be storage limitations based on the pricing plan you choose. We offer flexible plans to suit your needs and provide options to upgrade if you require additional storage capacity.",
  },
  {
    question: "Is it possible to export my data from the platform?",
    answer:
      "Yes, you can export your data from the platform. We offer export features that allow you to download your messages, files, and documents, ensuring you have a local copy for backup or migration purposes. It provides you with greater control and flexibility over your data.",
  },
];
const faq3 = [
  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div class="text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >faq</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-blue-950 lg:text-5xl lg:text-balance"
      >
        Frequently Asked Questions
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500">
        Everything you need to know about our platform.
      </p>
    </div>
    <div class="mt-12 space-y-6 max-w-3xl mx-auto">
      <div class="border divide-y">
        <div class="px-8 py-4 bg-gray-50">
          <p
            class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >
            General questions
          </p>
        </div>
        <div class="divide-y">
          {
            faq1.map((faq) => (
              <details class="group cursor-pointer">
                <summary
                  class="flex items-center justify-between w-full p-8 py-4  text-left select-none text-blue-950 hover:text-blue-500
                      focus:text-blue-500"
                >
                  {faq.question}
                  <svg
                    class="size-5 duration-300 ease-out  transform group-open:-rotate-45"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6v12m6-6H6"
                    />
                  </svg>
                </summary>
                <div class="px-8 py-4 border-t text-sm text-gray-500">
                  {faq.answer}
                </div>
              </details>
            ))
          }
        </div>
      </div>
      <div class="border divide-y">
        <div class="px-8 py-4 bg-gray-50">
          <p
            class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >
            support team
          </p>
        </div>
        <div class="divide-y">
          {
            faq2.map((faq) => (
              <details class="group cursor-pointer">
                <summary
                  class="flex items-center justify-between w-full p-8 py-4  text-left select-none text-blue-950 hover:text-blue-500
                      focus:text-blue-500"
                >
                  {faq.question}
                  <svg
                    class="size-5 duration-300 ease-out  transform group-open:-rotate-45"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6v12m6-6H6"
                    />
                  </svg>
                </summary>
                <div class="px-8 py-4 border-t text-sm text-gray-500">
                  {faq.answer}
                </div>
              </details>
            ))
          }
        </div>
      </div>
      <div class="border divide-y">
        <div class="px-8 py-4 bg-gray-50">
          <p
            class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >
            License
          </p>
        </div>
        <div class="divide-y">
          {
            faq3.map((faq) => (
              <details class="group cursor-pointer">
                <summary
                  class="flex items-center justify-between w-full p-8 py-4  text-left select-none text-blue-950 hover:text-blue-500
                      focus:text-blue-500"
                >
                  {faq.question}
                  <svg
                    class="size-5 duration-300 ease-out  transform group-open:-rotate-45"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6v12m6-6H6"
                    />
                  </svg>
                </summary>
                <div class="px-8 py-4 border-t text-sm text-gray-500">
                  {faq.answer}
                </div>
              </details>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
