---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Link from "@/components/fundations/typography/Link.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const releases = [
  {
    version: "3.0.0",
    title: "The dawn of version 3.0.0",
    description:
      "Welcome to the future with Version 3.0.0! This monumental update unveils a completely revamped interface, groundbreaking AI-powered tools, and seamless integration with your favorite apps. Get ready to explore uncharted territories in productivity!",
    date: "May 21",
  },
  {
    version: "3.1.0",
    title: "Version 3.1.0: the cosmic leap",
    description:
      "Version 3.1.0 propels you into the cosmos with faster processing speeds, enhanced customization options, and new cosmic-themed visual elements. Experience the power of the stars at your fingertips.",
    date: "Jun 15",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="default">
        Key updates & releases
      </Heading>
      <Text
        class="mt-4"
        tag="p"
        variant="body">
        Explore the evolution of our product, from the initial launch to the
        latest enhancements.
      </Text>
    </div>
    <div
      class="relative sm:pb-12 sm:ml-[calc(2rem+1px)] md:ml-[calc(3.5rem+1px)] lg:ml-[max(calc(14.5rem+1px),calc(100%-80rem))]">
      <div
        class="hidden absolute top-3 bottom-0 right-full mr-7 md:mr-[3.25rem] w-px bg-slate-200 sm:block">
      </div>
      <div class="mt-32 space-y-16">
        {
          releases.map((article) => (
            <article class="relative group">
              <div class="absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl group-hover:bg-base-50 duration-300" />
              <svg
                viewBox="0 0 9 9"
                class="hidden absolute right-full mr-6 top-2 text-accent-500 md:mr-12 w-[calc(0.5rem+1px)] h-[calc(0.5rem+1px)] overflow-visible sm:block">
                <circle
                  cx="4.5"
                  cy="4.5"
                  r="4.5"
                  stroke-width="2"
                  stroke="currentColor"
                  class="fill-white"
                />
              </svg>
              <div class="relative pt-8  lg:pt-0">
                <Heading
                  level={3}
                  variant="featureTitle">
                  {article.title}
                </Heading>

                <Text
                  class="mt-2"
                  tag="p"
                  variant="body">
                  {article.description}
                </Text>

                <dl class="absolute left-0 top-0 tracking-tight text-sm   text-base-500 lg:left-auto lg:right-full lg:mr-[calc(6.5rem+1px)]">
                  <dt class="sr-only">{article.date}</dt>
                  <dd class="whitespace-nowrap">
                    <Text
                      tag="span"
                      variant="eyebrow">
                      <time datetime={article.date}>{article.date}</time>
                    </Text>
                  </dd>
                </dl>
              </div>
              <div class="mt-2">
                <Link
                  tag="a"
                  href="#_"
                  variant="link"
                  class="flex items-center gap-2 relative">
                  <span class="absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl" />
                  <span class="relative ">
                    Read more <span class="sr-only">, {article.title}</span>
                  </span>
                  <ChevronRight class="relative" size="sm" />
                </Link>
              </div>

            </article>
          ))
        }
      </div>
    </div>
  </div>
</section>
