---
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
const releases = [
  {
    version: "3.0.0",
    title: "Introducing Version 3.0.0",
    description:
      "Kickstart a new era with a refreshed interface, AI-driven tools, and seamless app integrations to boost your productivity.",
    date: "May 21",
  },
  {
    version: "3.1.0",
    title: "Update 3.1.0: Stellar Performance",
    description:
      "Enhance your workflow with faster processing, deeper customization, and vibrant new visuals for an out-of-this-world experience.",
    date: "Jun 15",
  },
  {
    version: "3.2.0",
    title: "Release 3.2.0: AI Onboarding",
    description:
      "Streamline AI setup with intuitive wizards and quick-start templates to get you up and running fast.",
    date: "Jul 30",
  },
  {
    version: "4.0.0",
    title: "Introducing Version 4.0: Next-Gen Insights",
    description:
      "Unlock real-time analytics and predictive insights with our most powerful update yet.",
    date: "Sep 10",
  },
  {
    version: "4.1.0",
    title: "Patch 4.1: Performance Boost",
    description:
      "Enhancements for speed, stability, and cross-platform compatibility.",
    date: "Oct 05",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-20 max-w-7xl">
    <div class="max-w-xl lg:text-balance">
      <Kicker> Release Highlights </Kicker>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold tracking-tight text-zinc-900 dark:text-white"
      >
        Release highlights & updates
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 font-medium text-zinc-500 dark:text-zinc-300"
      >
        Discover the key versions and feature upgrades that have shaped our
        platform.
      </Text>
    </div>
    <div class="relative lg:ml-[max(calc(9.5rem+1px),calc(100%-80rem))]">
      <div
        class="hidden absolute top-3 bottom-0 right-full mr-7 md:mr-[3.25rem] w-px bg-zinc-200 dark:bg-zinc-800 hidden lg:block"
      >
      </div>
      <div class="mt-12 space-y-8">
        {
          releases.map((article) => (
            <article class="relative group">
              <div class="relative hidden mr-10 lg:flex md:mx-auto">
                <div class="flex items-center justify-center w-3 h-full">
                  <div class="h-full w-[0.05rem] bg-zinc-200 dark:bg-zinc-800 pointer-events-none" />
                </div>
                <div class="absolute right-full mr-6 top-2 text-blue-500 md:mr-12 w-[calc(0.5rem+1px)] h-[calc(0.5rem+1px)] overflow-visible sm:block">
                  <div class="rounded-full size-full outline-2 outline-zinc-100 dark:outline-zinc-800 dark:bg-zinc-800 bg-zinc-100" />
                </div>
              </div>
              <div class="relative flex flex-col p-4 shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl">
                <Text
                  tag="h3"
                  variant="textLG"
                  class="mt-4 font-semibold tracking-tight  lg:mt-0 text-zinc-900 dark:text-white"
                >
                  {article.title}
                </Text>
                <Text
                  tag="p"
                  variant="textBase"
                  class="mt-2 text-zinc-500 dark:text-zinc-400 lg:text-balance"
                >
                  {article.description}
                </Text>
                <dl class="lg:absolute lg:left-0 order-first lg:top-0 tracking-tight text-sm text-zinc-500 dark:text-zinc-300 lg:left-auto lg:right-full lg:mr-[calc(6.5rem+1px)]">
                  <dt class="sr-only">{article.date}</dt>
                  <dd class="whitespace-nowrap">
                    <Kicker>
                      <time datetime={article.date}>{article.date}</time>
                    </Kicker>
                  </dd>
                </dl>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </div>
</section>
