---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import MapPin from "@/components/fundations/icons/MapPin.astro";
const services = [
  { id: 1, name: "UX Design" },
  { id: 2, name: "Web Development" },
  { id: 3, name: "SEO Optimization" },
  { id: 4, name: "Content Writing" },
  { id: 5, name: "Graphic Design" },
  { id: 6, name: "Social Media Management" },
  { id: 7, name: "App Development" },
  { id: 8, name: "Digital Marketing" },
];
const options = [
  { id: 1, name: "Use our chat widget", href: "#" },
  { id: 2, name: "Explore our knowledge base", href: "#" },
  { id: 3, name: "Submit a support ticket", href: "#" },
];
const locations = [
  {
    title: "Amsterdam",
    addressLines: ["78 Canal Street", "1012 AB Amsterdam", "Netherlands"],
  },
  {
    title: "Vienna",
    addressLines: ["56 Schönbrunner Straße", "1120 Vienna", "Austria"],
  },
  {
    title: "Stockholm",
    addressLines: ["23 Gamla Stan", "111 29 Stockholm", "Sweden"],
  },
  {
    title: "Zurich",
    addressLines: ["12 Bahnhofstrasse", "8001 Zurich", "Switzerland"],
  },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="max-w-xl lg:text-balance">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayBase"
        class="mt-4 font-semibold text-base-900 lg:text-balance"
      >
        We would love to hear from you!
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
        Uniting talent with vision. Get to know the dedicated professionals who
        blend their skills and passion to lead us to new heights.
      </Text>
    </div>
    <div class="grid grid-cols-1 mt-12 gap-x-32 gap-y-6 md:grid-cols-2">
      <form action="#" method="POST">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
          <div>
            <Text
              for="first-name"
              tag="label"
              variant="textBase"
              class="text-base-500 font-medium"
            >
              First name
            </Text>
            <div class="mt-2.5">
              <input
                type="text"
                name="first-name"
                id="first-name"
                autocomplete="given-name"
                required
                aria-required="true"
                aria-describedby="first-name-error"
                placeholder="Your first name"
                class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span id="first-name-error" class="text-red-600 text-sm hidden">
                Please enter your first name.
              </span>
            </div>
          </div>
          <div>
            <Text
              for="last-name"
              tag="label"
              variant="textBase"
              class="text-base-500 font-medium"
            >
              Last name
            </Text>
            <div class="mt-2.5">
              <input
                type="text"
                name="last-name"
                id="last-name"
                autocomplete="family-name"
                required
                aria-required="true"
                aria-describedby="last-name-error"
                placeholder="Your last name"
                class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span id="last-name-error" class="text-red-600 text-sm hidden">
                Please enter your last name.
              </span>
            </div>
          </div>
          <div class="sm:col-span-2">
            <Text
              for="compant"
              tag="label"
              variant="textBase"
              class="text-base-500 font-medium"
            >
              Company name
            </Text>
            <div class="mt-2.5">
              <input
                type="text"
                name="company"
                id="company"
                autocomplete="organization"
                aria-describedby="company-error"
                placeholder="Your company"
                class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span id="company-error" class="text-red-600 text-sm hidden">
                Please enter your company name.
              </span>
            </div>
          </div>
          <div class="sm:col-span-2">
            <Text
              for="phone-number"
              tag="label"
              variant="textBase"
              class="text-base-500 font-medium"
            >
              Phone number
            </Text>
            <div class="relative mt-2.5">
              <div class="absolute inset-y-0 left-0 flex items-center">
                <label for="country" class="sr-only">Country</label>
                <select
                  id="country"
                  name="country"
                  aria-label="Country code"
                  class="h-full rounded-md border-0 bg-transparent py-0 pl-4 pr-9 text-base-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm"
                >
                  <option value="IT">Italy</option>
                  <option value="ES">Spain</option>
                  <option value="JP">Japan</option>
                </select>
              </div>
              <input
                type="tel"
                name="phone-number"
                id="phone-number"
                autocomplete="tel"
                aria-describedby="phone-number-description"
                placeholder="123-456-7890"
                class="block pl-24 w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <p id="phone-number-description" class="sr-only">
                Enter your phone number including the country code.
              </p>
            </div>
          </div>
          <div class="sm:col-span-2">
            <Text
              for="email"
              tag="label"
              variant="textBase"
              class="text-base-500 font-medium"
            >
              Email
            </Text>
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                required
                aria-required="true"
                aria-describedby="email-error"
                placeholder="Your email"
                class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span id="email-error" class="text-red-600 text-sm hidden">
                Please enter a valid email address.
              </span>
            </div>
          </div>
          <div class="sm:col-span-2">
            <Text
              for="message"
              tag="label"
              variant="textBase"
              class="text-base-500 font-medium"
            >
              Message
            </Text>
            <div class="mt-2.5">
              <textarea
                name="message"
                id="message"
                rows="5"
                aria-describedby="message-error"
                placeholder="Your message"
                class="block w-full px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              ></textarea>
              <span id="message-error" class="text-red-600 text-sm hidden">
                Please enter your message.
              </span>
            </div>
          </div>
        </div>
        <div class="flex items-center mt-4 col-span-full">
          <input
            id="agreement"
            name="agreement"
            type="checkbox"
            class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
          />
          <Text
            for="agreement"
            tag="label"
            class="ml-3 block text-sm text-base-500"
            >You agree to our
            <Text
              tag="a"
              href="#_"
              variant="textBase"
              class="text-accent-500 font-medium hover:text-base-500"
            >
              Terms of service
            </Text>
            and
            <Text
              tag="a"
              href="#_"
              variant="textBase"
              class="text-accent-500 font-medium hover:text-base-500"
            >
              Privacy Policy
            </Text>
          </Text>
        </div>
        <div class="mt-10">
          <Button class="w-full" variant="accent" size="base"> Submit </Button>
        </div>
        <div class="mt-8">
          <Text tag="h3" variant="textLG" class="text-base-900 font-medium">
            Services
          </Text>
          <div class="grid grid-cols-1 gap-x-8 gap-y-1 mt-8 sm:grid-cols-2">
            {
              services.map((service) => (
                <div class="flex items-start gap-3">
                  <input
                    id={`service-${service.id}`}
                    name={`service-${service.id}`}
                    type="checkbox"
                    class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
                  />
                  <Text
                    for={`service-${service.id}`}
                    tag="label"
                    variant="textSM"
                    class="text-base-500 font-medium block"
                  >
                    {service.name}
                  </Text>
                </div>
              ))
            }
          </div>
        </div>
      </form>
      <div class="flex flex-col divide-y">
        <div class="py-4">
          <Text tag="h3" variant="textLG" class="text-base-900 font-medium">
            Talk to us
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 text-base-500 font-medium"
          >
            Speak to our team about your project and we will get back to you as
            soon as possible. We are here to help you every step of the way.
          </Text>
          <ul
            class="space-y-2 mt-6 text-base font-medium text-accent-500 list-none"
          >
            {
              options.map((option) => (
                <li>
                  <Text
                    tag="a"
                    href="#_"
                    variant="textBase"
                    class="text-accent-500 font-medium flex items-center gap-2 hover:text-base-900"
                  >
                    {option.name}
                  </Text>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="py-4">
          <Text tag="h3" variant="textLG" class="text-base-900 font-medium">
            Call us
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 text-base-500 font-medium"
          >
            Our phones lines are open 24/7. You can call us anytime to get in
            touch with us. We waiting for your call.
          </Text>
          <ul
            class="space-y-2 mt-6 text-base font-medium text-accent-500 list-none"
          >
            <div>
              <span class="sr-only">Phone number</span>
              <div>
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="text-accent-500 font-medium flex items-center gap-2 hover:text-base-900"
                >
                  +44 20 7946 1234
                </Text>
              </div>
            </div>
          </ul>
        </div>
        <div class="py-4">
          <Text tag="h3" variant="textLG" class="text-base-900 font-medium">
            Our offices
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 text-base-500 font-medium"
          >
            We are global, might aswell that you can come and visit us in your
            country. We have offices in the Amsterdam, Vienna, Stockholm and
            Zurich.
          </Text>
          <ul
            class="divide-y mt-6 text-base font-medium text-accent-500 list-none"
          >
            {
              locations.map((location) => (
                <div class="grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-3 py-4">
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="text-base-900 font-medium"
                  >
                    {location.title}
                  </Text>
                  <address class="mt-2 lg:mt-0 not-italic gap-2 flex lg:col-span-2  sm:text-balance ">
                    <MapPin class="text-accent-600" size="sm" />
                    <div class="flex flex-col  gap-2">
                      {location.addressLines.map((line, idx) => (
                        <Text
                          tag="p"
                          variant="textSM"
                          class="text-base-500 font-medium"
                        >
                          {line}
                          {idx < location.addressLines.length - 1 ? ", " : ""}
                        </Text>
                      ))}
                    </div>
                  </address>
                </div>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
