---
import Text from "@/components/fundations/typography/Text.astro";
import MapPin from "@/components/fundations/icons/MapPin.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Phone from "@/components/fundations/icons/Phone.astro";
import Mail from "@/components/fundations/icons/Mail.astro";
const contactInfo = [
  {
    title: "Collaborate",
    email: {
      address: "example@oxbowui.com",
      mailto: "mailto:example@oxbowui.com",
    },
    phone: "+44 20 7946 1234",
  },
  {
    title: "Press",
    email: {
      address: "example@oxbowui.com",
      mailto: "mailto:example@oxbowui.com",
    },
    phone: "+33 1 42 68 90 12",
  },
  {
    title: "Join our team",
    email: {
      address: "example@oxbowui.com",
      mailto: "mailto:example@oxbowui.com",
    },
    phone: "+49 30 98765432",
  },
  {
    title: "Say hello",
    email: {
      address: "example@oxbowui.com",
      mailto: "mailto:example@oxbowui.com",
    },
    phone: "+34 91 654 3210",
  },
];
const locations = [
  {
    title: "Amsterdam",
    addressLines: ["78 Canal Street", "1012 AB Amsterdam", "Netherlands"],
  },
  {
    title: "Vienna",
    addressLines: ["56 Schönbrunner Straße", "1120 Vienna", "Austria"],
  },
  {
    title: "Stockholm",
    addressLines: ["23 Gamla Stan", "111 29 Stockholm", "Sweden"],
  },
  {
    title: "Zurich",
    addressLines: ["12 Bahnhofstrasse", "8001 Zurich", "Switzerland"],
  },
];
---
<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div>
        <Text
          tag="h1"
          variant="displayMD"
          class="font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
        >
          Let’s connect and collaborate
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 lg:text-balance text-zinc-500 dark:text-zinc-400"
        >
          Have a question, want to partner, or just want to say hi?
          <br />
          <br />
          Our team is here to support your ideas and help you move forward. Reach
          out and let’s make something amazing happen.
        </Text>
      </div>
      <div class="space-y-12 lg:col-span-2">
        <div>
          <Text
            tag="h3"
            variant="textBase"
            class="font-semibold text-zinc-900 dark:text-white"
          >
            Contact us
          </Text>
          <div
            class="flex flex-col mt-4 divide-y divide-zinc-200 dark:divide-zinc-700 border-y border-zinc-200 dark:border-zinc-700"
          >
            {
              contactInfo.map((contact) => (
                <div class="py-4 grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-3 gap-2">
                  <Text
                    tag="h2"
                    variant="textSM"
                    class="font-medium text-zinc-900 dark:text-white lg:text-balance"
                  >
                    {contact.title}
                  </Text>
                  <dl class="text-sm  gap-2 text-zinc-500 dark:text-zinc-400 lg:col-span-2 grid grid-cols-1 lg:grid-cols-2">
                    <div>
                      <dt class="sr-only">Email</dt>
                      <dd>
                        <a
                          href="#_"
                          class="flex items-center text-sm font-medium text-zinc-900 dark:text-white  hover:text-blue-600 dark:hover:text-blue-300"
                        >
                          <Mail size="sm" />
                          {contact.email.address}
                        </a>
                      </dd>
                    </div>
                    <div>
                      <dt class="sr-only">Phone number</dt>
                      <dd>
                        <a
                          href="#_"
                          class="flex items-center text-sm font-medium text-zinc-900 dark:text-white  hover:text-blue-600 dark:hover:text-blue-300"
                        >
                          <Phone size="sm" />
                          {contact.phone}
                        </a>
                      </dd>
                    </div>
                  </dl>
                </div>
              ))
            }
          </div>
        </div>
        <div>
          <Text
            tag="h3"
            variant="textBase"
            class="font-semibold text-zinc-900 dark:text-white"
          >
            Our offices
          </Text>
          <div
            class="mt-4 border-y divide-y border-zinc-200 dark:border-zinc-700 divide-zinc-200 dark:divide-zinc-700"
          >
            {
              locations.map((location) => (
                <div class="py-4 grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-3 gap-2">
                  <Text
                    tag="h2"
                    variant="textSM"
                    class="font-medium text-zinc-900 dark:text-white lg:text-balance"
                  >
                    {location.title}
                  </Text>
                  <address class="flex mt-2 text-sm not-italic gap-2 lg:col-span-2 text-zinc-500 dark:text-zinc-400  sm:text-balance">
                    <MapPin
                      class="text-blue-600 dark:text-blue-400"
                      size="sm"
                    />
                    <div class="flex flex-col lg:flex-row gap-2">
                      {location.addressLines.map((line, idx) => (
                        <Text tag="p" variant="small">
                          {line}
                          {idx < location.addressLines.length - 1 ? ", " : ""}
                        </Text>
                      ))}
                    </div>
                  </address>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
