---
import Text from "@/components/fundations/typography/Text.astro";
import MapPin from "@/components/fundations/icons/MapPin.astro";
import Phone from "@/components/fundations/icons/Phone.astro";
import Mail from "@/components/fundations/icons/Mail.astro";
const contactInfo = [
  {
    title: "Collaborate",
    email: {
      address: "example@oxbowui.com",
      mailto: "mailto:example@oxbowui.com",
    },
    phone: "+44 20 7946 1234",
  },
  {
    title: "Press",
    email: {
      address: "example@oxbowui.com",
      mailto: "mailto:example@oxbowui.com",
    },
    phone: "+33 1 42 68 90 12",
  },
  {
    title: "Join our team",
    email: {
      address: "example@oxbowui.com",
      mailto: "mailto:example@oxbowui.com",
    },
    phone: "+49 30 98765432",
  },
  {
    title: "Say hello",
    email: {
      address: "example@oxbowui.com",
      mailto: "mailto:example@oxbowui.com",
    },
    phone: "+34 91 654 3210",
  },
];
const locations = [
  {
    title: "Amsterdam",
    addressLines: ["78 Canal Street", "1012 AB Amsterdam", "Netherlands"],
  },
  {
    title: "Vienna",
    addressLines: ["56 Schönbrunner Straße", "1120 Vienna", "Austria"],
  },
  {
    title: "Stockholm",
    addressLines: ["23 Gamla Stan", "111 29 Stockholm", "Sweden"],
  },
  {
    title: "Zurich",
    addressLines: ["12 Bahnhofstrasse", "8001 Zurich", "Switzerland"],
  },
];
---

<div class="p-8 ">
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-3">
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold tracking-tight text-zinc-900 lg:text-balance"
        >
          We would love to hear from you!
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
          Uniting talent with vision. Get to know the dedicated professionals
          who blend their skills and passion to lead us to new heights.
        </Text>
      </div>
      <div class="space-y-12 lg:col-span-2">
        <div>
          <Text tag="h3" variant="textLG" class="font-medium text-zinc-900">
            Contact us
          </Text>
          <div
            class="flex flex-col mt-4 divide-y divide-zinc-200 border-y border-zinc-200"
          >
            {
              contactInfo.map((contact) => (
                <div class="py-4 grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-3 gap-2">
                  <Text
                    tag="h2"
                    variant="textBase"
                    class="font-semibold text-zinc-900 lg:text-balance"
                  >
                    {contact.title}
                  </Text>
                  <dl class="text-sm  gap-2 text-zinc-500 lg:col-span-2 grid grid-cols-1 lg:grid-cols-2">
                    <div>
                      <dt class="sr-only">Email</dt>
                      <dd>
                        <Text
                          tag="a"
                          href="#_"
                          variant="textBase"
                          class="flex items-center font-medium text-blue-500 gap-2 hover:text-zinc-900"
                        >
                          <Mail size="sm" />
                          {contact.email.address}
                        </Text>
                      </dd>
                    </div>
                    <div>
                      <dt class="sr-only">Phone number</dt>
                      <dd>
                        <Text
                          tag="a"
                          href="#_"
                          variant="textBase"
                          class="flex items-center font-medium text-blue-500 gap-2 hover:text-zinc-900"
                        >
                          <Phone size="sm" />
                          {contact.phone}
                        </Text>
                      </dd>
                    </div>
                  </dl>
                </div>
              ))
            }
          </div>
        </div>
        <div>
          <Text tag="h3" variant="textLG" class="font-medium text-zinc-900">
            Our offices
          </Text>
          <div class="mt-4 border-y divide-y border-zinc-200 divide-zinc-200">
            {
              locations.map((location) => (
                <div class="py-4 grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-3 gap-2">
                  <Text
                    tag="h2"
                    variant="textBase"
                    class="font-semibold text-zinc-900 lg:text-balance"
                  >
                    {location.title}
                  </Text>
                  <address class="flex mt-2 text-sm not-italic gap-2 lg:col-span-2 text-zinc-500  sm:text-balance">
                    <MapPin class="text-blue-600" size="sm" />
                    <div class="flex flex-col lg:flex-row gap-2">
                      {location.addressLines.map((line, idx) => (
                        <Text tag="p" variant="small">
                          {line}
                          {idx < location.addressLines.length - 1 ? ", " : ""}
                        </Text>
                      ))}
                    </div>
                  </address>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
