---
import MapPin from "../icons/MapPin.astro";
import Text from "../typography/Text.astro";
const {
  name,
  username,
  location,
  avatarSrc,
  avatarAlt,
  additionalClasses = "", // Allow passing extra classes for custom styling
} = Astro.props;
---

<a
  href="#_"
  class={`flex items-center justify-between w-full ${additionalClasses}`}>
  <div class="group block flex-shrink-0">
    <div class="flex items-center gap-2">
      <div>
        <img
          class="inline-block size-10 object-cover object-center rounded-lg"
          src={avatarSrc}
          alt={avatarAlt}
        />
      </div>
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="text-base-900 font-medium group-hover:text-accent-500 duration-300">
          {name}
        </Text>
        <Text
          tag="p"
          variant="textXS"
          class="text-base-500 mt-1 font-medium">

          {username}
        </Text>
      </div>
    </div>
  </div>
  <div class="flex-none ml-auto text-xs font-medium text-base-500">
    <div class="flex items-center gap-2">
      <span>{location}</span>
      <MapPin
        size="sm"
        slot="icon"
      />
    </div>
  </div>
</a>
