---
import MapPin from "../icons/MapPin.astro";
import Text from "../typography/Text.astro";
const {
  name,
  username,
  location,
  avatarSrc,
  avatarAlt,
  additionalClasses = "", // Allow passing extra classes for custom styling
} = Astro.props;
---

<a
  href="#_"
  class={`flex items-center justify-between w-full ${additionalClasses}`}
>
  <div class="flex-shrink-0 block group">
    <div class="flex items-center gap-2">
      <div>
        <img
          class="inline-block object-cover object-center rounded-lg size-10"
          src={avatarSrc}
          alt={avatarAlt}
        />
      </div>
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-medium text-gray-900 group-hover:text-blue-500 duration-300"
        >
          {name}
        </Text>
        <Text tag="p" variant="textXS" class="mt-1 font-medium text-gray-500">
          {username}
        </Text>
      </div>
    </div>
  </div>
  <div class="flex-none ml-auto text-xs font-medium text-gray-500">
    <div class="flex items-center gap-2">
      <span>{location}</span>
      <MapPin size="sm" slot="icon" />
    </div>
  </div>
</a>
