---
export const freeComponent = true;
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const articles = [
  {
    title: "Responsive web design best practices",
    description:
      "Learn the best practices for creating responsive web designs that provide a seamless user experience across all devices.",
    date: "Mon Mar 25",
    Text: "#_",
  },
  {
    title: "Javascript frameworks: a comparison",
    description:
      "An in-depth comparison of the most popular JavaScript frameworks, including React, Vue, and Angular, to help you choose the right one for your project.",
    date: "Wed Apr 10",
    Text: "#_",
  },
  {
    title: "The future of CSS: new features to watch",
    description:
      "Explore the latest features and updates in CSS that are shaping the future of web design and development.",
    date: "Fri May 05",
    Text: "#_",
  },
  {
    title: "User experience design principles",
    description:
      "Understand the key principles of user experience design and how to apply them to create intuitive and user-friendly websites.",
    date: "Tue Jun 15",
    Text: "#_",
  },
];
---
<section class="bg-white dark:bg-black">
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24 ">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-blue-600 dark:text-blue-400"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-zinc-900 dark:text-white lg:text-balance"
      >
        Insights and perspectives
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
      >
        Exploring topics, tips, and trends in the world of communication and
        privacy
      </Text>
      <form
        class="flex flex-col w-full mx-auto mt-12 sm:flex-row sm:max-w-md gap-2"
      >
        <label for="email-address" class="sr-only">Email address</label>
        <input
          id="email-address"
          type="email"
          name="email-address"
          autocomplete="email"
          placeholder="Enter your email"
          aria-placeholder="Enter your email"
          required=""
          class="block w-full h-10 px-4 py-2 text-sm bg-white dark:bg-black border border-transparent rounded-lg appearance-none text-blue-700 dark:text-blue-300 duration-300 ring-1 ring-zinc-200 dark:ring-zinc-800 placeholder-zinc-400 dark:placeholder-zinc-500 focus:border-zinc-300 dark:focus:border-zinc-700 focus:bg-transparent focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
        />
        <Button
          class="w-full sm:w-auto"
          type="submit"
          variant="accent"
          size="base"
        >
          Subscribe
        </Button>
      </form>
      <Text
        tag="p"
        variant="textSM"
        class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
      >
        When you sign up, you accept our
        <Text
          tag="a"
          href="#_"
          variant="textSM"
          class="font-medium text-blue-500 dark:text-blue-400 gap-2 hover:text-zinc-900 dark:hover:text-white"
        >
          Terms of service
        </Text>
        and
        <Text
          tag="a"
          href="#_"
          variant="textSM"
          class="font-medium text-blue-500 dark:text-blue-400 gap-2 hover:text-zinc-900 dark:hover:text-white"
        >
          Privacy Policy
        </Text>
      </Text>
    </div>
    <div
      class="relative sm:pb-12 sm:ml-[calc(2rem+1px)] md:ml-[calc(3.5rem+1px)] lg:ml-[max(calc(14.5rem+1px),calc(100%-80rem))]"
    >
      <div
        class="hidden absolute top-3 bottom-0 right-full mr-7 md:mr-[3.25rem] w-px bg-slate-200 dark:bg-zinc-800 sm:block"
      >
      </div>
      <div class="mt-32 space-y-16">
        {
          articles.map((article) => (
            <article class="relative group">
              <div class="absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl group-hover:bg-zinc-50 dark:group-hover:bg-zinc-900 duration-300" />
              <svg
                viewBox="0 0 9 9"
                class="hidden absolute right-full mr-6 top-2 text-blue-500 md:mr-12 w-[calc(0.5rem+1px)] h-[calc(0.5rem+1px)] overflow-visible sm:block"
              >
                <circle
                  cx="4.5"
                  cy="4.5"
                  r="4.5"
                  stroke-width="2"
                  stroke="currentColor"
                  class="fill-white dark:fill-black"
                />
              </svg>
              <div class="relative pt-8  lg:pt-0">
                <Text
                  tag="h3"
                  variant="textLG"
                  class="font-medium text-zinc-900 dark:text-white group-hover:text-blue-600 duration-200"
                >
                  {article.title}
                </Text>
                <Text
                  tag="p"
                  variant="textBase"
                  class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
                >
                  {article.description}
                </Text>
                <div class="absolute left-0 top-0  lg:left-auto lg:right-full lg:mr-[calc(6.5rem+1px)]">
                  <span class="sr-only">{article.date}</span>
                  <Text
                    tag="p"
                    variant="textSM"
                    class="font-medium uppercase text-zinc-500 dark:text-zinc-400 whitespace-nowrap"
                  >
                    <time datetime={article.date}>{article.date}</time>
                  </Text>
                </div>
              </div>
              <div class="mt-8">
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="flex items-center font-medium text-blue-500 dark:text-blue-400 gap-2 hover:text-zinc-900 dark:hover:text-white"
                >
                  <span class="absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl" />
                  <span class="relative ">
                    Read more <span class="sr-only">, {article.title}</span>
                  </span>
                  <ChevronRight class="relative" size="sm" />
                </Text>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </div>
</section>
