---
import Button from "@/components/fundations/buttons/Button.astro";
const articles = [
  {
    title: "Responsive web design best practices",
    description:
      "Learn the best practices for creating responsive web designs that provide a seamless user experience across all devices.",
    date: "Mon Mar 25",
    link: "#_",
  },
  {
    title: "Javascript frameworks: a comparison",
    description:
      "An in-depth comparison of the most popular JavaScript frameworks, including React, Vue, and Angular, to help you choose the right one for your project.",
    date: "Wed Apr 10",
    link: "#_",
  },
  {
    title: "The future of CSS: new features to watch",
    description:
      "Explore the latest features and updates in CSS that are shaping the future of web design and development.",
    date: "Fri May 05",
    link: "#_",
  },
  {
    title: "User experience design principles",
    description:
      "Understand the key principles of user experience design and how to apply them to create intuitive and user-friendly websites.",
    date: "Tue Jun 15",
    link: "#_",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl lg:text-balance">
      <span
        class="font-mono text-xs font-medium tracking-tight text-accent-600 uppercase"
        >Tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight lg:text-7xl text-base-900 sm:text-balance">
        From Our Blog
      </h1>
      <p class="mt-6 text-base font-medium text-base-500">
        Dive into our latest articles and stay updated with fresh perspectives
        and expert advice.
      </p>
      <form class="w-full mt-8 flex flex-col sm:flex-row sm:max-w-md gap-2">
        <label
          for="email-address"
          class="sr-only"
          >Email address</label
        >
        <input
          id="email-address"
          type="email"
          name="email-address"
          autocomplete="email"
          placeholder="Enter your email"
          aria-placeholder="Enter your email"
          required=""
          class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
        />
        <Button
        class="w-full sm:w-auto"
          type="submit"
          variant="accent"
          size="base">
          Subscribe
        </Button>

      </form>
      <p class="text-xs mt-3 text-base-500">
        When you sign up, you accept our <a
          class="text-accent-600 hover:text-base-900"
          href="#_"
          >Terms of Service</a
        > and <a
          class="text-accent-600 hover:text-base-900"
          href="#_"
          >Privacy Policy</a
        >.
      </p>
    </div>
    <div
      class="relative sm:pb-12 sm:ml-[calc(2rem+1px)] md:ml-[calc(3.5rem+1px)] lg:ml-[max(calc(14.5rem+1px),calc(100%-80rem))]">
      <div
        class="hidden absolute top-3 bottom-0 right-full mr-7 md:mr-[3.25rem] w-px bg-slate-200 sm:block">
      </div>
      <div class="space-y-16 mt-32">
        {
          articles.map((article) => (
            <article class="relative group">
              <div class="absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl group-hover:bg-base-50 duration-300" />
              <svg
                viewBox="0 0 9 9"
                class="hidden absolute right-full mr-6 top-2 text-accent-500 md:mr-12 w-[calc(0.5rem+1px)] h-[calc(0.5rem+1px)] overflow-visible sm:block">
                <circle
                  cx="4.5"
                  cy="4.5"
                  r="4.5"
                  stroke-width="2"
                  stroke="currentColor"
                  class="fill-white"
                />
              </svg>
              <div class="relative">
                <h3 class="tracking-tight text-2xl font-medium  text-base-900 pt-8 lg:pt-0">
                  {article.title}
                </h3>
                <div class="mt-2 mb-4 text-base lg:text-lg text-base-500 ">
                  <p>{article.description}</p>
                </div>
                <dl class="absolute left-0 top-0 tracking-tight text-lg font-medium  text-base-900 lg:left-auto lg:right-full lg:mr-[calc(6.5rem+1px)]">
                  <dt class="sr-only">{article.date}</dt>
                  <dd class="whitespace-nowrap">
                    <time datetime={article.date}>{article.date}</time>
                  </dd>
                </dl>
              </div>
              <a
                class="flex items-center text-sm text-accent-700 font-medium"
                href={article.link}>
                <span class="absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl" />
                <span class="text-accent-500 hover:text-base-900 text-sm font-medium duration-300 flex items-center gap-2 relative">
                  Read more <span class="sr-only">, {article.title}</span>
                </span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-chevron-right relative mt-px overflow-visible ml-2.5 size-4"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  />
                  <path d="M9 6l6 6l-6 6" />
                </svg>
              </a>
            </article>
          ))
        }
      </div>
    </div>
  </div>
</section>
