---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const articles = [
  {
    title: "Responsive web design best practices",
    description:
      "Learn the best practices for creating responsive web designs that provide a seamless user experience across all devices.",
    date: "Mon Mar 25",
    link: "#_",
  },
  {
    title: "Javascript frameworks: a comparison",
    description:
      "An in-depth comparison of the most popular JavaScript frameworks, including React, Vue, and Angular, to help you choose the right one for your project.",
    date: "Wed Apr 10",
    link: "#_",
  },
  {
    title: "The future of CSS: new features to watch",
    description:
      "Explore the latest features and updates in CSS that are shaping the future of web design and development.",
    date: "Fri May 05",
    link: "#_",
  },
  {
    title: "User experience design principles",
    description:
      "Understand the key principles of user experience design and how to apply them to create intuitive and user-friendly websites.",
    date: "Tue Jun 15",
    link: "#_",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl lg:text-balance mx-auto text-center">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="display">
        Insights and perspectives
      </Heading>

      <form
        class="w-full mt-12 flex flex-col sm:flex-row mx-auto sm:max-w-md gap-2">
        <label
          for="email-address"
          class="sr-only"
          >Email address</label
        >
        <input
          id="email-address"
          type="email"
          name="email-address"
          autocomplete="email"
          placeholder="Enter your email"
          aria-placeholder="Enter your email"
          required=""
          class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
        />
        <Button
          class="w-full sm:w-auto"
          type="submit"
          variant="accent"
          size="base">
          Subscribe
        </Button>
      </form>
      <Text
        class="mt-4 lg:text-balance"
        tag="p"
        variant="small">
        When you sign up, you accept our
        <Text
          tag="a"
          href="#_"
          variant="link">
          See all our open roles
        </Text>
        and
        <Text
          tag="a"
          href="#_"
          variant="link">
          Privacy Policy
        </Text>
      </Text>
    </div>
    <div
      class="relative sm:pb-12 sm:ml-[calc(2rem+1px)] md:ml-[calc(3.5rem+1px)] lg:ml-[max(calc(14.5rem+1px),calc(100%-80rem))]">
      <div
        class="hidden absolute top-3 bottom-0 right-full mr-7 md:mr-[3.25rem] w-px bg-slate-200 sm:block">
      </div>
      <div class="space-y-16 mt-32">
        {
          articles.map((article) => (
            <article class="relative group">
              <div class="absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl group-hover:bg-base-50 duration-300" />
              <svg
                viewBox="0 0 9 9"
                class="hidden absolute right-full mr-6 top-2 text-accent-500 md:mr-12 w-[calc(0.5rem+1px)] h-[calc(0.5rem+1px)] overflow-visible sm:block">
                <circle
                  cx="4.5"
                  cy="4.5"
                  r="4.5"
                  stroke-width="2"
                  stroke="currentColor"
                  class="fill-white"
                />
              </svg>
              <div class="relative  pt-8 lg:pt-0">
                <Heading
                  level={3}
                  class="mt-8"
                  variant="featureTitle">
                  {article.title}
                </Heading>
                <Text
                  class="mt-4"
                  tag="p"
                  variant="body">
                  {article.description}
                </Text>

                <div class="absolute left-0 top-0  lg:left-auto lg:right-full lg:mr-[calc(6.5rem+1px)]">
                  <span class="sr-only">{article.date}</span>
                    <Text
                      class="whitespace-nowrap"
                      tag="span"
                      variant="eyebrow">
                      <time datetime={article.date}>{article.date}</time>
                    </Text>

                </div>
              </div>
              <div class="mt-8">
                <Text
                  tag="a"
                  href="#_"
                  variant="link"
                  class="flex items-center gap-2 relative">
                  Read further
                  <ChevronRight size="sm" />
                </Text>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </div>
</section>
