---
const articles = [
  {
    image:
      "https://images.unsplash.com/photo-1575318634028-6a0cfcb60c59?q=80&w=2786&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    title: "Responsive web design best practices",
    description:
      "Learn the best practices for creating responsive web designs that provide a seamless user experience across all devices.",
    author: "John Doe",
    authorImage: "/avatars/1.avif",
    date: "Mon Mar 25",
    link: "#_",
  },
  {
    image:
      "https://images.unsplash.com/photo-1623177579213-7efd042e73c0?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    title: "Javascript frameworks: a comparison",
    description:
      "An in-depth comparison of the most popular JavaScript frameworks, including React, Vue, and Angular, to help you choose the right one for your project.",
    author: "Michael Johnson",
    authorImage: "/avatars/2.avif",
    date: "Wed Apr 10",
    link: "#_",
  },
  {
    image:
      "https://images.unsplash.com/photo-1587301669187-732ea66e7617?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    title: "The future of CSS: new features",
    description:
      "Explore the latest features and updates in CSS that are shaping the future of web design and development.",
    author: "Johannes Svensson",
    authorImage: "/avatars/3.avif",
    date: "Fri May 05",
    link: "#_",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 lg:grid-cols-3 items-end gap-12">
      <div class="lg:col-span-2 max-w-2xl">
        <span
          class="font-mono text-xs font-medium tracking-tight text-accent-600 uppercase"
          >Tagline</span
        >
        <h1
          class="text-4xl mt-4 font-semibold tracking-tight sm:text-6xl lg:text-6xl text-base-900 sm:text-balance">
          From Our Blog
        </h1>
        <p class="mt-6 text-base font-medium text-base-500 lg:text-balance">
          Dive into our latest articles and stay updated with fresh perspectives
          and expert advice.
        </p>
      </div>
      <div class="lg:ml-auto">
        <form class="w-full mt-8 sm:flex sm:max-w-md ">
          <label
            for="email-address"
            class="sr-only"
            >Email address</label
          >
          <input
            id="email-address"
            type="email"
            name="email-address"
            autocomplete="email"
            placeholder="Enter your email"
            aria-placeholder="Enter your email"
            required=""
            class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
          />
          <div class="mt-2 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
            <button
              type="submit"
              class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-medium text-white transition-all duration-200 rounded-lg shadow sm:w-auto bg-accent-700  hover:to-accent-800 shadow-accent-600/50 focus:ring-2 focus:ring-accent-950 focus:ring-offset-2 ring-offset-base-200 hover:shadow-none lg:w-auto"
              >Subscribe</button
            >
          </div>
        </form>
        <p class="text-xs mt-3 text-base-500">
          When you sign up, you accept our <a
            class="text-accent-600 hover:text-base-900"
            href="#_"
            >Terms of Service</a
          > and <a
            class="text-accent-600 hover:text-base-900"
            href="#_"
            >Privacy Policy</a
          >.
        </p>
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 mt-12 pt-12 border-t relative">
      {
        articles.map((article) => (
          <article class="relative isolate flex flex-col h-full justify-between gap-8 ">
            <div class="flex flex-col h-full justify-between">
              <div>
                <h3 class="tracking-tight text-xl font-medium  text-base-900 pt-8 lg:pt-0">
                  <a href={article.link}>
                    <span class="absolute inset-0" />
                    {article.title}
                  </a>
                </h3>
                <div class="mt-2 mb-4 text-base text-base-500 line-clamp-3">
                  <p>{article.description}</p>
                </div>
              </div>
              <div class="mt-6 flex ">
                <div class="relative flex items-center gap-x-4">
                  <img
                    src={article.authorImage}
                    alt="#_"
                    class="size-12 rounded-full bg-base-50 object-cover"
                  />
                  <div class="text-sm leading-6">
                    <p class="font-semibold text-base-900">
                      <a href="#_">
                        <span class="absolute inset-0" />
                        {article.author}
                      </a>
                    </p>
                    <dl>
                      <dt class="sr-only">{article.date}</dt>
                      <dd class="text-xs text-base-500">
                        <time datetime={article.date}>{article.date}</time>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative aspect-square shrink-0 ">
              <img
                src={article.image}
                alt="#_"
                class="absolute inset-0 h-full w-full shadow rounded-2xl bg-base-50 object-cover"
              />
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
