---
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import b4 from "@/images/placeholders/b4.png";
import { Image } from "astro:assets";
const articles = [
  {
    image: b4,
    title: "What we learned from a year of remote work",
    description:
      "Reflections on the challenges, surprises, and wins of building Oxbow with a distributed team.",
    author: "Nino Alvarez",
    authorImage: "/avatars/10.jpg",
    date: "Thu Apr 18",
    link: "#_",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div class="relative flex flex-col gap-12">
      {
        articles.map((article) => (
          <>
            <article class="relative flex flex-col justify-end px-8 pb-8 overflow-hidden bg-white  isolate rounded-2xl pt-80 sm:pt-48 lg:pt-80 dark:bg-zinc-900">
              <Image
                width={570}
                height={480}
                src={article.image}
                alt="#_"
                class="absolute inset-0 object-cover -z-10 size-full bg-zinc-50 dark:bg-zinc-800"
              />
              <div class="absolute inset-0 -z-10 bg-gradient-to-t from-zinc-100 via-zinc-200/70 dark:from-zinc-900 dark:via-zinc-800/70" />
              <div class="max-w-md">
                <Text
                  tag="h3"
                  variant="displayMD"
                  class="font-semibold tracking-tight text-zinc-900 dark:text-white"
                >
                  {article.title}
                </Text>
                <div class="relative flex items-center mt-4 gap-x-4">
                  <img
                    src={article.authorImage}
                    alt="#_"
                    class="object-cover rounded-full size-10 bg-zinc-50 dark:bg-zinc-800"
                  />
                  <div>
                    <Text
                      tag="h3"
                      variant="textSM"
                      class="font-medium text-zinc-900 dark:text-white"
                    >
                      {article.author}
                    </Text>
                    <Kicker>
                      <time datetime={article.date}>{article.date}</time>
                    </Kicker>
                  </div>
                </div>
              </div>
            </article>
          </>
        ))
      }
    </div>
  </div>
</section>
