---
export const description =
  "Simple cards with description, color and price below image";
import Text from "@/components/fundations/typography/Text.astro";
const products = [
  {
    image: "/store/shoes/airforceblack/3.jpg",
    title: "Nike Air Force 1´07 Fresh",
    price: "$140.00",
    link: "#_",
    colors: ["bg-black", "bg-white"], // Add the color codes here
  },
  {
    image: "/store/shoes/airforcewhite/2.png",
    title: "Nike Air Force 1 LE",
    price: "$280.00",
    link: "#_",
    colors: ["bg-white", "bg-red-500", "bg-cyan-500"], // Add the color codes here
  },
  {
    image: "/store/shoes/airmax/3.png",
    title: "Nike Air Max 90",
    price: "120.00",
    colors: ["bg-black", "bg-slate-600", "bg-yellow-400"], // Add the color codes here
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 relative">
      {
        products.map((article) => (
          <div class="flex flex-col gap-2 relative">
            <div class="relative aspect-[4/3]">
              <img
                src={article.image}
                alt={article.title}
                class="absolute inset-0 size-full rounded-2xl bg-base-50 object-cover"
              />
            </div>
            <div>
              <div class="flex items-center w-full justify-between">
                <Text
                  tag="h3"
                  variant="textSM"
                  class="text-base-900 font-medium"
                >
                  {article.title}
                  <a href="#_">
                      <span class="absolute inset-0" />
                    </a>
                </Text>
                <ul role="list" class="flex items-center gap-x-1">
                  {article.colors.map((color, index) => (
                    <li
                      class={`size-3 rounded-full border border-black/10 ${color}`}
                    >
                      <span class="sr-only">{color}</span>
                    </li>
                  ))}
                </ul>
              </div>
              <Text tag="h3" variant="textSM" class="text-base-500">
                {article.price}
              </Text>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
