---
export const description =
  "Simple cards with long description, color, price and add to card below image";
import Text from "@/components/fundations/typography/Text.astro";
const products = [
  {
    image: "/store/backpacks/1.jpeg",
    title: "Black Backpack",
    description:
      "A sleek, minimalist design perfect for everyday use, offering practicality and style with a durable, waterproof finish.",
    price: "$140.00",
    link: "#_",
    colors: ["bg-[#282a2f]", "bg-[#ecddd2]", "bg-[#6d7070]"], // Add the color codes here
  },
  {
    image: "/store/backpacks/2.jpeg",
    title: "Beige Backpack",
    description:
      "A spacious, travel-friendly backpack with leather accents, ideal for adventures or long trips, combining functionality and elegance.",
    price: "$280.00",
    link: "#_",
    colors: ["bg-[#cdcabe]", "bg-[#9a6931]"], // Add the color codes here
  },
  {
    image: "/store/backpacks/3.jpeg",
    title: "Gray Backpack",
    description:
      "A versatile and modern backpack with a rugged look, featuring multiple compartments for organized storage.",
    price: "120.00",
    colors: ["bg-[#aa9d88]", "bg-[#262626]"], // Add the color codes here
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="relative grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {
        products.map((article) => (
          <div class="flex flex-col gap-2 ">
            <div class="relative">
              <div class="relative aspect-[8/12] ">
                <img
                  src={article.image}
                  alt="#_"
                  class="absolute inset-0 object-cover size-full  rounded-2xl bg-gray-50"
                />
              </div>
              <div>
                <div class="flex items-center justify-between w-full mt-4">
                  <Text
                    tag="h3"
                    variant="textSM"
                    class="font-medium text-gray-900"
                  >
                    {article.title}
                    <a href="#_">
                      <span class="absolute inset-0" />
                    </a>
                  </Text>
                  <ul role="list" class="flex items-center gap-x-1">
                    {article.colors.map((color, index) => (
                      <li
                        class={`size-3 rounded-full border border-black/10 ${color}`}
                      >
                        <span class="sr-only">{color}</span>
                      </li>
                    ))}
                  </ul>
                </div>
                <Text tag="p" variant="textSM" class="mt-2 text-gray-500 ">
                  {article.description}
                </Text>
              </div>
            </div>
            <div class="flex items-center justify-between w-full mt-12">
              <Text tag="h3" variant="textSM" class="text-gray-500 ">
                {article.price}
              </Text>
              <button>Add to cart</button>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
