---
export const description = "Simple cards with add to cart cta";
import Text from "@/components/fundations/typography/Text.astro";
import Cart from "@/components/fundations/icons/Cart.astro";

const products = [
  {
    image: "/store/shoes/airforceblack/3.jpg",
    title: "Nike Air Force 1´07 Fresh",
    description: "23 Different Colors",
    price: "$140.00",
    link: "#_",
    colors: ["bg-black", "bg-white"],
  },
  {
    image: "/store/shoes/airforcewhite/2.png",
    title: "Nike Air Force 1 LE",
    description: "40 Different Colors",
    price: "$280.00",
    link: "#_",
    colors: ["bg-white", "bg-red-500", "bg-cyan-500"],
  },
  {
    image: "/store/shoes/airmax/3.png",
    title: "Nike Air Max 90",
    description: "10 Different Colors",
    price: "120.00",
    colors: ["bg-black", "bg-slate-600", "bg-yellow-400"],
  },
  {
    image: "/store/shoes/gazelle/1.png",
    title: "Gazelle",
    description: "10 Different Colors",
    price: "120.00",
    colors: ["bg-orange-500", "bg-blue-400"],
  },
  {
    image: "/store/shoes/campus/1.png",
    title: "Campus",
    description: "13 Different Colors",
    price: "80.00",
    colors: ["bg-[#2e4b40]", "bg-blue-400"],
  },
  {
    image: "/store/shoes/la/1.png",
    title: "LA Trainer",
    description: "13 Different Colors",
    price: "80.00",
    colors: ["bg-[#2e4b40]", "bg-blue-400"],
  },
];
---

<section>
  <div class="relative px-8 mx-auto md:px-12 lg:px-32 max-w-7xl py-24">
    <div
      class="relative grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-12"
    >
      {
        products.map((article) => (
          <div class="flex flex-col bg-white ">
            <div class="relative aspect-[4/3] w-full h-auto">
              <img
                src={article.image}
                alt={article.title}
                class="absolute inset-0 object-cover size-full  bg-zinc-50 rounded-2xl"
              />
            </div>
            <div class="flex flex-col justify-between h-full mt-2 gap-2">
              <div>
                <div class="flex items-center justify-between w-full ">
                  <Text
                    tag="h3"
                    variant="textSM"
                    class="relative font-medium text-zinc-900"
                  >
                    {article.title}
                    <a href="#_">
                      <span class="absolute inset-0" />
                    </a>
                  </Text>
                  <button class="text-zinc-500">
                    <Cart size="sm" />
                  </button>
                </div>
                <Text tag="p" variant="textSM" class="mt-1 text-zinc-500 ">
                  {article.description}
                </Text>
                <Text tag="p" variant="textSM" class="text-zinc-500">
                  {article.price}
                </Text>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
