---
export const description = "Simple cards with color name and choices";
import Text from "@/components/fundations/typography/Text.astro";
const products = [
  {
    image: "/store/jackets/1.png",
    title: "Contrast Hooded Puch Pocket",
    price: "$140.00",
    description: "Charcoal +3",
    colors: ["bg-[#454648]"],
    link: "#_",
  },
  {
    image: "/store/jackets/2.png",
    title: "Nike Air Force 1 LE",
    price: "$280.00",
    description: "Gray +5",
    colors: ["bg-[#c9c7c2]"],
    link: "#_",
  },
  {
    image: "/store/jackets/3.png",
    title: "Nike Air Max 90",
    price: "$120.00",
    description: "Nero +2",
    colors: ["bg-[#252525]"],
    link: "#_",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="relative grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {
        products.map((article) => (
          <div class="relative">
            <div class="relative aspect-[8/10] w-full overflow-hidden rounded-lg">
              <img
                src={article.image}
                alt="#_"
                class="object-cover size-full"
              />
            </div>
            <div class="mt-2">
              <div class="flex items-center justify-between w-full">
                <Text
                  tag="h3"
                  variant="textSM"
                  class="font-medium text-base-900"
                >
                  {article.title}
                </Text>
                <Text
                  tag="p"
                  variant="textSM"
                  class="relative flex items-center text-base-500  gap-x-1"
                >
                  {article.price}
                </Text>
              </div>
              <div
                class="flex items-center gap-1 
 "
              >
                <ul role="list" class="flex items-center gap-x-1">
                  {article.colors.map((color, index) => (
                    <li
                      class={`size-3 rounded-full border border-black/10 ${color}`}
                    >
                      <span class="sr-only">{color}</span>
                    </li>
                  ))}
                </ul>
                <Text tag="p" variant="textSM" class=" text-base-500">
                  {article.description}
                  <a href="#_">
                    <span class="absolute inset-0" />
                  </a>
                </Text>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
