---
export const excludeFromObfuscation = [
  "bg-zinc-50",
  "border-zinc-200",
  "text-zinc-700",
  "tabular-nums",
];
import Button from "@/components/fundations/buttons/Button.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import X from "@/components/fundations/icons/X.astro";
import Mail from "@/components/fundations/icons/Mail.astro";
import GithubBrand from "@/components/fundations/icons/GithubBrand.astro";
const rows = [
  {
    name: "Jhonny Begood",
    providers: ["mail", "github"],
    created: "21 Aug 2024",
    signed: "24 Sept 2024",
    userId: "7fc61d7c-9060-464f-97df-37ba721e11f7",
    status: "Active",
  },
  {
    name: "Alice Smith",
    providers: ["mail"],
    created: "19 June 2024",
    signed: "21 Aug 2024",
    userId: "16839a81-6f63-4aa2-859f-69dd924fefdd",
    status: "Inactive",
  },
  {
    name: "Bob Johnson",
    providers: ["github"],
    created: "02 May 2024",
    signed: "02 May 2024",
    userId: "d4b03e34-4574-4641-a7aa-e57d04059e38",
    status: "Pending",
  },
  {
    name: "Clara Oswald",
    providers: ["mail", "github"],
    created: "12 March 2024",
    signed: "16 July 2024",
    userId: "9e402944-9e5f-4b39-9163-3b1664211cbe",
    status: "Active",
  },
];
---

<div class="flex flex-col justify-center p-8 mx-auto bg-white dark:bg-zinc-900">
  <!-- copy:start -->
  <div class="flow-root max-w-7xl mx-auto">
    <div class="overflow-x-auto">
      <div class="flex justify-center">
        <table class="min-w-[900px] text-sm">
          <thead class="bg-zinc-100 dark:bg-zinc-950">
            <tr>
              <th
                class="px-3 py-2 text-left font-medium text-zinc-900 dark:text-zinc-100"
                >Name</th
              >
              <th
                class="px-3 py-2 text-left font-medium text-zinc-900 dark:text-zinc-100"
                >Providers</th
              >
              <th
                class="px-3 py-2 text-left font-medium text-zinc-900 dark:text-zinc-100"
                >Created</th
              >
              <th
                class="px-3 py-2 text-left font-medium text-zinc-900 dark:text-zinc-100"
                >Signed</th
              >
              <th
                class="px-3 py-2 text-left font-medium text-zinc-900 dark:text-zinc-100"
                >User ID</th
              >
              <th
                class="px-3 py-2 text-left font-medium text-zinc-900 dark:text-zinc-100"
                >Status</th
              >
              <th
                class="relative py-2 pl-3 pr-4 text-right font-medium text-zinc-900 dark:text-zinc-100"
                >Edit</th
              >
            </tr>
          </thead>
          <tbody>
            {
              rows.map((r) => (
                <tr>
                  <td class="px-3 py-2 text-zinc-700 dark:text-zinc-100  font-medium">
                    {r.name}
                  </td>
                  <td class="px-3 py-2 text-zinc-500 dark:text-zinc-300 ">
                    <div class="flex items-center gap-2">
                      {r.providers.includes("mail") && (
                        <Mail class="text-zinc-400" size="sm" slot="icon" />
                      )}
                      {r.providers.includes("github") && (
                        <GithubBrand
                          class="text-zinc-400"
                          size="sm"
                          slot="icon"
                        />
                      )}
                    </div>
                  </td>
                  <td class="px-3 py-2 text-zinc-500 dark:text-zinc-300">
                    {r.created}
                  </td>
                  <td class="px-3 py-2 text-zinc-500 dark:text-zinc-300">
                    {r.signed}
                  </td>
                  <td class="px-3 py-2 text-zinc-900 dark:text-zinc-100 font-mono ">
                    <span class="flex items-center gap-2">{r.userId}</span>
                  </td>
                  <td class="px-3 py-2 text-zinc-600 dark:text-zinc-200">
                    <span
                      class={
                        r.status === "Active"
                          ? "text-emerald-600 dark:text-emerald-400"
                          : r.status === "Inactive"
                            ? "text-red-600 dark:text-red-400"
                            : r.status === "Pending"
                              ? "text-yellow-600 dark:text-yellow-400"
                              : ""
                      }
                    >
                      {r.status}
                    </span>
                  </td>
                  <td class=" py-2">
                    <div class="flex items-center gap-2">
                      <Button
                        size="sm"
                        type="submit"
                        variant="link"
                        class="ml-auto"
                      >
                        Edit<span class="sr-only">Edit</span>
                      </Button>
                    </div>
                  </td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
