---
import { Image } from "astro:assets";
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import applicationImage from "@/screenshots/application_sign-up_03.png";
import ecommerceImage from "@/screenshots/application_flyouts_09.png";
import marketingImage from "@/screenshots/marketing_hero_03.png";

const features = [
  {
    icon: "Component",
    title: "Components",
    description:
      "Over 400 well-designed and carefully built components that follow accessibility standards and are easy to customize.",
  },
  {
    icon: "Code",
    title: "Tailwind, Alpine  and more ",
    description:
      "Interactive examples built with Alpine JS and plain HTML, with more frameworks coming soon.",
  },
  {
    icon: "Devices",
    title: "Responsive",
    description:
      "Each example is fully Devices, thoughtfully crafted, and set up to look great on screens of any size.",
  },
  {
    icon: "Mail",
    title: "No subscription required",
    description:
      "The bundle license is a one-time purchase. Oxbow UI will never charge you again after the initial payment.",
  },
  {
    icon: "Tools",
    title: "Unlimited projects",
    description:
      "Oxbow's license allows you to use all components, elements and layouts as many times as you want.",
  },
  {
    icon: "LockOpen",
    title: "Lifetime access",
    description:
      "You get instant access to all components, elements and layouts right after payment, as well as anything added in the future.",
  },
  {
    icon: "LoaderTwo",
    title: "Free updates",
    description:
      "Any improvements, new components, elements and layouts are included with your original purchase.",
  },
  {
    icon: "Lifebuoy",
    title: "Support",
    description:
      "Whenever you any questions, you can reach out to us from the support page.",
  },
  {
    icon: "Home",
    title: "Everything available",
    description:
      "This includes all component, element and layout made to date, as well as future additions.",
  },
];
const sections = [
  {
    category: "Marketing",
    title: "Landing pages",
    description:
      "Hero sections, features, footers, pricing, and ready-to-use landing pages to help you build standout marketing websites.",
    image: {
      src: marketingImage,
      alt: "hero images",
    },
  },
  {
    category: "Application",
    title: "Building a webapp?",
    description:
      "Find navigation, buttons, forms, command palettes, typography, application layouts, dialogs, and more to make your application’s user interface pretty.",
    image: {
      src: applicationImage,
      alt: "hero images",
    },
  },
  {
    category: "Ecommerce",
    title: "Got a store?",
    description:
      "Checkout forms, shopping carts, promo sections, store fronts, product overviews, and all the basics to build your store.",
    image: {
      src: ecommerceImage,
      alt: "hero images",
    },
  },
];

const started = [
  {
    icon: "Settings",
    title: "Simple customization ",
    description:
      "The bundle license is a one-time purchase. Oxbow UI will never charge you again after the initial payment.",
  },
  {
    icon: "Accessibility",
    title: "Keyboard accessibility",
    description:
      "All elements are keyboard accessible, ensuring a smooth experience for screen reader users.",
  },
  {
    icon: "Brain",
    title: "Production ready",
    description:
      "The components are rigorously tested on the latest browsers, ensuring reliability and handling edge cases effectively.",
  },
];
---

<section class="scroll-mt-24" id="features">
  <Wrapper
    variant="standard"
    class="py-12 lg:py-24 grid grid-cols-1 gap-y-12 sm:grid-cols-2 lg:grid-cols-4"
  >
    <Text
      tag="h3"
      variant="displaySM"
      class="text-black font-medium tracking-tighter"
    >
      What's included
    </Text>
    <ul
      class="grid mt-2 grid-cols-1 md:grid-cols-3 gap-y-12 lg:col-span-3 gap-x-8"
    >
      {
        sections.map(({ category, title, description, image }) => (
          <li class="  flex flex-col ">
            <div>
              <div class="relative">
                <span class="text-sm text-base-500">{category}</span>
                <h3 class="text-base mt-2 text-black font-medium">{title}</h3>
              </div>
              <p class="text-sm mt-2 text-base-500 text-pretty">
                {description}
              </p>
            </div>
            <Image
              src={image.src}
              alt={image.alt}
              class="border border-base-200 aspect-auto mt-4"
            />
          </li>
        ))
      }
      {
        features.map((feature) => (
          <li>
            <Text tag="h3" variant="textBase" class="  text-black font-medium">
              {feature.title}
            </Text>

            <Text
              tag="p"
              variant="textSM"
              class=" mt-2 text-base-500 text-pretty"
            >
              {feature.description}
            </Text>
          </li>
        ))
      }
    </ul>
  </Wrapper>
  <Wrapper
    variant="standard"
    class="py-12 lg:py-24 grid grid-cols-1 gap-y-12 sm:grid-cols-2 lg:grid-cols-4"
  >
    <Text
      tag="h3"
      variant="displaySM"
      class="text-black font-medium tracking-tighter"
    >
      Get started without configuring anything
    </Text>
    <div class="lg:col-span-3">
      <ul
        class="grid grid-cols-1 md:grid-cols-2 gap-y-12 lg:grid-cols-3 gap-x-8"
      >
        {
          started.map((started) => (
            <li>
              <Text
                tag="h3"
                variant="textBase"
                class="  text-black font-medium"
              >
                {started.title}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class=" mt-2 text-base-500 text-pretty"
              >
                {started.description}
              </Text>
            </li>
          ))
        }
      </ul>
    </div>
  </Wrapper>
</section>
