---
import { Image } from "astro:assets";
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import applicationImage from "@/screenshots/application_commandbar_03.png";
import ecommerceImage from "@/screenshots/ecommerce_product-details_01.png";
import marketingImage from "@/screenshots/marketing_hero_01.png";
import emailImage from "@/screenshots/emails_receipts_03.png";
const sections = [
  {
    category: "Marketing",
    title: "Landing pages",
    description:
      "Hero sections, features, footers, pricing, and ready-to-use landing pages to help you build standout marketing websites.",
    image: {
      src: marketingImage,
      alt: "hero images",
    },
  },
  {
    category: "Application",
    title: "Building a webapp?",
    description:
      "Find navigation, buttons, forms, command palettes, typography, application layouts, dialogs, and more to make your application’s user interface pretty.",
    image: {
      src: applicationImage,
      alt: "hero images",
    },
  },
  {
    category: "Ecommerce",
    title: "Got a store?",
    description:
      "Checkout forms, shopping carts, promo sections, store fronts, product overviews, and all the basics to build your store.",
    image: {
      src: ecommerceImage,
      alt: "hero images",
    },
  },
  {
    category: "Email",
    title: "Sending emails?",
    description:
      "We have a dedicated section for emails. with pre-made blocks to build your email in minutes.",
    image: {
      src: emailImage,
      alt: "emal images",
    },
  },
];
---
<section class="scroll-mt-24" id="features">
  <Wrapper variant="standard" class="flex flex-col py-8 gap-y-20">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-8">
      {
        sections.map(({ category, title, description, image }) => (
          <div class="relative flex flex-col gap-4">
            <div>
              <Image
                src={image.src}
                alt={image.alt}
                class="rounded-lg aspect-4/2 outline outline-base-100"
              />
              <div class="relative mt-2">
                <span class="text-sm  text-base-500 text-balance">
                  {category}
                </span>
                <Text
                  tag="h3"
                  variant="textBase"
                  class="mt-4 font-medium text-base-900 leading-6 "
                >
                  {title}
                </Text>
              </div>
              <Text tag="p" variant="textSM" class="mt-1 text-base-500">
                {description}
              </Text>
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
