---
import { Image } from "astro:assets";
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import applicationImage from "@/screenshots/application_commandbar_03.png";
import ecommerceImage from "@/screenshots/ecommerce_product-details_01.png";
import marketingImage from "@/screenshots/marketing_hero_01.png";
import emailImage from "@/screenshots/emails_receipts_03.png";
const features = [
  {
    title: "400+ Components",
    description: "Accessible, responsive, and easy to customize.",
  },
  {
    title: "Built with Tailwind & Alpine",
    description: "Clean, interactive code you can drop into any project.",
  },
  {
    title: "One-Time Payment",
    description: "Lifetime access. No subscriptions, no limits.",
  },
  {
    title: "Free Updates",
    description: "New components and improvements included, always.",
  },
  {
    title: "Fast Support",
    description: "Get help anytime. We’re here when you need us.",
  },
];

const sections = [
  {
    category: "Marketing",
    title: "Landing pages",
    description:
      "Hero sections, features, footers, pricing, and ready-to-use landing pages to help you build standout marketing websites.",
    image: {
      src: marketingImage,
      alt: "hero images",
    },
  },
  {
    category: "Application",
    title: "Building a webapp?",
    description:
      "Find navigation, buttons, forms, command palettes, typography, application layouts, dialogs, and more to make your application’s user interface pretty.",
    image: {
      src: applicationImage,
      alt: "hero images",
    },
  },
  {
    category: "Ecommerce",
    title: "Got a store?",
    description:
      "Checkout forms, shopping carts, promo sections, store fronts, product overviews, and all the basics to build your store.",
    image: {
      src: ecommerceImage,
      alt: "hero images",
    },
  },
  {
    category: "Email",
    title: "Sending emails?",
    description:
      "We have a dedicated section for emails. with pre-made blocks to build your email in minutes.",
    image: {
      src: emailImage,
      alt: "emal images",
    },
  },
];
const started = [
  {
    title: "Simple customization ",
    description:
      "The bundle license is a one-time purchase. Oxbow UI will never charge you again after the initial payment.",
  },
  {
    title: "Keyboard accessibility",
    description:
      "All elements are keyboard accessible, ensuring a smooth experience for screen reader users.",
  },
  {
    title: "Production ready",
    description:
      "The components are rigorously tested on the latest browsers, ensuring reliability and handling edge cases effectively.",
  },
];
---

<section class="scroll-mt-24" id="features">
  <Wrapper variant="standard" class="border-t">
    <div
      class="outline rounded-xl outline-base-900 shadow-2xl shadow-black p-8 bg-black"
    >
      <Text
        tag="h3"
        variant="textBase"
        class="text-base-400 font-thin font-mono uppercase"
      >
        Get started without configuring anything
      </Text>
      <ul
        class="grid grid-cols-1 md:grid-cols-2 gap-y-12 lg:grid-cols-3 gap-x-8 mt-8"
      >
        {
          started.map((started) => (
            <li>
              <Text
                tag="h3"
                variant="textBase"
                class=" mt-2 text-white font-medium"
              >
                {started.title}
              </Text>
              <Text tag="p" variant="textSM" class="mt-2 text-base-400">
                {started.description}
              </Text>
            </li>
          ))
        }
      </ul>
    </div>
  </Wrapper>
</section>
<section>
  <Wrapper variant="standard" class="border-t">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      {
        sections.map(({ category, title, description, image }) => (
          <div class="relative overflow-hidden group outline rounded-xl outline-base-900 shadow-2xl shadow-black bg-black p-8">
            <div class="relative flex flex-col gap-4">
              <Image
                src={image.src}
                alt={image.alt}
                class="size-full aspect-16/10 object-cover object-top rounded-xl mask-b-from-white "
              />
              <div>
                <div class="relative">
                  <span class="text-sm text-base-400 font-mono uppercase font-thin">
                    {category}
                  </span>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="leading-6 text-white font-medium mt-4"
                  >
                    {title}
                  </Text>
                </div>
                <Text tag="p" variant="textSM" class="text-base-500 mt-1">
                  {description}
                </Text>
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-y-12 lg:grid-cols-3 gap-x-8 outline rounded-xl outline-base-900 shadow-2xl shadow-black p-8 bg-black mt-4"
    >
      {
        features.map((feature) => (
          <li>
            <Text
              tag="h3"
              variant="textBase"
              class=" mt-2 text-white font-medium"
            >
              {feature.title}
            </Text>
            <Text tag="p" variant="textSM" class="mt-2 text-base-400">
              {feature.description}
            </Text>
          </li>
        ))
      }
    </div>
  </Wrapper>
</section>
