---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Load all changelog entries from content collection
const raw = await getCollection("changelog");
// Render MDX body for each entry
const entries = await Promise.all(
  raw.map(async (entry) => {
    const rendered = await entry.render();
    return { data: entry.data, Content: rendered.Content };
  })
);
// Sort latest first
entries.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
// Assign IDs for anchor linking
const entriesWithIds = entries.map((entry) => ({
  ...entry,
  id: `entry-${entry.data.date}`,
}));
---

<BaseLayout>
  <Wrapper variant="standard" class="relative pt-12 pb-8 lg:pt-14">
    <h1 class="text-2xl font-semibold text-zinc-900">Changelog</h1>
    <div class="flex flex-col lg:flex-row gap-12 mt-12">
      <aside class="hidden md:block  lg:w-1/5 sticky top-20">
        <Text tag="h4" variant="textSM" class="font-semibold mb-2"
          >Contents</Text
        >
        <ul class="space-y-1 mt-4">
          {
            entriesWithIds.map((entry) => (
              <li>
                <a
                  href={`#${entry.id}`}
                  class="text-zinc-700 hover:underline text-xs"
                >
                 
                  {entry.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </aside>
      <Wrapper variant="prose" class="max-w-xl lg:mx-auto lg:flex-1 lg:w-5/5 divide-y divide-zinc-200">
        {
          entriesWithIds.map((entry) => (
            <section id={entry.id} class="pb-8">
              <Kicker>{entry.data.date}</Kicker>
              <Text tag="h3" variant="textLG" class="font-semibold mt-8">
                {entry.data.title}
              </Text>
              <div class="prose mt-1 text-zinc-500 ">
                <entry.Content />
              </div>
            </section>
          ))
        }
      </Wrapper>
    </div>
  </Wrapper>
</BaseLayout>
