---
import { AstroSeo } from "@astrolib/seo";
import Cta from "@/components/global/Cta.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Reviews from "@/components/landing/Reviews.astro";
import Text from "@/components/fundations/typography/Text.astro";
import EntryStructure from "@/components/landing/EntryStructure.astro";
import StickyNav from "@/components/global/StickyNav.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
//
//
// Marketing
import { pageSections } from "@/data/entries.json";
import { pageExamples } from "@/data/entries.json";
//
//
// Application
import { forms, elements, overlay, navigation } from "@/data/entries.json";
//
//
// Emails
import { emailsEcommerce } from "@/data/entries.json";
//
//
// Ecommerce
import { storeSections } from "@/data/entries.json";
---

<AstroSeo
  title="Oxbow UI - Components "
  description="Find components, elements and layouts "
  canonical="https://www.oxbowui.com/components"
  openGraph={{
    url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
    title: "Oxbow UI - Home",
    description: "Find components, elements and layouts ",
    images: [
      {
        url: "https://www.oxbowui.com/images/OpenGraph/facebook.png",
        width: 1200,
        height: 630,
        alt: "oxbow",
        type: "image/png",
      },
      {
        url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
        width: 4096,
        height: 4096,
        alt: "oxbow",
        type: "image/png",
      },
      { url: "https://www.oxbowui.com/images/OpenGraph/facebook.ong" },
      { url: "https://www.oxbowui.com/images/OpenGraph/twitter.png" },
    ],
    site_name: "oxbow",
  }}
  twitter={{
    handle: "@Mike_Andreuzza",
    site: "https://www.oxbowui.com",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <StickyNav />
  <section id="entries">
    <Wrapper variant="standard" class="lg:border-x lg:border-base-200">
      <section id="marketing" class="flex flex-col scroll-mt-24">
        <div>
          <div class="py-8 pb-5 grid grid-cols-1 lg:grid-cols-4 gap-4">
            <Text tag="h3" variant="textbase" class="text-base-900">
              Marketing
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="text-base-500 lg:col-span-3"
            >
              Landing pages, pricing, features, footers — all the stuff that
              makes marketing sites look like you know what you're doing.
            </Text>
          </div>
          <div class="flex flex-col mt-8 gap-12">
            <div
              class="grid grid-cols-1 lg:grid-cols-4 scroll-mt-24"
              id="pageSections"
            >
              <div class="2xl:col-span-full">
                <div class="lg:sticky lg:pb-16 2xl:pb-4 top-24">
                  <Text variant="textBase" class="text-base-500">
                    Page sections
                  </Text>
                </div>
              </div>
              <EntryStructure entries={pageSections} />
            </div>
            <div
              class="grid grid-cols-1 lg:grid-cols-4 scroll-mt-24"
              id="pageExamples"
            >
              <div class="2xl:col-span-full">
                <div class="lg:sticky lg:pb-16 2xl:pb-4 top-24">
                  <Text variant="textBase" class="text-base-500">
                    Landing Pages
                  </Text>
                </div>
              </div>
              <EntryStructure entries={pageExamples} />
            </div>
          </div>
        </div>
      </section>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="border-t lg:border-x lg:border-base-200">
      <section id="application" class="flex flex-col scroll-mt-24">
        <div>
          <div class="py-8 pb-5 grid grid-cols-1 lg:grid-cols-4 gap-4">
            <Text tag="h3" variant="textbase" class="text-base-900">
              Application
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="text-base-500 lg:col-span-3"
            >
              Navs, buttons, forms, layouts — all the UI bits your app needs to
              look like it wasn’t thrown together last night.
            </Text>
          </div>
          <div class="flex flex-col mt-8 gap-12">
            <div
              class="grid grid-cols-1 lg:grid-cols-4 scroll-mt-24"
              id="navigation"
            >
              <div class="2xl:col-span-full">
                <div class="lg:sticky lg:pb-16 2xl:pb-4 top-24">
                  <Text variant="textBase" class="text-base-500">
                    Navigation
                  </Text>
                </div>
              </div>
              <EntryStructure entries={navigation} />
            </div>
            <div
              class="grid grid-cols-1 lg:grid-cols-4 scroll-mt-24"
              id="overlay"
            >
              <div class="2xl:col-span-full">
                <div class="lg:sticky lg:pb-16 2xl:pb-4 top-24">
                  <Text variant="textBase" class="text-base-500">Overlay</Text>
                </div>
              </div>
              <EntryStructure entries={overlay} />
            </div>
            <div
              class="grid grid-cols-1 lg:grid-cols-4 scroll-mt-24"
              id="forms"
            >
              <div class="2xl:col-span-full">
                <div class="lg:sticky lg:pb-16 2xl:pb-4 top-24">
                  <Text variant="textBase" class="text-base-500">Forms</Text>
                </div>
              </div>
              <EntryStructure entries={forms} />
            </div>
            <div
              class="grid grid-cols-1 lg:grid-cols-4 scroll-mt-24"
              id="elements"
            >
              <div class="2xl:col-span-full">
                <div class="lg:sticky lg:pb-16 2xl:pb-4 top-24">
                  <Text variant="textBase" class="text-base-500">
                    Elements
                  </Text>
                </div>
              </div>
              <EntryStructure entries={elements} />
            </div>
          </div>
        </div>
      </section>
    </Wrapper>
  </section>

  <section>
    <Wrapper variant="standard" class="border-t lg:border-x lg:border-base-200">
      <section id="ecommerce">
        <div>
          <div class="py-8 pb-5 grid grid-cols-1 lg:grid-cols-4 gap-4">
            <Text tag="h3" variant="textbase" class="text-base-900">
              eCommerce
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="text-base-500 lg:col-span-3"
            >
              Carts, checkouts, promos, product pages — everything you need to
              make your store look open for business (and not like a side
              project).
            </Text>
          </div>
          <div class="flex flex-col mt-8 gap-12">
            <div
              class="grid grid-cols-1 lg:grid-cols-4 scroll-mt-24"
              id="storeSections"
            >
              <div class="2xl:col-span-full">
                <div class="lg:sticky lg:pb-16 2xl:pb-4 top-24">
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium text-base-500"
                  >
                    Pages
                  </Text>
                </div>
              </div>
              <EntryStructure entries={storeSections} />
            </div>
          </div>
        </div>
      </section>
    </Wrapper>
  </section>
  <Reviews />
  <Cta />
</BaseLayout>
