---
import { reviews } from "@/data/reviews.json";
import Cta from "@/components/global/Cta.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import MainHero from "@/components/fundations/containers/MainHero.astro";
---

<BaseLayout>
  <MainHero
    showAlpineTailwind={false}
    title="Meet Oxbow's customers and supporters"
  />
  <section>
    <Wrapper variant="standard" class="py-12">
      <ul
        class="w-full relative md:grod-cols-2 lg:grid-cols-4 grid mt-12 gap-y-12 lg:gap-y-24"
        role="list"
      >
        {
          reviews.map((template) => (
            <>
              <li class=" h-full flex px-4 relative before:absolute after:absolute before:bg-base-800 before:top-0 before:left-0 before:h-6 before:w-0.5 after:top-8 after:bottom-0 after:left-0 after:w-0.5">
                <div class="flex flex-col h-full justify-between gap-6  ">
                  <Text
                    tag="p"
                    variant="textSM"
                    class="text-base-500 text-balance font-medium  "
                  >
                    "{template.text}"
                  </Text>
                  <div class="inline-flex items-center gap-3">
                    <div class="flex-shrink-0">
                      <img
                        alt={template.name}
                        src={template.image}
                        class="size-10 rounded-full  grayscale"
                      />
                    </div>
                    <div class="flex-1 min-w-0  font-medium text-black">
                      <Text tag="p" variant="textSM">
                        {template.name}
                      </Text>
                      <Text tag="p" variant="textSM">
                        {template.work}
                      </Text>
                    </div>
                  </div>
                </div>
              </li>
            </>
          ))
        }
      </ul>
    </Wrapper>
  </section>
  <Cta />
</BaseLayout>
