---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { reviews } from "@/data/reviews.json";
import Cta from "@/components/global/Cta.astro";
---

<BaseLayout>
  <section>
    <div class="max-w-5xl 2xl:max-w-screen-xl px-8 mx-auto pt-12 relative">
      <div class="pb-5 max-w-3xl">
        <p class="text-base-900 font-medium text-4xl tracking-tighter">
          Meet Oxbow's customers and supporters
        </p>
        <p class="mt-4 text-base-600">
          Oxbow UI enables individuals and businesses of all sizes to launch
          their products quickly, in days instead of months. Explore our range
          of customizable components and begin creating your ideal website
          today.
        </p>
      </div>

      <ul
        class="w-full border-y divide-y mt-8"
        role="list">
        {
          reviews.map((template) => (
            <>
              <li class="py-4 lg:py-8">
                <div class="grid items-start grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-24">
                  <div class="order-last lg:col-span-2">
                    <p class="text-base-600 text-pretty">"{template.text}"</p>
                  </div>
                  <div class="inline-flex items-center gap-3">
                    <div class="flex-shrink-0">
                      <img
                        alt="a picture of {template.name}"
                        src={template.image}
                        class="w-10 h-10 rounded-full lg:h-16 lg:w-16 grayscale"
                      />
                    </div>
                    <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-black">
                        {template.name}
                      </p>
                      <p class="text-sm text-base-600">{template.work}</p>
                    </div>
                  </div>
                </div>
              </li>
            </>
          ))
        }
      </ul>
    </div>
  </section>

  <Cta />
</BaseLayout>
