---
import { reviews } from "@/data/reviews.json";
import Cta from "@/components/global/Cta.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import MainHero from "@/components/fundations/containers/MainHero.astro";
---

<BaseLayout>
  <MainHero
    showAlpineTailwind={false}
    title="Meet Oxbow's customers and supporters"
    subtitle="Oxbow UI enables individuals and businesses of all sizes to launch their products quickly, in days instead of months. Explore our range of customizable components and begin creating your ideal website today."
  />
  <section>
    <Wrapper
      variant="standard"
      class="py-12">
      <ul
        class="w-full border-y divide-y"
        role="list">
        {
          reviews.map((template) => (
            <>
              <li class="py-4 lg:py-8">
                <div class="grid items-start grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-24">
                  <div class="order-last lg:col-span-2">
                    <Text
                      tag="p"
                      variant="textBase"
                      class="text-base-600 text-pretty">
                      "{template.text}"
                    </Text>
                  </div>
                  <div class="inline-flex items-center gap-3">
                    <div class="flex-shrink-0">
                      <img
                        alt="a picture of {template.name}"
                        src={template.image}
                        class="size-10 rounded-full lg:size-12 grayscale"
                      />
                    </div>
                    <div class="flex-1 min-w-0 font-medium text-black">
                      <Text
                        tag="p"
                        variant="textSM">
                        {template.name}
                      </Text>
                      <Text
                        tag="p"
                        variant="textSM">
                        {template.work}
                      </Text>
                    </div>
                  </div>
                </div>
              </li>
            </>
          ))
        }
      </ul>
    </Wrapper>
  </section>
  <Cta />
</BaseLayout>
