---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { AstroSeo } from "@astrolib/seo";
import Crosses from "@/components/designAssets/Crosses.astro";
import EntryStructure from "@/components/landing/EntryStructure.astro";
import Cta from "@/components/global/Cta.astro";
//
// Marketing
//
import { pageSections } from "@/data/entries.json";
//
// Application
import { forms } from "@/data/entries.json";
import { navigation } from "@/data/entries.json";
import BaseLayout from "@/layouts/BaseLayout.astro";
import EntryStructure from "@/components/landing/EntryStructure.astro";
---

<AstroSeo
  title="Windstatic UI - Home "
  description="Premium components, elements and layouts For freelancers, developers, businesses, and personal use. Beautifully crafted with Tailwind CSS and Alpine JS — Simple & easy to customise."
  canonical="https://www.windstatic.com"
  openGraph={{
    url: "https://www.windstatic.com/images/OpenGraph/twitter.png",
    title: "Windstatic UI - Home",
    description:
      "Premium components, elements and layouts For freelancers, developers, businesses, and personal use. Beautifully crafted with Tailwind CSS and Alpine JS — Simple & easy to customise.",
    images: [
      {
        url: "https://www.windstatic.com/images/OpenGraph/facebook.png",
        width: 1200,
        height: 630,
        alt: "Windstatic",
        type: "image/png",
      },
      {
        url: "https://www.windstatic.com/images/OpenGraph/twitter.png",
        width: 4096,
        height: 4096,
        alt: "Windstatic",
        type: "image/png",
      },
      { url: "https://www.windstatic.com/images/OpenGraph/facebook.ong" },
      { url: "https://www.windstatic.com/images/OpenGraph/twitter.png" },
    ],
    site_name: "Windstatic",
  }}
  twitter={{
    handle: "@Mike_Andreuzza",
    site: "https://www.windstatic.com",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <section class="relative overflow-hidden">
    <div class="max-w-5xl 2xl:max-w-screen-xl px-8 mx-auto pt-12 relative">
      <div class="relative lg:text-center">
        <div class="flex items-center lg:justify-center gap-4">
          <div class="inline-flex gap-2 items-center">
            <svg
              class="flex-none inline size-6"
              viewBox="0 0 64 64"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_459_2)">
                <path
                  d="M32 12.75C23.4668 12.75 18.1332 17.0168 16 25.55C19.2 21.2833 22.9333 19.6832 27.2 20.75C29.6343 21.3585 31.3743 23.2498 33.3003 25.0795C36.4378 28.2643 40.0687 31.95 48 31.95C56.5332 31.95 61.8668 27.6832 64 19.15C60.8 23.4167 57.0667 25.0167 52.8 23.95C50.3657 23.3415 48.6257 21.4503 46.6997 19.6205C43.5622 16.4358 39.9313 12.75 32 12.75ZM16 31.95C7.46675 31.95 2.13325 36.2168 0 44.75C3.2 40.4833 6.93325 38.8833 11.2 39.95C13.6342 40.5585 15.3742 42.4497 17.3002 44.2795C20.4377 47.4642 24.0687 51.15 32 51.15C40.5332 51.15 45.8668 46.8833 48 38.35C44.8 42.6168 41.0667 44.2167 36.8 43.15C34.3657 42.5415 32.6258 40.6502 30.6998 38.8205C27.5623 35.6357 23.9313 31.95 16 31.95Z"
                  fill="#38BDF9"
                  stroke="#38BDF9"
                  stroke-width="0.25"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_459_2">
                  <rect
                    width="64"
                    height="64"
                    fill="white"
                  ></rect>
                </clipPath>
              </defs>
            </svg> Tailwind CSS
          </div>
          ·
          <div class="inline-flex gap-2 items-center">
            <svg
              class="flex-none inline size-6"
              viewBox="0 0 64 64"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_460_7)">
                <path
                  d="M49.7769 17L63.9992 31.16L49.7769 45.3197L35.5547 31.1597L49.7769 17Z"
                  fill="#77C1D2"
                ></path>
                <path
                  d="M14.2222 17L43.7067 46.355H15.2622L0 31.16L14.2222 17Z"
                  fill="#2D3441"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_460_7">
                  <rect
                    width="64"
                    height="29.5"
                    fill="white"
                    transform="translate(0 17)"
                  ></rect>
                </clipPath>
              </defs>
            </svg>
            Alpine JS
          </div>
        </div>
        <div class="max-w-xl lg:mx-auto pt-8">
          <div class="prose-styles">
            <h1
              class="text-3xl font-semibold tracking-tight lg:text-balance sm:text-5xl text-balance [@media(max-width:480px)]:text-[2rem] 2xl:text-[3rem] text-black not-prose">
              Premium components, elements and layouts
            </h1>
            <p class="text-balance max-w-2xl 2xl:text-lg">
              For freelancers, developers, businesses, and personal use. <br
                class="hidden lg:block"
              />
              Beautifully crafted with Tailwind CSS and Alpine JS — Simple & easy
              to customise.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="max-w-7xl 2xl:max-w-screen-xl mx-auto px-8 pb-12 lg:pb-32 mt-24 relative">
      <div
        x-data
        x-tabs
        class="relative">
        <div
          x-tabs:list
          class="-mb-px flex items-stretch gap-2 border-b relative">
          <button
            x-tabs:tab
            type="button"
            :class="$tab.isSelected ? 'border-accent-500 bg-white' : 'border-transparent'"
            class="inline-flex border-b-2 text-sm 2xl:text-lg w-28 2xl:w-40 text-black py-2.5 pr-6 focus:outline-none"
            >Marketing
          </button>
          <button
            x-tabs:tab
            type="button"

            :class="$tab.isSelected ? 'border-accent-500 bg-white' : 'border-transparent'"
            class="inline-flex border-b-2 text-sm 2xl:text-lg group w-28 2xl:w-40 text-black py-2.5 pr-6 focus:outline-none">
            Application
          </button>
          <button
            x-tabs:tab
            type="button"
            title="coming soon"
            disabled
            :class="$tab.isSelected ? 'border-accent-500 bg-white' : 'border-transparent'"
            class="inline-flex border-b-2 text-sm 2xl:text-lg group w-28 2xl:w-40 text-black py-2.5 pr-6 focus:outline-none disabled:opacity-50">
            <span class="group-hover:hidden">eCommerce</span>
            <span class="hidden group-hover:block">Coming soon</span></button
          >
        </div>
        <div
          x-tabs:panels
          class="pt-6 relative">
          <section
            id="marketing"
            class="flex flex-col scroll-mt-16"
            x-tabs:panel>
            <div>
              <div
                class="prose-styles grid grid-cols-1 gap-4 relative lg:grid-cols-3 items-start border border-dashed border-gray-200 p-8">
                <Crosses />
                <h2 class="!mt-0 2xl:text-lg">Marketing</h2>
                <p class="lg:col-span-2 2xl:text-lg">
                  Hero sections, feature displays, footers, pricing pages and
                  more help you build standout marketing websites that impress
                  visitors, showcase key features, and grow your audience.
                </p>
              </div>
              <section class="mt-12 flex flex-col gap-12 lg:gap-24">
                <div
                  class="flex flex-col gap-6 scroll-mt-16"
                  id="pageSections">
                  <div class="border-b pb-2">
                    <h3 class="text-base font-semibold leading-6 text-gray-900">
                      Page sections
                    </h3>
                  </div>
                  <EntryStructure entries={pageSections} />
                </div>
              </section>
            </div>
          </section>
          <section
            id="application"
            class="flex flex-col scroll-mt-16"
            x-tabs:panel>
            <div
              class="prose-styles grid grid-cols-1 gap-4 relative lg:grid-cols-3 items-start border border-dashed border-gray-200 p-8">
              <Crosses />
              <h2 class="!mt-0 2xl:text-lg"> Application UI</h2>
              <p class="lg:col-span-2 2xl:text-lg">
                Form layouts, tables, and modals help build responsive web apps.
                Create user-friendly forms, manage data with sortable tables,
                and use modals for smooth interactions .
              </p>
            </div>
            <section class="mt-12 flex flex-col gap-12 lg:gap-24">
              <!--  <div
              class="flex flex-col gap-6 scroll-mt-16"
              id="navigation">
              <div class="border-b pb-2">
                <h3 class="text-base font-semibold leading-6 text-gray-900">
                  Navigation
                </h3>
              </div>
              <EntryStructure entries={navigation} />
            </div>
            <div
              class="flex flex-col gap-6 scroll-mt-16"
              id="elements">
              <div class="border-b pb-2">
                <h3 class="text-base font-semibold leading-6 text-gray-900">
                  Elements
                </h3>
              </div>
              <EntryStructure entries={elements} />
            </div>
            <div class="flex flex-col gap-6 scroll-mt-16"
            id="overlay">
              <div class="border-b pb-2">
                <h3 class="text-base font-semibold leading-6 text-gray-900">
                  Overlay
                </h3>
              </div>
              <EntryStructure entries={overlay} />
            </div> -->
              <div
                class="flex flex-col gap-6 scroll-mt-16"
                id="forms">
                <div class="border-b pb-2">
                  <h3 class="text-base font-semibold leading-6 text-gray-900">
                    Forms
                  </h3>
                </div>
                <EntryStructure entries={forms} />
              </div>
            </section>
          </section>
          <section x-tabs:panel>
            <div>
              <div
                class="prose-styles grid grid-cols-1 gap-4 relative lg:grid-cols-3 items-start border border-dashed border-gray-200 p-8">
                <Crosses />
                <h2 class="!mt-0 2xl:text-lg">Coming soon — ECommerce</h2>
                <p class="lg:col-span-2 2xl:text-lg">
                  Essential e-commerce tools: checkout forms, shopping carts,
                  and product views for a smooth shopping experience.
                </p>
              </div>
              <!-- <section class="mt-12 flex flex-col gap-12 lg:gap-24">
              <div
                class="flex flex-col gap-6 scroll-mt-16"
                id="navigation">
                <div class="border-b pb-2">
                  <h3 class="text-base font-semibold leading-6 text-gray-900">
                    General
                  </h3>
                </div>
                <EntryStructure entries={navigation} />
              </div>
            </section> -->
            </div>
          </section>
        </div>
      </div>
    </div>
    <Cta />
  </section>
</BaseLayout>
