---
import { AstroSeo } from "@astrolib/seo";
import Crosses from "@/components/designAssets/Crosses.astro";
// Marketing
import { pageSections } from "@/data/entries.json";
// Application
import { navigation } from "@/data/entries.json";
import { elements } from "@/data/entries.json";
import { overlay } from "@/data/entries.json";
// Forms
import { forms } from "@/data/entries.json";
import BaseLayout from "@/layouts/BaseLayout.astro";
import EntryStructure from "@/components/landing/EntryStructure.astro";
---

<AstroSeo
  title="Windstatic - Home "
  description="A set of elements & layouts made with Tailwind CSS and Alpine.js"
  canonical="https://www.windstatic.com"
  openGraph={{
    url: "https://www.windstatic.com",
    title: "Windstatic - Home",
    description:
      "Discover a collection of components ready to be seamlessly integrated into your applications with just a simple copy and paste.",
    images: [
      {
        url: "https://www.windstatic.com/images/OpenGraph/facebook.png",
        width: 1200,
        height: 630,
        alt: "Windstatic",
        type: "image/png",
      },
      {
        url: "https://www.windstatic.com/OpenGraph/twitter.png",
        width: 4096,
        height: 4096,
        alt: "Windstatic",
        type: "image/png",
      },
      { url: "https://www.windstatic.com/OpenGraph/facebook.ong" },
      { url: "https://www.windstatic.com/OpenGraph/twitter.png" },
    ],
    site_name: "Windstatic",
  }}
  twitter={{
    handle: "@Mike_Andreuzza",
    site: "https://www.windstatic.com",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <section class="relative overflow-hidden">
    <div class="max-w-5xl mx-auto text-center px-8 pt-12 lg:pt-32 relative">
      <div class="flex items-center gap-4 justify-center">
        <div class="inline-flex gap-2 items-center">
          <svg
            class="flex-none inline size-6"
            viewBox="0 0 64 64"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_459_2)">
              <path
                d="M32 12.75C23.4668 12.75 18.1332 17.0168 16 25.55C19.2 21.2833 22.9333 19.6832 27.2 20.75C29.6343 21.3585 31.3743 23.2498 33.3003 25.0795C36.4378 28.2643 40.0687 31.95 48 31.95C56.5332 31.95 61.8668 27.6832 64 19.15C60.8 23.4167 57.0667 25.0167 52.8 23.95C50.3657 23.3415 48.6257 21.4503 46.6997 19.6205C43.5622 16.4358 39.9313 12.75 32 12.75ZM16 31.95C7.46675 31.95 2.13325 36.2168 0 44.75C3.2 40.4833 6.93325 38.8833 11.2 39.95C13.6342 40.5585 15.3742 42.4497 17.3002 44.2795C20.4377 47.4642 24.0687 51.15 32 51.15C40.5332 51.15 45.8668 46.8833 48 38.35C44.8 42.6168 41.0667 44.2167 36.8 43.15C34.3657 42.5415 32.6258 40.6502 30.6998 38.8205C27.5623 35.6357 23.9313 31.95 16 31.95Z"
                fill="#38BDF9"
                stroke="#38BDF9"
                stroke-width="0.25"
              ></path>
            </g>
            <defs>
              <clipPath id="clip0_459_2">
                <rect
                  width="64"
                  height="64"
                  fill="white"
                ></rect>
              </clipPath>
            </defs>
          </svg> Tailwind CSS
        </div>
        ·
        <div class="inline-flex gap-2 items-center">
          <svg
            class="flex-none inline size-6"
            viewBox="0 0 64 64"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_460_7)">
              <path
                d="M49.7769 17L63.9992 31.16L49.7769 45.3197L35.5547 31.1597L49.7769 17Z"
                fill="#77C1D2"
              ></path>
              <path
                d="M14.2222 17L43.7067 46.355H15.2622L0 31.16L14.2222 17Z"
                fill="#2D3441"
              ></path>
            </g>
            <defs>
              <clipPath id="clip0_460_7">
                <rect
                  width="64"
                  height="29.5"
                  fill="white"
                  transform="translate(0 17)"
                ></rect>
              </clipPath>
            </defs>
          </svg>
          Alpine JS
        </div>
      </div>
      <div class="prose-styles pt-8">
        <h1
          class="text-4xl font-semibold tracking-tight sm:text-5xl text-balance [@media(max-width:480px)]:text-[2rem] text-black not-prose">
          A set of elements & layouts made with Tailwind CSS and Alpine JSS

        </h1>

        <p class="text-balance max-w-xl mx-auto">
          Discover a collection of components ready to be seamlessly integrated
          into your applications with just a simple copy and paste.
        </p>
        <div class="justify-center pt-4">
          <span
            class="hidden lg:inline bg-white text-[0.65rem] h-10 text-black border px-4 py-3 rounded-md shadow-whiteOnWhite"
            title="command palette">
            Search for anything with —
            <span> ⌘ + K </span>
            or <span> CTRL + K </span>
          </span>
        </div>
      </div>
    </div>

    <div class="max-w-5xl 2xl:max-w-[100rem] mx-auto px-8 pb-12 lg:pb-32 mt-24">
      <div
        x-data
        x-tabs>
        <div
          x-tabs:list
          class="-mb-px flex items-stretch gap-2 border-b">
          <button
            x-tabs:tab
            type="button"
            :class="$tab.isSelected ? 'border-accent-500 bg-white' : 'border-transparent'"
            class="inline-flex border-b-2 text-xs py-2.5 pr-6 focus:outline-none"
            >Marketing</button
          >
          <button
            x-tabs:tab
            type="button"
            title="coming soon"
            :class="$tab.isSelected ? 'border-accent-500 bg-white' : 'border-transparent'"
            class="inline-flex border-b-2 text-xs py-2.5 pr-6 focus:outline-none"
            >Application</button
          >
          <button
            x-tabs:tab
            type="button"
            title="coming soon"
            :class="$tab.isSelected ? 'border-accent-500 bg-white' : 'border-transparent'"
            class="inline-flex border-b-2 text-xs py-2.5 pr-6 focus:outline-none"
            >ECommerce</button
          >
        </div>
        <div
          x-tabs:panels
          class="pt-6">
          <section
            id="marketing"
            class="flex flex-col scroll-mt-16"
            x-tabs:panel>
            <div>
              <div>
                <div
                  class="prose-styles grid grid-cols-1 gap-4 relative lg:grid-cols-3 items-start border border-dashed border-gray-200 p-8">
                  <Crosses />
                  <h2 class="!mt-0">Marketing</h2>
                  <p class="lg:col-span-2">
                    Hero sections, feature displays, and newsletter sign-up
                    forms — essential elements for crafting captivating
                    marketing websites. These components help make a strong
                    first impression, showcase key offerings, and grow your
                    audience, ensuring your site stands out and engages visitors
                    effectively.
                  </p>
                </div>
              </div>
              <section class="mt-12 flex flex-col gap-12 lg:gap-24">
                <div
                  class="flex flex-col gap-6 scroll-mt-16"
                  id="pageSections">
                  <div class="border-b pb-2">
                    <h3 class="text-base font-semibold leading-6 text-black">
                      Page sections
                    </h3>
                  </div>
                  <EntryStructure entries={pageSections} />
                </div>
              </section>
            </div>
          </section>
          <section
            id="application"
            class="flex flex-col scroll-mt-16"
            x-tabs:panel>
            <div
              class="prose-styles grid grid-cols-1 gap-4 relative lg:grid-cols-3 items-start border border-dashed border-gray-200 p-8">
              <Crosses />
              <h2 class="!mt-0">Coming soon — Application UI</h2>
              <p class="lg:col-span-2">
                Form layouts, tables, and modal dialogs help create attractive,
                responsive web applications. Design intuitive forms, manage data
                with sortable tables, and use modal dialogs for smooth
                interactions, ensuring functionality and visual appeal across
                all devices.
              </p>
            </div>
            <section class="mt-12 flex flex-col gap-12 lg:gap-24">
              <!-- <div
                class="flex flex-col gap-6 scroll-mt-16"
                id="navigation">
                <div class="border-b pb-2">
                  <h3 class="text-base font-semibold leading-6 text-black">
                    Navigation
                  </h3>
                </div>
                <EntryStructure entries={navigation} />
              </div>
              <div
                class="flex flex-col gap-6 scroll-mt-16"
                id="elements">
                <div class="border-b pb-2">
                  <h3 class="text-base font-semibold leading-6 text-black">
                    Elements
                  </h3>
                </div>
                <EntryStructure entries={elements} />
              </div>
              <div class="flex flex-col gap-6 scroll-mt-16"
              id="overlay">
                <div class="border-b pb-2">
                  <h3 class="text-base font-semibold leading-6 text-black">
                    Overlay
                  </h3>
                </div>
                <EntryStructure entries={overlay} />
              </div>
              <div class="flex flex-col gap-6 scroll-mt-16"
              id="forms">
                <div class="border-b pb-2">
                  <h3 class="text-base font-semibold leading-6 text-black">
                    Forms
                  </h3>
                </div>
                <EntryStructure entries={forms} />
              </div> -->
            </section>
          </section>
          <section x-tabs:panel>
            <div>
              <div
                class="prose-styles grid grid-cols-1 gap-4 relative lg:grid-cols-3 items-start border border-dashed border-gray-200 p-8">
                <Crosses />
                <h2 class="!mt-0">Coming soon — ECommerce</h2>
                <p class="lg:col-span-2">
                  Checkout forms, shopping carts, and product views — all the
                  essentials to build your next ecommerce front-end. Create
                  seamless checkout processes, efficient shopping carts, and
                  engaging product displays to ensure a smooth and appealing
                  shopping experience for your customers.
                </p>
              </div>
              <section class="mt-12 flex flex-col gap-12 lg:gap-24">
                <div
                  class="flex flex-col gap-6 scroll-mt-16"
                  id="navigation">
                  <div class="border-b pb-2">
                    <h3 class="text-base font-semibold leading-6 text-black">
                      General
                    </h3>
                  </div>
                  <EntryStructure entries={navigation} />
                </div>
              </section>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
