---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { AstroSeo } from "@astrolib/seo";
import Included from "@/components/global/Included.astro";
import Cta from "@/components/global/Cta.astro";
const pricingData = [
  /* {
    img: "/images/oxbow/windLogoDark.png",
    type: "Teams",
    price: "$299",
    audience: "For startup teams and agencies",
    features: [
      "Same as individual — plus get access to your team. This tier gives you access to up to 5 people.",
    ],
    cardStyles: "relative flex border p-8 bg-white  ",
    purchaseButton: {
      text: "Buy for $299",
      class:
        "inline-flex 2xl:text-base h-10 items-center focus:outline-none bg-white border border-gray-300 focus:ring-2 focus:ring-black focus:ring-offset-2 font-medium hover:bg-gray-50 px-4 py-1 rounded-full text-black text-sm duration-200 w-full text-center justify-center",
      link: "/api/buy/team",
    },
  }, */
  {
    img: "/images/oxbow/windLogo.png",
    type: "Individual",
    price: "$49 ",
    futurePrice: "$149",
    audience: "For individuals working on their projects or freelancers.",
    features: [
      "All components ",
      "Lifetime access ",
      "Unlimited projects ",
      "Free updates ",
      "Use in SaaS",
    ],
    cardStyles: "relative flex border p-8 bg-gray-50 order-first lg:order-none",
    purchaseButton: {
      text: "Buy for ",
      class:
        "text-white h-10 2xl:text-base bg-black focus:ring-2 focus:ring-white focus:ring-offset-2 inline-flex items-center px-4 py-1 rounded-full border border-transparent hover:bg-black/10 hover:text-black ring-1 ring-transparent duration-200 text-sm w-full justify-center",
      link: "/api/buy/individual",
    },
  },
  /* {
    img: "/images/oxbow/windLogo.png",
    type: "Demos",
    price: "$0",
    audience: "Every category has a free demo",
    features: ["1 Component from every category ready to copy to clipboard"],
    cardStyles: " relative flex border p-8 bg-white ",
    purchaseButton: {
      text: "Browse components",
      class:
        "inline-flex 2xl:text-base h-10 items-center focus:outline-none bg-white border border-gray-300 focus:ring-2 focus:ring-black focus:ring-offset-2 font-medium hover:bg-gray-50 px-4 py-1 rounded-full text-black text-sm duration-200 w-full text-center justify-center",
      link: "/",
    },
  }, */
];
---

<AstroSeo
  title="Oxbow UI - Pricing "
  description="Unlock permanent access to all components, elements and layouts and future additions for a one-time payment."
  canonical="https://www.oxbowui.com/pricing"
  openGraph={{
    url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
    title: "Oxbow UI - Pricing",
    description:
      "Unlock permanent access to all components, elements and layouts and future additions for a one-time payment.",
    images: [
      {
        url: "https://www.oxbowui.com/images/OpenGraph/facebook.png",
        width: 1200,
        height: 630,
        alt: "Oxbow UI",
        type: "image/png",
      },
      {
        url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
        width: 4096,
        height: 4096,
        alt: "Oxbow UI",
        type: "image/png",
      },
      { url: "https://www.oxbowui.com/images/OpenGraph/facebook.ong" },
      { url: "https://www.oxbowui.com/images/OpenGraph/twitter.png" },
    ],
    site_name: "Oxbow UI",
  }}
  twitter={{
    handle: "@Mike_Andreuzza",
    site: "https://www.oxbowui.com",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <section class="relative overflow-hidden">
    <div class="max-w-5xl 2xl:max-w-screen-xl px-8 mx-auto pt-12 relative">
      <div
        class="grid grid-cols-1 gap-6 lg:grid-cols-2 xl:grid-cols-3 items-start">
        <div class="xl:col-span-2">
          <div class="flex items-center gap-4 text-sm text-gray-500">
            <div class="inline-flex gap-2 items-center">
              <svg
                class="flex-none inline size-6"
                viewBox="0 0 64 64"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_459_2)">
                  <path
                    d="M32 12.75C23.4668 12.75 18.1332 17.0168 16 25.55C19.2 21.2833 22.9333 19.6832 27.2 20.75C29.6343 21.3585 31.3743 23.2498 33.3003 25.0795C36.4378 28.2643 40.0687 31.95 48 31.95C56.5332 31.95 61.8668 27.6832 64 19.15C60.8 23.4167 57.0667 25.0167 52.8 23.95C50.3657 23.3415 48.6257 21.4503 46.6997 19.6205C43.5622 16.4358 39.9313 12.75 32 12.75ZM16 31.95C7.46675 31.95 2.13325 36.2168 0 44.75C3.2 40.4833 6.93325 38.8833 11.2 39.95C13.6342 40.5585 15.3742 42.4497 17.3002 44.2795C20.4377 47.4642 24.0687 51.15 32 51.15C40.5332 51.15 45.8668 46.8833 48 38.35C44.8 42.6168 41.0667 44.2167 36.8 43.15C34.3657 42.5415 32.6258 40.6502 30.6998 38.8205C27.5623 35.6357 23.9313 31.95 16 31.95Z"
                    fill="#38BDF9"
                    stroke="#38BDF9"
                    stroke-width="0.25"
                  ></path>
                </g>
                <defs>
                  <clipPath id="clip0_459_2">
                    <rect
                      width="64"
                      height="64"
                      fill="white"
                    ></rect>
                  </clipPath>
                </defs>
              </svg> Tailwind CSS
            </div>
            ·
            <div class="inline-flex gap-2 items-center">
              <svg
                class="flex-none inline size-6"
                viewBox="0 0 64 64"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_460_7)">
                  <path
                    d="M49.7769 17L63.9992 31.16L49.7769 45.3197L35.5547 31.1597L49.7769 17Z"
                    fill="#77C1D2"
                  ></path>
                  <path
                    d="M14.2222 17L43.7067 46.355H15.2622L0 31.16L14.2222 17Z"
                    fill="#2D3441"
                  ></path>
                </g>
                <defs>
                  <clipPath id="clip0_460_7">
                    <rect
                      width="64"
                      height="29.5"
                      fill="white"
                      transform="translate(0 17)"
                    ></rect>
                  </clipPath>
                </defs>
              </svg>
              Alpine JS
            </div>
          </div>
          <div class="mt-12 2xl:mt-24">
            <div>
              <h1
                class="text-black font-medium text-4xl xl:text-5xl 2xl:text-6xl text-balance">
                Unlock permanent access to everything and future additions for a
                one-time payment
              </h1>

              <p
                class="mt-8 inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs 2xl:text-xl font-medium text-accent-600 ring-1 ring-inset ring-gray-500/10">
                No subscription required
              </p>
            </div>
          </div>
        </div>
        <div>
          {
            pricingData.map((tier) => (
              <div
                class={`relative flex flex-col h-full w-full justify-between p-8 2xl:p-16 gap-8   ${tier.cardStyles}`}>
                <ul
                  class="flex flex-col list-disc list-inside"
                  role="list">
                  <li class="block font-medium text-black 2xl:text-2xl">
                    {tier.type} —{" "}
                    <>
                      <span>{tier.price}</span>
                      <del class="opacity-50">{tier.futurePrice}</del>
                    </>
                  </li>
                  <li class="block text-sm 2xl:text-lg text-gray-500  pb-3 mt-4">
                    {tier.audience}
                  </li>
                  {tier.features.map((feature, i) => {
                    const [startText, ...rest] = feature.split(" — ");
                    const restText = rest.join(" — ");
                    return (
                      <li class="text-sm mt-3 2xl:text-lg font-medium text-gray-900">
                        {startText}
                        {restText && ` — ${restText}`}
                      </li>
                    );
                  })}
                </ul>
                <div>
                  {tier.purchaseButton && (
                    <a
                      id={`purchase-${tier.type.toLowerCase().replace(/\s/g, "-")}-bundle`}
                      data-umami-event={`purchase-${tier.type.toLowerCase().replace(/\s/g, "-")}-bundle`}
                      class={tier.purchaseButton.class}
                      href={tier.purchaseButton.link}>
                      {tier.purchaseButton.text} {tier.price}
                    </a>
                  )}
                </div>
              </div>
            ))
          }
        </div>
      </div>
      <div class="grid grid-cols-1 mt-5 md:grid-cols-2 items-center w-full">
        <div class="inline-flex items-center gap-3">
          <h1 class="text-netral-500">Secure Payment via</h1>
          <img
            class="h-5"
            src="/images/oxbow/lemon.svg"
            alt=""
          />
        </div>
        <div class="mt-3 md:mt-0 lg:ml-auto">
          <ul
            class="flex flex-wrap list-none"
            role="list">
            <li>
              <img
                height="50"
                src="/images/oxbow/paypal.svg"
                alt=""
              />
            </li>
            <li>
              <img
                height="50"
                src="/images/oxbow/applepay.svg"
                alt=""
              />
            </li>
            <li>
              <img
                height="50"
                src="/images/oxbow/googlepay.svg"
                alt=""
              />
            </li>
            <li>
              <img
                height="50"
                src="/images/oxbow/mastercard.svg"
                alt=""
              />
            </li>
            <li>
              <img
                height="50"
                src="/images/oxbow/visa.svg"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <Included />
  <Cta />
</BaseLayout>
