---
// Fudnations
import { AstroSeo } from "@astrolib/seo";
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import MainHero from "@/components/fundations/containers/MainHero.astro";
// Sections
import Reviews from "@/components/landing/Reviews.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Included from "@/components/pricing/Included.astro";
import PaymentBrands from "@/components/pricing/PaymentBrands.astro";
const tiers = [
  {
    id: "teams",
    title: "Teams",
    price: "$499",
    subtitle: "One time",
    subtitleNote: "USD + Applicable local taxes",
    description: "For teams that actually ship stuff.",
    features: [
      "5 Users ",
      "Lifetime access",
      "Unlimited projects ",
      "400+ components ",
      "Marketing, app & eCom",
      "Discord support – yess",
    ],
    href: import.meta.env.PRODUCT_TEAM_LICENSE_URL,
    btnText: "Buy for $499",
    btnVariant: "alternative",
    accentText: "text-base-900",
    cardClass: "",
  },
  {
    id: "personal",
    title: "Personal",
    price: "$129",
    subtitle: "One time",
    subtitleNote: "USD + Applicable local taxes",
    description: "For solo devs and client wranglers.",
    features: [
      "1 User ",
      "Lifetime access",
      "Unlimited projects",
      "400+ components ",
      "Marketing, app & eCom ",
      "Discord support",
    ],
    href: import.meta.env.PRODUCT_INDIVIDUAL_LICENSE_URL,
    btnText: "Buy for $129",
    btnVariant: "accent",
    accentText: "text-accent-500",
    cardClass: "bg-white shadow-oxbow order-first md:order-none",
  },
  {
    id: "guest",
    title: "Guest",
    price: "Free",
    subtitle: "Just vibes",
    subtitleNote: " No credit card required",
    description: "For browsing, testing, and curiosity.",
    features: ["30+ components", "Marketing, app & eCom"],
    href: "/components",
    btnText: "Get started",
    btnVariant: "alternative",
    accentText: "text-base-900",
    cardClass: "",
  },
];
---

<AstroSeo
  title="Oxbow UI - Pricing "
  description="Unlock permanent access to all components, elements and layouts and future additions for a one-time payment."
  canonical="https://www.oxbowui.com/pricing"
  openGraph={{
    url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
    title: "Oxbow UI - Pricing",
    description:
      "Unlock permanent access to all components, elements and layouts and future additions for a one-time payment.",
    images: [
      {
        url: "https://www.oxbowui.com/images/OpenGraph/facebook.png",
        width: 1200,
        height: 630,
        alt: "Oxbow UI",
        type: "image/png",
      },
      {
        url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
        width: 4096,
        height: 4096,
        alt: "Oxbow UI",
        type: "image/png",
      },
      { url: "https://www.oxbowui.com/images/OpenGraph/facebook.ong" },
      { url: "https://www.oxbowui.com/images/OpenGraph/twitter.png" },
    ],
    site_name: "Oxbow UI",
  }}
  twitter={{
    handle: "@Mike_Andreuzza",
    site: "https://www.oxbowui.com",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <MainHero
    textCentered
    title="Pay once. Own it forever."
    additionalText="No subscriptions, no nonsense."
    additionalTextClasses="mt-2 text-base-500 font-medium italic text-sm"
  />

  <section class="border-t border-base-200">
    <Wrapper variant="standard" class="lg:border-x lg:border-base-200">
      <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
        {
          tiers.map((tier) => (
            <article
              class={`relative flex flex-col justify-between h-full p-6 sm:p-4 sm:pb-5 lg:p-6 overflow-hidden rounded-xl ${tier.cardClass}`}
            >
              <div class="flex flex-col justify-start h-full ">
                <div class="flex flex-col gap-2">
                  <div>
                    <Text
                      tag="h3"
                      variant="textSM"
                      class={`font-medium ${tier.accentText}  `}
                    >
                      {tier.title}
                    </Text>
                    <Text tag="p" variant="textSM" class="mt-1  text-base-500">
                      {tier.description}
                    </Text>
                  </div>
                  <div class="flex items-center mt-2 gap-x-4">
                    <p class="text-4xl font-medium uppercase  sm:text-3xl md:text-4xl upperase">
                      {tier.price}
                    </p>
                    <div>
                      {tier.subtitle && (
                        <p class="text-xs font-medium ">{tier.subtitle}</p>
                      )}
                      {tier.subtitleNote && (
                        <p class="text-xs  text-base-500">
                          {tier.subtitleNote}
                        </p>
                      )}
                    </div>
                  </div>
                </div>
                <div class="pt-8 mt-8 border-t border-base-100">
                  <Text tag="p" variant="textSM" class="font-medium text-black">
                    Everything included:
                  </Text>
                  <ul
                    role="list"
                    class="flex flex-col mt-2 text-sm gap-y-2  text-base-500"
                  >
                    {tier.features.map((f) => (
                      <li class="flex items-center gap-1">
                        <svg
                          width="15"
                          height="15"
                          viewBox="0 0 15 15"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class={`size-4 shrink-0 ${tier.accentText}`}
                        >
                          <path
                            d="M11.4669 3.72684C11.7558 3.91574 11.8369 4.30308 11.648 4.59198L7.39799 11.092C7.29783 11.2452 7.13556 11.3467 6.95402 11.3699C6.77247 11.3931 6.58989 11.3355 6.45446 11.2124L3.70446 8.71241C3.44905 8.48022 3.43023 8.08494 3.66242 7.82953C3.89461 7.57412 4.28989 7.55529 4.5453 7.78749L6.75292 9.79441L10.6018 3.90792C10.7907 3.61902 11.178 3.53795 11.4669 3.72684Z"
                            fill="currentColor"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                          />
                        </svg>
                        {f}
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
              <div class="w-full mt-8">
                <Button
                  id={`purchase-${tier.id}-license`}
                  data-umami-event={`purchase-${tier.id}-license`}
                  href={tier.href}
                  size="sm"
                  variant={
                    tier.btnVariant as
                      | "default"
                      | "accent"
                      | "alternative"
                      | "alternative"
                      | "link"
                      | "outline"
                      | "ghost"
                  }
                  class="w-full"
                >
                  {tier.btnText}
                </Button>
              </div>
            </article>
          ))
        }
      </div>
      <PaymentBrands />
    </Wrapper>
  </section>
  <Included />
  <Reviews />
</BaseLayout>
