---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-2xl">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="default">
        Empower your finances with our unmatched value
      </Heading>
      <Text
        class="mt-4"
        tag="p"
        variant="body">
        Experience low fees, unwavering commitment, and massive earnings with a
        service trusted by over 60 million users.
      </Text>
    </div>
    <div class="flex mt-8 flex-wrap items-center gap-2 lg:ml-auto">
      <Button
        variant="accent"
        size="sm">
        Get started
      </Button>
      <Button
        variant="alternative"
        size="sm">
        Learn more
      </Button>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-3 mt-12 lg:-mt-16 gap-6 items-end">
      <div
        class="flex justify-between rounded-3xl bg-base-50 flex-col lg:gap-12">
        <div class="p-8 order-last border-t w-full">
          <Text
            tag="span"
            variant="bigNumber">
            30%
          </Text>
        </div>
        <div class="sm:shrink lg:flex-none p-8">
          <Heading

            level={3}
            variant="featureTitle">
            Working Individuals
          </Heading>
          <Text
            class="mt-2"
            tag="p"
            variant="body">
            We’re dedicated to delivering outstanding service and value.
          </Text>
        </div>
      </div>
      <div
        class="flex justify-between rounded-3xl bg-accent-600 flex-col lg:gap-28">
        <div class="p-8 order-last border-t border-white/20 w-full">
          <Text
            tag="span"
            darkMode={true}
            variant="bigNumber">
            90%
          </Text>
        </div>
        <div class="sm:shrink lg:flex-none p-8">
          <Heading

            level={3}
            darkMode={true}
            variant="featureTitle">
            Massive Earnings
          </Heading>
          <Text
            class="mt-2"
            tag="p"
            darkMode={true}
            variant="body">
            Reap the benefits with substantial returns.
          </Text>
        </div>
      </div>
      <div
        class="flex justify-between rounded-3xl bg-base-950 flex-col lg:gap-44">
        <div class="p-8 order-last border-t border-white/20 w-full">
          <Text
            tag="span"
            darkMode={true}
            variant="bigNumber">
            8%
          </Text>
        </div>
        <div class="sm:shrink lg:flex-none p-8">
          <Heading

            level={3}
            darkMode={true}
            variant="featureTitle">
            Super low fee
          </Heading>
          <Text
            class="mt-2"
            tag="p"
            darkMode={true}
            variant="body">
            Enjoy significant savings with our extremely low fee structure.
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
