---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    description: "We reached over 30 million users and are growing fast.",
    value: "30%",
  },
  {
    label: "Super low fee",
    description:
      "Enjoy significant savings with our extremely low fee structure.",
    value: "40%",
  },
  {
    label: "Great Commitment",
    description: " We’re dedicated to delivering outstanding service and valu.",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    description: "Reap the benefits with substantial returns ",
    value: "100%",
  },
  {
    label: "Customer Satisfaction",
    description:
      "Our customers consistently rate us with a 98% satisfaction rate.",
    value: "98%",
  },
  {
    label: "Global Reach",
    description: "We’ve expanded our services to over 120 countries worldwide.",
    value: "120+",
  },
  {
    label: " Transactions",
    description: "Over 500,000 transactions processed with zero failures.",
    value: "500K",
  },
  {
    label: "Team Growth",
    description: "Our team has grown by 150% in the past year.",
    value: "150%",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="space-y-24">
      <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:items-start">
        <div>
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-blue-600 dark:text-blue-400"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayMD"
            class="mt-4 font-semibold text-zinc-900 dark:text-zinc-100 lg:text-balance"
          >
            Empower your finances with our unmatched value
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Experience low fees, unwavering commitment, and massive earnings
            with a service trusted by over 60 million users.
          </Text>
          <div
            class="flex flex-wrap items-center justify-center mt-8 lg:justify-start gap-2"
          >
            <Button variant="accent" size="sm"> Get started </Button>
            <Button variant="outline" size="sm"> Learn more </Button>
          </div>
        </div>
        <div class="grid gap-x-6 gap-y-12 sm:grid-cols-2">
          {
            stats.slice(0, 4).map((stat) => (
              <div>
                <div class="flex flex-col items-baseline gap-4">
                  <Text
                    tag="p"
                    variant="textLG"
                    class="font-medium  text-blue-700 dark:text-blue-400"
                  >
                    {stat.value}
                  </Text>
                  <Text
                    tag="h3"
                    variant="textLG"
                    class="font-medium  text-zinc-900 dark:text-zinc-100"
                  >
                    {stat.label}
                  </Text>
                </div>
                <Text
                  tag="p"
                  variant="textBase"
                  class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
                >
                  {stat.description}
                </Text>
              </div>
            ))
          }
        </div>
      </div>
      <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:items-start">
        <div class="grid gap-x-6 gap-y-12 sm:grid-cols-2">
          {
            stats.slice(4, 8).map((stat) => (
              <div>
                <div class="flex flex-col items-baseline gap-4">
                  <Text
                    tag="p"
                    variant="textLG"
                    class="font-medium  text-blue-700 dark:text-blue-400"
                  >
                    {stat.value}
                  </Text>
                  <Text
                    tag="h3"
                    variant="textLG"
                    class="font-medium  text-zinc-900 dark:text-zinc-100"
                  >
                    {stat.label}
                  </Text>
                </div>
                <Text
                  tag="p"
                  variant="textBase"
                  class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
                >
                  {stat.description}
                </Text>
              </div>
            ))
          }
        </div>
        <div>
          <Text
            tag="blockquote"
            variant="displaySM"
            class="italic font-medium text-zinc-900 dark:text-zinc-100"
          >
            "Experience industry-leading low fees, unwavering dedication to
            customer satisfaction, and the potential for substantial earnings
            with a platform trusted by over 60 million satisfied users
            worldwide.
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
