---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    description: "We reached over 30 million users and are growing fast.",
    value: "30%",
  },
  {
    label: "Super low fee",
    description:
      "Enjoy significant savings with our extremely low fee structure.",
    value: "40%",
  },
  {
    label: "Great Commitment",
    description: " We’re dedicated to delivering outstanding service and valu.",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    description: "Reap the benefits with substantial returns ",
    value: "100%",
  },
  {
    label: "Customer Satisfaction",
    description:
      "Our customers consistently rate us with a 98% satisfaction rate.",
    value: "98%",
  },
  {
    label: "Global Reach",
    description: "We’ve expanded our services to over 120 countries worldwide.",
    value: "120+",
  },
  {
    label: " Transactions",
    description: "Over 500,000 transactions processed with zero failures.",
    value: "500K",
  },
  {
    label: "Team Growth",
    description: "Our team has grown by 150% in the past year.",
    value: "150%",
  },
];
---
<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="space-y-24">
      <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:items-start">
        <div>
          <Text
            tag="span"
            variant="eyebrow">
            Tagline
          </Text>
          <Heading
            class="mt-4"
            level={1}
            variant="default">
            Empower your finances with our unmatched value
          </Heading>
          <Text
            class="mt-4"
            tag="p"
            variant="body">
            Experience low fees, unwavering commitment, and massive earnings
            with a service trusted by over 60 million users.
          </Text>
          <div
            class="flex flex-wrap mt-8 items-center justify-center lg:justify-start gap-2">
            <Button
              variant="accent"
              size="sm">
              Get started
            </Button>
            <Button
              variant="alternative"
              size="sm">
              Learn more
            </Button>
          </div>
        </div>
        <div class="grid gap-x-6 gap-y-12 sm:grid-cols-2">
          {
            stats.slice(0, 4).map((stat) => (
              <div>
                <div class="flex gap-4 items-baseline">
                  <Text
                    tag="span"
                    variant="smallNumber">
                    {stat.value}
                  </Text>
                  <Heading
                    level={3}
                    variant="featureTitle">
                    {stat.label}
                  </Heading>
                </div>
                <Text
                  class="mt-2"
                  tag="p"
                  variant="body">
                  {stat.description}
                </Text>
              </div>
            ))
          }
        </div>
      </div>
      <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:items-start">
        <div class="grid gap-x-6 gap-y-12 sm:grid-cols-2">
          {
            stats.slice(4, 8).map((stat) => (
              <div>
                <div class="flex gap-4 items-baseline">
                  <Text
                    tag="span"
                    variant="smallNumber">
                    {stat.value}
                  </Text>
                  <Heading
                    level={3}
                    variant="featureTitle">
                    {stat.label}
                  </Heading>
                </div>
                <Text
                  class="mt-2"
                  tag="p"
                  variant="body">
                  {stat.description}
                </Text>
              </div>
            ))
          }
        </div>
        <div>
          <Text
            tag="blockquote"
            variant="blockquote">
            "Experience industry-leading low fees, unwavering dedication to
            customer satisfaction, and the potential for substantial earnings
            with a platform trusted by over 60 million satisfied users
            worldwide.
            <br />
            <br />Whether you're a seasoned expert or just starting out, our
            service is designed to provide the best value while ensuring
            security and support every step of the way. Join a community that
            values transparency, reliability, and long-term success, making it
            easier than ever to achieve your financial goals with confidence"
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
