---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Filters from "@/components/fundations/icons/Filters.astro";
import WaveSquare from "@/components/fundations/icons/WaveSquare.astro";
import ArrowIteration from "@/components/fundations/icons/ArrowIteration.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
const data = [
  {
    icon: "Filters",
    category: "Live editing",
    text: "Instantly see the result of every change you make.",
  },
  {
    icon: "WaveSquare",
    category: "Autocompletion",
    text: "Spotless will suggest the right classes for you as you type.",
  },
  {
    icon: "ArrowIteration",
    category: "Hide/show classes",
    text: "Hide or show classes to see how your design changes.",
  },
  {
    icon: "Plus",
    category: "Color preview",
    text: "See the color of every class in the autocompletion view.",
  },
];
const dataROW = [
  {
    category: "Innovative Design",
    text: "Our cutting-edge design offers a fresh, modern look that transforms your project into a standout experience.",
    items: ["Revolutionizing communication", "Enhancing productivity"],
  },
  {
    category: "Powerful Functionality",
    text: "Equipped with advanced features and tools, our solution effortlessly manages complex tasks and workflows. ",
    items: ["Unlocking innovative solutions", "Enabling interoperability"],
  },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-3xl">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayBase"
        class="mt-4 font-semibold text-base-900 lg:text-balance"
      >
        Transforming the banking experience for a digital future
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
    </div>
    <dl
      class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-4 lg:gap-y-16 mt-12"
    >
      {
        data.map((section) => (
          <div>
            <div class="text-accent-500 flex gap-3 items-center">
              {section.icon === "Filters" && (
                <Filters class="text-accent-600" size="base" />
              )}
              {section.icon === "WaveSquare" && (
                <WaveSquare class="text-accent-600" size="base" />
              )}
              {section.icon === "ArrowIteration" && (
                <ArrowIteration class="text-accent-600" size="base" />
              )}
              {section.icon === "Plus" && (
                <Plus class="text-accent-600" size="base" />
              )}

              <dt>
                <Text
                  variant="textLG"
                  tag="h3"
                  class="text-base-900 font-medium"
                >
                  {section.category}
                </Text>
              </dt>
            </div>
            <dd>
              <Text
                tag="p"
                variant="textBase"
                class="mt-2 text-base-500 font-medium"
              >
                {section.text}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
    <div class="grid grid-cols-1 items-start md:grid-cols-2 mt-12 lg:mt-24">
      <div class="lg:pr-24 md:pr-12">
        <ul
          class="gap-1 grid sm:grid-cols-2 lg:grid-cols-1 text-base font-medium text-base-900 list-none"
          role="list"
        >
          {
            dataROW.map((section) => (
              <div class="mt-12">
                <div>
                  <Text
                    variant="textLG"
                    tag="h3"
                    class="text-base-900 font-medium"
                  >
                    {section.category}
                  </Text>
                  <Text
                    tag="p"
                    variant="textBase"
                    class="mt-2 text-base-500 font-medium"
                  >
                    {section.text}
                  </Text>
                </div>
                <ul
                  role="list"
                  class="space-y-1 mt-6 text-base font-medium text-base-900 list-none"
                >
                  {section.items.map((item) => (
                    <li>
                      <div class="flex  items-center gap-4">
                        <CircleCheck
                          class="text-accent-600"
                          size="base"
                          slot="icon"
                        />
                        <Text tag="span" variant="textBase">
                          {item}
                        </Text>
                      </div>
                    </li>
                  ))}
                </ul>
              </div>
            ))
          }
        </ul>
      </div>
      <div class="lg:mt-0 mt-12 h-full">
        <img
          src="/widgets/calendar.svg"
          alt="#_"
          class="shadow rounded-2xl w-full"
        />
      </div>
    </div>
  </div>
</section>
