---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Filters from "@/components/fundations/icons/Filters.astro";
import WaveSquare from "@/components/fundations/icons/WaveSquare.astro";
import ArrowIteration from "@/components/fundations/icons/ArrowIteration.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
const data = [
  {
    icon: "Filters",
    category: "Live editing",
    text: "Instantly see the result of every change you make.",
  },
  {
    icon: "WaveSquare",
    category: "Autocompletion",
    text: "Spotless will suggest the right classes for you as you type.",
  },
  {
    icon: "ArrowIteration",
    category: "Hide/show classes",
    text: "Hide or show classes to see how your design changes.",
  },
  {
    icon: "Plus",
    category: "Color preview",
    text: "See the color of every class in the autocompletion view.",
  },
];
const dataROW = [
  {
    category: "Innovative Design",
    text: "Our cutting-edge design offers a fresh, modern look that transforms your project into a standout experience.<ul ",
    items: ["Revolutionizing communication", "Enhancing productivity"],
  },
  {
    category: "Powerful Functionality",
    text: "Equipped with advanced features and tools, our solution effortlessly manages complex tasks and workflows. ",
    items: ["Unlocking innovative solutions", "Enabling interoperability"],
  },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-3xl">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="default">
        Safeguard your workspace with essential applications for end-to-end
        encryption.
      </Heading>
      <Text
        class="mt-4"
        tag="p"
        variant="body">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
    </div>
    <dl
      class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-4 lg:gap-y-16 mt-12">
      {
        data.map((section) => (
          <div>
            <div class="text-accent-500 flex gap-3 items-center">
              {section.icon === "Filters" && (
                <Filters
                  class="text-accent-600"
                  size="base"
                />
              )}
              {section.icon === "WaveSquare" && (
                <WaveSquare
                  class="text-accent-600"
                  size="base"
                />
              )}
              {section.icon === "ArrowIteration" && (
                <ArrowIteration
                  class="text-accent-600"
                  size="base"
                />
              )}
              {section.icon === "Plus" && (
                <Plus
                  class="text-accent-600"
                  size="base"
                />
              )}

              <dt>
                <Heading
                  level={3}
                  variant="featureTitle">
                  {section.category}
                </Heading>
              </dt>
            </div>
            <dd>
              <Text
                class="mt-2"
                tag="p"
                variant="body">
                {section.text}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
    <div class="grid grid-cols-1 items-start md:grid-cols-2 mt-12 lg:mt-24">
      <div class="lg:pr-24 md:pr-12">
        <p class="text-base font-medium text-base-500">
          The fastest and most efficient method for working together on staging
          and temporary environments.
        </p>
        <div class="flex flex-wrap items-center gap-2 mt-8">
          <Button
            variant="accent"
            size="sm">
            Get started
          </Button>
          <Button
            variant="alternative"
            size="sm">
            Learn more
          </Button>
        </div>
        <ul
          class="gap-1 grid sm:grid-cols-2 lg:grid-cols-1 text-base font-medium text-base-900 list-none"
          role="list">
          {
            dataROW.map((section) => (
              <div class="mt-12">
                <div>
                  <Heading
                    class="mt-4"
                    level={3}
                    variant="featureTitle">
                    {section.category}
                  </Heading>
                  <Text
                    class="mt-4"
                    tag="p"
                    variant="body">
                    {section.text}
                  </Text>
                </div>
                <ul
                  role="list"
                  class="space-y-1 mt-6 text-base font-medium text-base-900 list-none">
                  {section.items.map((item, idx) => (
                    <li>
                      <div class="flex  items-center gap-4">
                        <CircleCheck
                          class="text-accent-600"
                          size="base"
                          slot="icon"
                        />
                        <Text
                          tag="span"
                          variant="featureListItem">
                          {item}
                        </Text>
                      </div>
                    </li>
                  ))}
                </ul>
              </div>
            ))
          }
        </ul>
      </div>
      <div class="lg:mt-0 mt-12 md:pl-12 md:border-l lg:pl-24 h-full">
        <img
          src="/images/whiteCardStand.svg"
          alt="#_"
          class="drop-shadow w-full"
        />
      </div>
    </div>
  </div>
</section>
