---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const featureTop = [
  {
    title: "Easy navigation",
    description:
      "Hover over any element to see its Tailwind classes. Press Space to easily pin and edit your settings.",
    imgSrc: "/images/phone2.png",
    altText: "Navigation Image",
  },
  {
    title: "Persistence",
    description:
      "Spotless will remember all your changes to every element so you can copy all changes at once!",
    imgSrc: "/images/phone7.png",
    altText: "Persistence Image",
  },
];
const featuresBottom = [
  {
    title: "Easy navigation",
    description:
      "Hover over any element to see its Tailwind classes. Press Space to easily pin and edit your settings.",

    imageAlt: "Easy navigation screenshot",
  },
  {
    title: "Persistence",
    description:
      "Spotless will remember all your changes to every element so you can copy all changes at once!",

    imageAlt: "Persistence feature screenshot",
  },
  {
    title: "Screenshot tool",
    description:
      "Make screenshots of a particular part of the screen to share quickly and easily.",

    imageAlt: "Screenshot tool feature",
  },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <dl class="grid grid-cols-1 gap-2 text-center sm:grid-cols-2">
      {
        featureTop.map((feature, index) => (
          <div class="h-full bg-base-50 rounded-3xl shadow overflow-hidden flex flex-col justify-between">
            <div class="p-8 pb-0 md:text-center">
              <div>
                <dt>
                  <Heading
                    level={3}
                    variant="featureTitle">
                    {feature.title}
                  </Heading>
                </dt>
                <dd class="mt-2 ">
                  <Text
                    tag="p"
                    variant="body">
                    {feature.description}
                  </Text>
                </dd>
              </div>
            </div>
            <div class="p-8 -mb-96">
              <img
                src={feature.imgSrc}
                alt={feature.altText}
              />
            </div>
          </div>
        ))
      }
    </dl>
    <dl
      class="grid md:grid-cols-2 text-center gap-x-6 gap-y-12 mt-12 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
      {
        featuresBottom.map((feature) => (
          <div class="mt-6">
            <dt>
              <Heading
                level={3}
                variant="featureTitle">
                {feature.title}
              </Heading>
            </dt>
            <dd class="mt-2 ">
              <Text
                tag="p"
                variant="body">
                {feature.description}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
