---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import ArrowNarrowRight from "@/components/fundations/icons/ArrowNarrowRight.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="bg-accent-700 rounded-3xl flex flex-col h-full justify-between gap-24 relative group col-span-2">
      <a
        class="absolute inset-0"
        href="#_">
      </a>
      <dt class="p-8 flex items-center justify-between w-full">
        <div>
          <Text
            tag="p"
            darkMode={true}
            variant="eyebrow">
            Tagline
          </Text>

          <Heading
            class="mt-4 lg:text-balance"
            level={1}
            darkMode={true}
            variant="display">
            Embrace security from today onwards
          </Heading>
          <div class="flex flex-wrap gap-4 mt-12">
            <Button
              variant="alternative"
              size="sm">
              Get started
            </Button>
            <div class="text-sm text-white">
              <Text
                tag="span"
                class="block"
                darkMode={true}
                variant="body">
                This is some support text
              </Text>
              <Text
                tag="span"
                class="block"
                darkMode={true}
                variant="body">
                and this is also.
              </Text>
            </div>
          </div>
        </div>
      </dt>
      <dd class="p-8 border-t border-white/20">
        <Text
          tag="p"
          darkMode={true}
          variant="body">
          Our cutting-edge design offers a fresh, modern look that transforms
          your project into a standout experience.
        </Text>
      </dd>
    </div>
  </div>
</section>
