---
const faqsSet1 = [
  {
    question: "How does encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "What if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question: "Any limits to messages?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
  {
    question: "What if I lose my device with 2FA?",
    answer:
      "Losing your device doesn't automatically compromise your account's security.              ",
  },
];
const faqsSet2 = [
  {
    question: "How do I reset my password?",
    answer:
      "You can reset your password by clicking 'Forgot Password' on the login page and following the instructions sent to your email.",
  },
  {
    question: "Can I change my username?",
    answer:
      "Yes, you can change your username in the account settings under 'Profile'.",
  },
  {
    question: "What if I experience a login issue?",
    answer:
      "If you face login issues, try resetting your password or contact support for help.",
  },
  {
    question: "How do I update my profile picture?",
    answer:
      "To update your profile picture, go to 'Profile' in settings and upload a new image.",
  },
];

const faqsSet3 = [
  {
    question: "How do I delete my account?",
    answer:
      "To delete your account, navigate to 'Account Settings' and select 'Delete Account'.",
  },
  {
    question: "Can I recover deleted messages?",
    answer: "No, once messages are deleted, they cannot be recovered.",
  },
  {
    question: "How do I manage notifications?",
    answer:
      "You can manage notifications in 'Settings' under the 'Notifications' section.",
  },
  {
    question: "Is there a dark mode option?",
    answer: "Yes, you can enable dark mode in the 'Appearance' settings.",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div>
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >faq</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-zinc-900 lg:text-balance">
        Frequently Asked Questions
      </h1>
      <p class="mt-6 text-base font-medium text-zinc-500">
        Everything you need to know about our platform.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 mt-12">
      <div>
        <p class="tracking-tight text-lg font-medium text-zinc-900">
          General questions
        </p>
        <div class="divide-y border-y mt-8">
          {
            faqsSet1.map((faq) => (
              <details class="group cursor-pointer">
                <summary class="flex items-center justify-between w-full py-4  text-left select-none tracking-tight text-base font-medium text-zinc-900 hover:text-blue-500 focus:text-blue-500">
                  {faq.question}
                  <svg
                    class="size-5 duration-300 ease-out  transform group-open:-rotate-45"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6v12m6-6H6"
                    />
                  </svg>
                </summary>
                <div class="py-4 pt-2 text-sm text-zinc-500">{faq.answer}</div>
              </details>
            ))
          }
        </div>
      </div>
      <div>
        <p class="tracking-tight text-lg font-medium text-zinc-900">
          Support team
        </p>
        <div class="divide-y border-y mt-8">
          {
            faqsSet2.map((faq) => (
              <details class="group cursor-pointer">
                <summary class="flex items-center justify-between w-full py-4  text-left select-none tracking-tight text-base font-medium text-zinc-900 hover:text-blue-500 focus:text-blue-500">
                  {faq.question}
                  <svg
                    class="size-5 duration-300 ease-out  transform group-open:-rotate-45"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6v12m6-6H6"
                    />
                  </svg>
                </summary>
                <div class="py-4 pt-2 text-sm text-zinc-500">{faq.answer}</div>
              </details>
            ))
          }
        </div>
      </div>
      <div>
        <p class="tracking-tight text-lg font-medium text-zinc-900">License</p>
        <div class="divide-y border-y mt-8">
          {
            faqsSet3.map((faq) => (
              <details class="group cursor-pointer">
                <summary class="flex items-center justify-between w-full py-4  text-left select-none tracking-tight text-base font-medium text-zinc-900 hover:text-blue-500 focus:text-blue-500">
                  {faq.question}
                  <svg
                    class="size-5 duration-300 ease-out  transform group-open:-rotate-45"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6v12m6-6H6"
                    />
                  </svg>
                </summary>
                <div class="py-4 pt-2 text-sm text-zinc-500">{faq.answer}</div>
              </details>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
