---
import Text from "@/components/fundations/typography/Text.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
const faq1 = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
];
const faq2 = [
  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
  {
    question: "Are there any storage limitations for files and documents?",
    answer:
      "Our platform provides ample storage space for your files and documents. However, there may be storage limitations based on the pricing plan you choose. We offer flexible plans to suit your needs and provide options to upgrade if you require additional storage capacity.",
  },
  {
    question: "Is it possible to export my data from the platform?",
    answer:
      "Yes, you can export your data from the platform. We offer export features that allow you to download your messages, files, and documents, ensuring you have a local copy for backup or migration purposes. It provides you with greater control and flexibility over your data.",
  },
];
const faq3 = [
  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
];
---

<div class="p-8">
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto">
    <div>
      <Text tag="p" variant="textSM" class="font-bold uppercase text-blue-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-zinc-900 lg:text-balance"
      >
        Frequently Asked Questions
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
        Everything you need to know about our platform.
      </Text>
    </div>
    <div class="mt-12 overflow-hidden border border-zinc-200 rounded-2xl">
      <div class="divide-y divide-zinc-200">
        <div class="px-8 py-4 bg-zinc-50">
          <Text tag="h3" variant="textLG" class="font-medium text-zinc-900">
            General questions
          </Text>
        </div>
        <div class="divide-y divide-zinc-200">
          {
            faq1.map((faq) => (
              <details class="cursor-pointer group">
                <Text
                  tag="summary"
                  variant="textBase"
                  class="flex items-center justify-between w-full px-8 py-4 font-medium text-left select-none text-zinc-500  hover:text-blue-500 focus:text-blue-500"
                >
                  {faq.question}
                  <Plus
                    class="duration-300 ease-out  transform group-open:-rotate-45"
                    size="sm"
                  />
                </Text>
                <div class="py-4 pt-2 text-sm text-zinc-500">
                  <Text
                    tag="p"
                    variant="textBase"
                    class="font-medium text-zinc-500"
                  >
                    {faq.answer}
                  </Text>
                </div>
              </details>
            ))
          }
        </div>
      </div>
      <div class="divide-y divide-zinc-200">
        <div class="px-8 py-4 rounded-t-2xl bg-blue-700">
          <Text tag="h3" variant="textLG" class="font-medium text-white">
            Support team
          </Text>
        </div>
        <div class="divide-y divide-zinc-200">
          {
            faq2.map((faq) => (
              <details class="cursor-pointer group">
                <Text
                  tag="summary"
                  variant="textBase"
                  class="flex items-center justify-between w-full px-8 py-4 font-medium text-left select-none text-zinc-500  hover:text-blue-500 focus:text-blue-500"
                >
                  {faq.question}
                  <Plus
                    class="duration-300 ease-out  transform group-open:-rotate-45"
                    size="sm"
                  />
                </Text>
                <div class="py-4 pt-2 text-sm text-zinc-500">
                  <Text
                    tag="p"
                    variant="textBase"
                    class="font-medium text-zinc-500"
                  >
                    {faq.answer}
                  </Text>
                </div>
              </details>
            ))
          }
        </div>
      </div>
      <div class="divide-y divide-zinc-200">
        <div class="px-8 py-4 bg-zinc-900 rounded-t-2xl">
          <Text tag="h3" variant="textLG" class="font-medium text-white">
            License
          </Text>
        </div>
        <div class="divide-y divide-zinc-200">
          {
            faq3.map((faq) => (
              <details class="cursor-pointer group">
                <Text
                  tag="summary"
                  variant="textBase"
                  class="flex items-center justify-between w-full px-8 py-4 font-medium text-left select-none text-zinc-500  hover:text-blue-500 focus:text-blue-500"
                >
                  {faq.question}
                  <Plus
                    class="duration-300 ease-out  transform group-open:-rotate-45"
                    size="sm"
                  />
                </Text>
                <div class="py-4 pt-2 text-sm text-zinc-500">
                  <Text
                    tag="p"
                    variant="textBase"
                    class="font-medium text-zinc-500"
                  >
                    {faq.answer}
                  </Text>
                </div>
              </details>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
