---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const faq1 = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },

  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
  {
    question: "Are there any storage limitations for files and documents?",
    answer:
      "Our platform provides ample storage space for your files and documents. However, there may be storage limitations based on the pricing plan you choose. We offer flexible plans to suit your needs and provide options to upgrade if you require additional storage capacity.",
  },
  {
    question: "Is it possible to export my data from the platform?",
    answer:
      "Yes, you can export your data from the platform. We offer export features that allow you to download your messages, files, and documents, ensuring you have a local copy for backup or migration purposes. It provides you with greater control and flexibility over your data.",
  },

  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
      <div>
        <Text
          tag="span"
          variant="eyebrow">
          Tagline
        </Text>
        <Heading
          class="mt-4"
          level={1}
          variant="default">
          Frequently Asked Questions
        </Heading>
        <Text
          class="mt-4 lg:text-balance"
          tag="p"
          variant="body">
          Everything you need to know about our platform.
        </Text>
      </div>
      <div
        class="p-8 bg-accent-700 rounded-3xl flex flex-col lg:col-span-2 h-full justify-between gap-24 relative group">
        <div class="max-w-xl mx-auto text-center lg:text-balance">
          <img
            class="h-12 mx-auto"
            src="/images/oxbow/whiteLineLogo.png"
            alt="#_"
          />
          <Heading
            class="mt-4"
            level={3}
            darkMode={true}
            variant="default">
            Got questions?
          </Heading>
          <Text
            class="mt-4 lg:text-balance"
            tag="p"
            darkMode={true}
            variant="body">
            Everything you need to know about our platform. We're here to help
            you with any questions you might have.
          </Text>

          <div class="mt-8 flex justify-center">
            <Text
              tag="a"
              href="#_"
              darkMode={true}
              variant="link"
              class="flex items-center gap-2">
              Contact support
              <ChevronRight size="sm" />
            </Text>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 space-y-4">
      {
        faq1.map((faq) => (
          <details class="group cursor-pointer p-4 bg-base-50 rounded-xl">
            <Text
              class="flex  items-center justify-between w-full   text-left select-none hover:text-accent-500 focus:text-accent-500"
              tag="summary"
              variant="summary">
              {faq.question}
              <Plus
                class="duration-300 ease-out  transform group-open:-rotate-45"
                size="sm"
              />
            </Text>
            <div class="py-4 pt-2 text-sm text-base-500">
              <Text
                tag="p"
                variant="body">
                {faq.answer}
              </Text>
            </div>
          </details>
        ))
      }
    </div>
  </div>
</section>
