---
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Mission" },
      { href: "#", text: "Leadership Team" },
      { href: "#", text: "History" },
    ],
  },
  {
    heading: " Services",
    links: [
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
      { href: "#", text: "Commerce" },
      { href: "#", text: "Insights" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { href: "#", text: "Documentation" },
      { href: "#", text: "Guides" },
      { href: "#", text: "Webinars" },
      { href: "#", text: "White Papers" },
    ],
  },
];
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 gap-8">
      <div class="col-span-full md:col-span-3">
        <a
           href="#_"
          class="font-medium w-full sm:w-auto group flex gap-3 items-center group-hover:text-blue-600 duration-300 group-hover:animate-pulse"
          ><img
            class="h-7 2xl:h-12"
            src="/images/windstatic/blueLineLogo.png"
            alt="#_"
          /> Windstatic</a
        >
        <div class="mt-8">
          <p class="text-sm font-medium text-gray-900">Join our newsletter</p>
          <p class="text-sm text-gray-500 mt-2">
            Stay up to date with our latest news and updates.
          </p>
          <form class="w-full mt-8 sm:flex sm:max-w-md">
            <label
              for="email-address"
              class="sr-only"
              >Email address</label
            >
            <input
              id="email-address"
              type="email"
              name="email-address"
              autocomplete="email"
              placeholder="Enter your email"
              aria-placeholder="Enter your email"
              required=""
              class="block w-full h-10 px-4 py-2 ring-1 ring-gray-200 shadow text-sm text-blue-700 border border-transparent appearance-none rounded-lg bg-white placeholder-blue-950 focus:border-gray-300 focus:bg-transparent focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus:ring-2 duration-300 sm:text-sm"
            />
            <div class="mt-2 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
              <button
                type="submit"
                class="flex items-center w-full sm:w-auto justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow shadow-blue-600/50 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none lg:w-auto"
                >Subscribe</button
              >
            </div>
          </form>
        </div>
      </div>
      {
        footerLinks.map((section, index) => (
          <nav aria-labelledby={`footer-heading-${index}`}>
            <h3
              id={`footer-heading-${index}`}
              class="text-sm font-medium  text-gray-900">
              {section.heading}
            </h3>
            <ul class="mt-4 space-y-4">
              {section.links.map((link, linkIndex) => (
                <li>
                  <a
                    href={link.href}
                    class="text-gray-600 text-sm md:text-base hover:text-blue-500 duration-300">
                    {link.text}
                  </a>
                </li>
              ))}
            </ul>
          </nav>
        ))
      }
    </div>
    <div
      class="pt-12 mt-12 border-t flex flex-col gap-8 sm:flex-row sm:items-center justify-between">
      <p
        class="border-gray-700 text-gray-400 text-sm"
        x-data="{ year: new Date().getFullYear() }">
        Copyright © <span x-text="year"></span> Windstatic. All rights reserved.
      </p>
      <nav
        aria-labelledby="social-icons-heading"
        role="navigation"
        class="flex items-center gap-4 text-gray-500">
        <h2
          id="social-icons-heading"
          class="sr-only">
          Follow us on social media
        </h2>
        <a
          href="#_"
          aria-label="Follow us on Brand X">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler size-4 hover:text-blue-600 icons-tabler-outline icon-tabler-brand-x"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path
              d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
          >
        </a>
        <a
          href="#_"
          aria-label="Follow us on YouTube">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler size-4 hover:text-blue-600 icons-tabler-outline icon-tabler-brand-youtube"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path
              d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"
            ></path><path d="M10 9l5 3l-5 3z"></path></svg
          >
        </a>
        <a
          href="#_"
          aria-label="Follow us on GitHub">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler size-4 hover:text-blue-600 icons-tabler-outline icon-tabler-brand-github"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path
              d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
            ></path></svg
          >
        </a>
        <a
          href="#_"
          aria-label="Follow us on Linkedin">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler size-4 hover:text-blue-600 icons-tabler-outline icon-tabler-brand-linkedin"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
            ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
              d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"
            ></path></svg
          >
        </a>
      </nav>
    </div>
  </div>
</section>
