---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
const teamMembers = [
  {
    name: "Mike Vega",
    title: "Creator of Oxbow UI.com",
    imgSrc: "/avatars/1.avif",
    description:
      "Michael is a visionary leader with over a decade of experience in creating dynamic and user-friendly websites. As the Creator of Oxbow UI.com, he has a passion for innovation and excellence in web development.",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.avif",
    description:
      "Juan is the founder of Pay Oneeer, a leading fintech company. He has a deep understanding of financial technology and is dedicated to making financial transactions more accessible and secure for everyone.",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 items-start">
      <div class="sm:text-balance text-center lg:text-left">
        <Text
          tag="span"
          variant="eyebrow">
          Tagline
        </Text>
        <Heading
          class="mt-4"
          level={1}
          variant="default">
          Introducing our team
        </Heading>
        <Text
          class="mt-4 lg:text-balance"
          tag="p"
          variant="body">
          Uniting talent with vision. Get to know the dedicated professionals
          who blend their skills and passion to lead us to new heights.
        </Text>
        <div
          class="flex mt-8 text-center items-center gap-2 text-base-500 text-sm justify-center lg:justify-start">
          <Text
            tag="span"
            variant="body">
            We are hiring
          </Text>
          <Text
            tag="a"
            href="#_"
            variant="link"
            class="flex items-center gap-2">
            See all our open roles
            <ChevronRight size="sm" />
          </Text>
        </div>
      </div>
      <ul
        role="list"
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-2 lg:col-span-2">
        {
          teamMembers.map((member) => (
            <li class=" bg-base-50 overflow-auto rounded-3xl">
              <div class="p-8">
                <div class="flex flex-col lg:flex-row lg:items-center gap-4 w-full">
                  <img
                    class="object-cover rounded-full size-12 shrhink-0   transition-all duration-300  "
                    src={member.imgSrc}
                    alt={`${member.name}'s profile picture`}
                  />
                  <div class="w-full">
                    <div class="flex items-center justify-between">
                      <Heading
                        level={3}
                        variant="featureTitle">
                        {member.name}
                      </Heading>
                      <div class=" flex items-center gap-2 ">
                        <Text
                          tag="a"
                          href="#_"
                          variant="link">
                          <XBrand size="sm" />
                        </Text>

                        <Text
                          tag="a"
                          href="#_"
                          variant="link">
                          <LinkedinBrand size="sm" />
                        </Text>
                      </div>
                    </div>
                    <Text
                      class="mt-2"
                      tag="p"
                      variant="body">
                      {member.title}
                    </Text>
                  </div>
                </div>
              </div>
              <div class="border-t p-8 mt-24">
                <Text
                  tag="p"
                  variant="body">
                  {member.description}
                </Text>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
