---
import Text from "@/components/fundations/typography/Text.astro";

import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
const teamMembers = [
  {
    name: "Fernando Monte",
    title: "Creator of Oxbow UI.com",
    imgSrc: "/avatars/1.jpg",
    description:
      "Michael is a visionary leader with over a decade of experience in creating dynamic and user-friendly websites. As the Creator of Oxbow UI.com, he has a passion for innovation and excellence in web development.",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.jpg",
    description:
      "Juan is the founder of Pay Oneeer, a leading fintech company. He has a deep understanding of financial technology and is dedicated to making financial transactions more accessible and secure for everyone.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="relative px-8 mx-auto md:px-12 lg:px-32 max-w-7xl py-24">
    <div
      class="items-start grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3"
    >
      <div class="text-center sm:text-balance lg:text-left">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600 dark:text-blue-400"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-zinc-900 dark:text-white lg:text-balance"
        >
          Introducing our team
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
        >
          Uniting talent with vision. Get to know the dedicated professionals
          who blend their skills and passion to lead us to new heights.
        </Text>
        <div
          class="flex items-center justify-center mt-8 text-sm text-center gap-2 text-zinc-500 dark:text-zinc-400 lg:justify-start"
        >
          <Text tag="span" variant="textBase"> We are hiring </Text>
          <Text
            tag="a"
            href="#_"
            variant="textBase"
            class="flex items-center font-medium text-blue-500 dark:text-blue-400 gap-2 hover:text-zinc-900 dark:hover:text-white"
          >
            See all our open roles
            <ChevronRight size="sm" />
          </Text>
        </div>
      </div>
      <ul
        role="list"
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-2 lg:col-span-2"
      >
        {
          teamMembers.map((member) => (
            <li class="overflow-auto bg-zinc-50 dark:bg-zinc-900 rounded-3xl">
              <div class="p-8">
                <div class="flex flex-col w-full lg:flex-row lg:items-center gap-4">
                  <img
                    class="object-cover rounded-full size-12 shrhink-0 transition-all duration-300"
                    src={member.imgSrc}
                    alt={`${member.name}'s profile picture`}
                  />
                  <div class="w-full">
                    <div class="flex items-center justify-between">
                      <Text
                        variant="textLG"
                        tag="h3"
                        class="font-medium text-zinc-900 dark:text-white"
                      >
                        {member.name}
                      </Text>
                      <div class="flex items-center gap-2">
                        <Text
                          tag="a"
                          href="#_"
                          variant="textBase"
                          class="font-medium hover:text-blue-500 text-zinc-500 dark:text-zinc-400 dark:hover:text-blue-400"
                        >
                          <XBrand size="sm" />
                        </Text>
                        <Text
                          tag="a"
                          href="#_"
                          variant="textBase"
                          class="font-medium hover:text-blue-500 text-zinc-500 dark:text-zinc-400 dark:hover:text-blue-400"
                        >
                          <LinkedinBrand size="sm" />
                        </Text>
                      </div>
                    </div>
                    <Text
                      tag="p"
                      variant="textSM"
                      class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
                    >
                      {member.title}
                    </Text>
                  </div>
                </div>
              </div>
              <div class="p-8 mt-24 border-t border-zinc-200 dark:border-zinc-800">
                <Text
                  tag="p"
                  variant="textBase"
                  class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
                >
                  {member.description}
                </Text>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
