---
const teamMembers = [
  {
    name: "Mike Vega",
    title: "Creator of Oxbow UI.com",
    imgSrc: "/avatars/1.avif",
    description:
      "Michael is a visionary leader with over a decade of experience in creating dynamic and user-friendly websites. As the Creator of Oxbow UI.com, he has a passion for innovation and excellence in web development.",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.avif",
    description:
      "Juan is the founder of Pay Oneeer, a leading fintech company. He has a deep understanding of financial technology and is dedicated to making financial transactions more accessible and secure for everyone.",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 items-start">
      <div class="sm:text-balance text-center lg:text-left">
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase">
          tagline</span
        >
        <h1 class="text-4xl mt-4 font-semibold tracking-tight text-gray-900">
          Introducing our team
        </h1>
        <p class="mt-6 text-base font-medium text-gray-500">
          Uniting talent with vision. Get to know the dedicated professionals
          who blend their skills and passion to lead us to new heights.
        </p>
        <div
          class="flex mt-8 text-center items-center gap-2 text-gray-500 text-sm justify-center lg:justify-start">
          We are not hiring:
          <a
            href="#_"
            aria-label="Action"
            class="text-blue-500 hover:text-gray-900 text-sm font-medium duration-300 flex items-center gap-2">
            See all our open roles
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M9 6l6 6l-6 6"></path>
            </svg>
          </a>
        </div>
      </div>
      <ul
        role="list"
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-2 lg:col-span-2">
        {
          teamMembers.map((member) => (
            <li class=" bg-gray-50 overflow-auto rounded-3xl">
              <div class="p-8">
                <div class="flex items-center gap-4 w-full">
                  <img
                    class="object-cover rounded-full size-12 shrhink-0   transition-all duration-300  "
                    src={member.imgSrc}
                    alt={`${member.name}'s profile picture`}
                  />
                  <div class="w-full">
                    <div class="flex items-center justify-between">
                      <h3 class="tracking-tight text-lg font-medium  text-gray-900">
                        {member.name}
                      </h3>
                      <div class=" flex items-center gap-2 ">
                        <a href="#_">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler text-blue-600 hover:text-gray-900 icons-tabler-outline icon-tabler-brand-x">
                            <>
                              <path
                                stroke="none"
                                d="M0 0h24v24H0z"
                                fill="none"
                              />
                              <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                              <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                            </>
                          </svg>
                        </a>
                        <a href="#_">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler text-blue-600 hover:text-gray-900 icons-tabler-outline icon-tabler-brand-linkedin">
                            <>
                              <path
                                stroke="none"
                                d="M0 0h24v24H0z"
                                fill="none"
                              />
                              <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                              <path d="M8 11l0 5" />
                              <path d="M8 8l0 .01" />
                              <path d="M12 16l0 -5" />
                              <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                            </>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <p class="mt-2 text-sm text-gray-500 text-balance">
                      {member.title}
                    </p>
                  </div>
                </div>
              </div>
              <div class="border-t p-8 mt-24">
                <p class=" text-base text-gray-500 text-pretty">
                  {member.description}
                </p>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
