---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
const teamMembers = [
  {
    name: "Mike Vega",
    title: "Founder of Oxbow UI",
    imgSrc: "/avatars/1.avif",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.avif",
  },
  {
    name: "Elona Muska",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.avif",
  },
  {
    name: "Messina Lionel",
    title: "COO at Pff Inc",
    imgSrc:
      "https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80",
  },
  {
    name: "Sara Johnson",
    title: "Lead Developer",
    imgSrc:
      "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-3 lg:items-end">
      <div class="lg:col-span-2">
        <Text
          tag="span"
          variant="eyebrow">
          Tagline
        </Text>
        <Heading
          class="mt-4"
          level={1}
          variant="default">
          Introducing our team
        </Heading>
        <Text
          class="mt-4 lg:text-balance"
          tag="p"
          variant="body">
          Uniting talent with vision. Get to know the dedicated professionals
          who blend their skills and passion to lead us to new heights.
        </Text>
      </div>
      <div class="flex lg:ml-auto">
        <Button
          variant="alternative"
          size="sm">
          Meet all our team
        </Button>
      </div>
    </div>
    <ul
      role="list"
      class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:bg-base-50 lg:rounded-3xl lg:p-8 md:grid-cols-5 gap-6 lg:mt-24">
      {
        teamMembers.map((member) => (
          <>
            <li class="flex flex-auto flex-col justify-between relative rounded-2xl overflow-hidden hover:-translate-y-24 hover:shadow duration-300">
              <img
                src={member.imgSrc}
                alt="#_"
                class="h-full object-cover  relative rounded-2xl"
              />
              <div class=" absolute inset-0 opacity-0 hover:opacity-100 transition-opacity  duration-300 hover:bg-accent-700  hover:ring-1 hover:ring-base-200 rounded-2xl">
                <div class="flex flex-col h-full justify-end ">
                  <div class="p-4">
                    <Heading
                      level={3}
                      darkMode={true}
                      variant="featureTitle">
                      {member.name}
                    </Heading>
                    <Text
                      tag="p"
                      darkMode={true}
                      variant="body">
                      {member.title}
                    </Text>
                  </div>
                  <div class=" flex items-center gap-2 p-4 border-t border-white/20">
                    <Text
                      tag="a"
                      href="#_"
                      darkMode={true}
                      variant="link">
                      <XBrand size="sm" />
                    </Text>

                    <Text
                      tag="a"
                      href="#_"
                      darkMode={true}
                      variant="link">
                      <LinkedinBrand size="sm" />
                    </Text>
                  </div>
                </div>
              </div>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
