---
import { AstroSeo } from "@astrolib/seo";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import MainHero from "@/components/fundations/containers/MainHero.astro";
import Cta from "@/components/global/Cta.astro";

// Cards
import { Image } from "astro:assets";
import gridGenerator from "@/images/tools/gridGenerator.png";
import gradientGenerator from "@/images/tools/gradientGenerator.png";

const sections = [
  {
    title: "Layout",
    subtitle: "Tailwind CSS grid generator",
    description:
      "Easily create responsive, customizable grid layouts with Tailwind CSS. Define columns and gaps to generate the required utility classes for your design.",
    imageSrc: gridGenerator,
    altText: "Tailwind CSS grid generator tool preview",
    link: "/free-tools/tailwind-css-grid-generator",
  },
  {
    title: "Colors",
    subtitle: "Tailwind CSS gradient generator",
    description:
      "Create beautiful, responsive gradients with Tailwind CSS. Customize your gradient's colors, direction, and opacity, and generate the utility classes instantly.",
    imageSrc: gradientGenerator,
    altText: "Tailwind CSS gradient generator tool preview",
    link: "/free-tools/tailwind-css-gradient-generator",
  },
];
---

<AstroSeo
  title="Oxbow UI - Tailwind CSS tools hub "
  description="Welcome to the ultimate collection of Tailwind CSS tools designed to streamline your workflow. From creating custom grids and gradients to generating utility classes and more, our suite of intuitive tools empowers you to speed up your development process. Whether you're building layouts, customizing styles, or experimenting with Tailwind’s utilities, our tools make it easier than ever to design with precision. Save time, enhance your creativity, and build your Tailwind CSS projects faster with all the resources you need in one place."
  canonical="https://www.oxbowui.com/free-tools"
  openGraph={{
    url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
    title: "Oxbow UI - Tailwind CSS tools hub",
    description: "",
    images: [
      {
        url: "https://www.oxbowui.com/images/OpenGraph/facebook.png",
        width: 1200,
        height: 630,
        alt: "oxbow",
        type: "image/png",
      },
      {
        url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
        width: 4096,
        height: 4096,
        alt: "oxbow",
        type: "image/png",
      },
      { url: "https://www.oxbowui.com/images/OpenGraph/facebook.ong" },
      { url: "https://www.oxbowui.com/images/OpenGraph/twitter.png" },
    ],
    site_name: "oxbow",
  }}
  twitter={{
    handle: "@Mike_Andreuzza",
    site: "https://www.oxbowui.com",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <MainHero
    showAlpineTailwind={false}
    title="Tailwind CSS tools hub"
    subtitle="All-in-one tools to supercharge your Tailwind CSS development"
  />
  <section>
    <Wrapper variant="standard" class="border-t">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        {
          sections.map((section) => (
            <div class="relative overflow-hidden group outline rounded-xl outline-base-100 dark:outline-base-900 shadow dark:shadow-2xl dark:shadow-black bg-white dark:bg-black p-8">
              <a class="absolute inset-0 z-10" href={section.link} />
              <div class="relative flex flex-col gap-4">
                <Image
                  src={section.imageSrc}
                  alt={section.altText}
                  width={1000}
                  height={1000}
                  class="size-full aspect-16/10 object-cover object-center rounded-xl mask-b-from-40% mask-b-to-90%"
                />

                <div>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="text-black dark:text-white font-medium"
                  >
                    {section.subtitle}
                  </Text>
                  <Text
                    tag="p"
                    variant="textSM"
                    class="text-base-500 dark:text-base-300 mt-1"
                  >
                    {section.description}
                  </Text>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
  <Cta />
</BaseLayout>
