---
interface Props {
  variant?: // Oxbow Buttons
  | "oxbowDefault"
    | "oxbowMuted"
    | "oxbowAccent"
    | "oxbowOutline"
    // Webapp
    | "default"
    | "accent"
    | "accentDark"
    | "muted"
    | "mutedDark"
    | "alternative"
    | "text"
    | "link"
    | "outline"
    | "ghost";
  size?: "xxs" | "xs" | "sm" | "base" | "md" | "lg" | "xl";
  onlyIconSize?: "xxs" | "xs" | "sm" | "base" | "md" | "lg" | "xl";
  gap?: "xxs" | "xs" | "sm" | "base" | "md" | "lg";
  loading?: boolean;
  fullWidth?: boolean;
  class?: string;
  href?: string;
  target?: string;
  rel?: string;
  noRounded?: boolean;
  noRoundedLeft?: boolean;
  noRoundedRight?: boolean;
  noRoundedTop?: boolean;
  noRoundedBottom?: boolean;
  noRoundedTopLeft?: boolean;
  noRoundedTopRight?: boolean;
  noRoundedBottomLeft?: boolean;
  noRoundedBottomRight?: boolean;
  [key: string]: any;
}
const {
  variant = "default",
  size = "base",
  onlyIconSize,
  gap,
  loading = false,
  fullWidth = false,
  class: className,
  href,
  target,
  rel,
  noRounded = false,
  noRoundedLeft = false,
  noRoundedRight = false,
  noRoundedTop = false,
  noRoundedBottom = false,
  noRoundedTopLeft = false,
  noRoundedTopRight = false,
  noRoundedBottomLeft = false,
  noRoundedBottomRight = false,
  ...rest
} = Astro.props as Props;
const _noTopLeft =
  noRounded || noRoundedTop || noRoundedLeft || noRoundedTopLeft;
const _noTopRight =
  noRounded || noRoundedTop || noRoundedRight || noRoundedTopRight;
const _noBottomLeft =
  noRounded || noRoundedBottom || noRoundedLeft || noRoundedBottomLeft;
const _noBottomRight =
  noRounded || noRoundedBottom || noRoundedRight || noRoundedBottomRight;
let roundedClass = "rounded-md";
if (_noTopLeft && _noTopRight && _noBottomLeft && _noBottomRight) {
  roundedClass = "rounded-none";
} else {
  const parts = [];
  if (!_noTopLeft) parts.push("rounded-tl-md");
  if (!_noTopRight) parts.push("rounded-tr-md");
  if (!_noBottomLeft) parts.push("rounded-bl-md");
  if (!_noBottomRight) parts.push("rounded-br-md");
  if (parts.length) roundedClass = parts.join(" ");
}
const isLink = typeof href === "string";
const finalHref = isLink ? href : undefined;
const finalTarget = target || undefined;
const finalRel = finalTarget === "_blank" ? rel || "noopener noreferrer" : rel;
const isDisabled = loading || rest.disabled;
const tabIndexValue: number | undefined = isDisabled ? -1 : undefined;
// Oxbow Buttons
const oxbowDefaultClass = [
  "text-white",
  "bg-base-900",
  "outline",
  "outline-zinc-900",
  "hover:bg-zinc-950",
  "focus:outline-zinc-950",
  "shadow-sm",
];
const oxbowAccentClass = [
  "text-white",
  "bg-accent-600",
  "outline",
  "outline-accent-500",
  "hover:bg-accent-500",
  "focus:outline-accent-600",
  "shadow-sm",
];
const oxbowMutedClass = [
  "text-zinc-600",
  "bg-sand-100",
  "outline",
  "outline-sand-50",
  "hover:bg-sand-50",
  "focus:outline-sand-100",
  "dark:text-zinc-300",
  "dark:bg-zinc-800",
  "dark:outline-zinc-700",
  "dark:hover:bg-zinc-700",
  "dark:focus:outline-zinc-600",
];
const oxbowOutlineClass = [
  "text-sand-700",
  "outline",
  "outline-sand-200",
  "bg-trandaprent",
  "hover:outline-accent-600",
  "focus:outline-accent-500",
  "shadow-sm",
  "dark:text-zinc-300",
  "dark:outline-zinc-700",
  "dark:hover:outline-accent-500",
];
// Webapp
const defaultClass = [
  "text-white",
  "bg-zinc-900",
  "outline",
  "outline-zinc-900",
  "hover:bg-zinc-950",
  "focus:outline-zinc-950",
  "shadow-sm",
];
const defaultDarkClass = [
  "text-white",
  "bg-zinc-700",
  "outline",
  "outline-zinc-700",
  "hover:bg-zinc-600",
  "focus:outline-zinc-500",
  "shadow-sm",
];
const accentClass = [
  "text-white",
  "bg-blue-500",
  "outline",
  "outline-blue-500",
  "hover:bg-blue-600",
  "focus:outline-blue-600",
  "shadow-sm",
];
const accentDarkClass = [
  "text-white",
  "bg-blue-600",
  "outline",
  "outline-blue-600",
  "hover:bg-blue-700",
  "focus:outline-blue-700",
  "shadow-sm",
];
const alternativeClass = [
  "text-zinc-700",
  "bg-white",
  "outline",
  "outline-zinc-200",
  "hover:shadow-sm",
  "focus:outline-zinc-900",
  "shadow-sm",
  "dark:text-zinc-300",
  "dark:bg-zinc-800",
  "dark:outline-zinc-700",
  "dark:hover:bg-zinc-700",
  "dark:focus:outline-zinc-600",
];
const mutedClass = [
  "text-zinc-600",
  "bg-zinc-50",
  "outline",
  "outline-zinc-50",
  "hover:bg-zinc-200",
  "focus:outline-zinc-600",
  "dark:text-zinc-300",
  "dark:bg-zinc-800",
  "dark:outline-zinc-700",
  "dark:hover:bg-zinc-700",
  "dark:focus:outline-zinc-600",
];
const mutedDarkClass = [
  "text-zinc-300",
  "bg-zinc-800",
  "outline",
  "outline-zinc-800",
  "hover:bg-zinc-700",
  "focus:outline-zinc-600",
];
const outlineClass = [
  "text-zinc-700",
  "outline",
  "outline-zinc-600",
  "bg-transparent",
  "hover:bg-zinc-100",
  "focus:outline-zinc-600",
  "shadow-sm",
  "dark:text-zinc-300",
  "dark:outline-zinc-700",
  "dark:hover:bg-zinc-800",
];
const ghostClass = [
  "text-zinc-600",
  "bg-transparent",
  "hover:bg-zinc-100",
  "focus:outline-zinc-300",
  "dark:text-zinc-300",
  "dark:hover:bg-zinc-800",
  "dark:focus:outline-zinc-600",
];
const textClass = [
  "text-zinc-500",
  "bg-white",
  "outline",
  "outline-zinc-200",
  "hover:text-blue-600",
  "hover:bg-zinc-50",
  "focus:outline-blue-500",
  "shadow-sm",
  "dark:text-zinc-300",
  "dark:bg-zinc-800",
  "dark:outline-zinc-700",
  "dark:hover:bg-zinc-700",
  "dark:focus:outline-zinc-600",
];
const linkClass = [
  "text-blue-500",
  "bg-transparent",
  "hover:underline",
  "focus:underline",
  "focus:outline-none",
  "p-0",
  "rounded-none",
  "dark:text-blue-400",
];
const xxs = ["h-7", "px-3", "py-1.5", "text-xs"];
const xs = ["h-8", "px-4", "py-2", "text-xs"];
const sm = ["h-9", "px-4", "py-2", "text-sm"];
const base = ["h-10", "px-6", "py-3", "text-base"];
const md = ["h-11", "px-6", "py-3", "text-base"];
const lg = ["h-12", "px-6", "py-3", "text-lg"];
const xl = ["h-14", "px-6", "py-3", "text-xl"];
const iconXXS = ["w-7", "h-7", "p-2"];
const iconXS = ["w-8", "h-8", "p-2"];
const iconSM = ["w-9", "h-9", "p-2"];
const iconBase = ["w-10", "h-10", "p-2"];
const iconMD = ["w-11", "h-11", "p-2"];
const iconLG = ["w-12", "h-12", "p-3"];
const iconXL = ["w-14", "h-14", "p-3"];
const gapXXS = ["gap-2"];
const gapXS = ["gap-2"];
const gapSM = ["gap-4"];
const gapBase = ["gap-8"];
const gapMD = ["gap-10"];
const gapLG = ["gap-12"];
const disabledClass = [
  "opacity-50",
  "cursor-not-allowed",
  "pointer-events-none",
];
const loadingClass = ["relative", "opacity-80", "cursor-wait"];
const additionalClasses = className ? className.split(" ") : [];
const hasDefaultSlot = Astro.slots.has("default");
const isIconOnly =
  !hasDefaultSlot &&
  (Astro.slots.has("left-icon") || Astro.slots.has("right-icon"));
const variantClass =
  {
    // Oxbow Buttons
    oxbowDefault: oxbowDefaultClass,
    oxbowAccent: oxbowAccentClass,
    oxbowMuted: oxbowMutedClass,
    oxbowOutline: oxbowOutlineClass,
    // Webapp
    default: defaultClass,
    defaultDark: defaultDarkClass,
    accent: accentClass,
    accentDark: accentDarkClass,
    muted: mutedClass,
    mutedDark: mutedDarkClass,
    alternative: alternativeClass,
    outline: outlineClass,
    ghost: ghostClass,
    text: textClass,
    link: linkClass,
  }[variant] || defaultClass;
const sizeClass = onlyIconSize
  ? {
      xxs: iconXXS,
      xs: iconXS,
      sm: iconSM,
      base: iconBase,
      md: iconMD,
      lg: iconLG,
      xl: iconXL,
    }[onlyIconSize]
  : !isIconOnly
    ? {
        xxs,
        xs,
        sm,
        base,
        md,
        lg,
        xl,
      }[size]
    : {
        xxs: iconXXS,
        xs: iconXS,
        sm: iconSM,
        base: iconBase,
        md: iconMD,
        lg: iconLG,
        xl: iconXL,
      }[size];
const gapMap = {
  xxs: gapXXS,
  xs: gapXS,
  sm: gapSM,
  base: gapBase,
  md: gapMD,
  lg: gapLG,
};
const gapClass = gapMap[gap] || [];
const baseClasses = [
  "flex",
  "items-center",
  "justify-center",
  "text-center",
  "font-medium",
  "duration-500",
  "ease-in-out",
  "transition-colors",
  "focus:outline-2",
  "focus:z-10",
  "select-none",
  "focus:outline-offset-2",
  variantClass,
  sizeClass,
  gapClass,
  roundedClass,
  isDisabled && disabledClass,
  loading && loadingClass,
  fullWidth && "w-full",
  ...additionalClasses,
];
const spinnerHTML = `
  <span class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
    <svg class="w-5 h-5 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
  </span>
`;
---

{
  isLink ? (
    <a
      href={finalHref}
      target={finalTarget}
      rel={finalRel}
      aria-busy={loading}
      aria-disabled={isDisabled}
      role="link"
      class:list={baseClasses}
      {...rest}
    >
      {loading && <Fragment set:html={spinnerHTML} />}
      {!loading && (
        <>
          {Astro.slots.has("left-icon") && <slot name="left-icon" />}
          <slot />
          {Astro.slots.has("right-icon") && <slot name="right-icon" />}
        </>
      )}
    </a>
  ) : (
    <button
      class:list={baseClasses}
      disabled={isDisabled}
      tabindex={tabIndexValue}
      {...rest}
    >
      {loading && <Fragment set:html={spinnerHTML} />}
      {!loading && (
        <>
          {Astro.slots.has("left-icon") && <slot name="left-icon" />}
          <slot />
          {Astro.slots.has("right-icon") && <slot name="right-icon" />}
        </>
      )}
    </button>
  )
}
