---
export const description = "Splited CTA with text-and image";
// Assets
import Logo from "@/components/assets/Logo.astro";
import { Image } from "astro:assets";
import Activity from "@/images/assets/activity.svg";
import Avatar1 from "@/images/avatars/1.jpg";
// Foundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const data = [
  {
    name: "Tina Byte",
    title: "Pixel Pusher at PushButton",
    testimonial:
      "I used to design dashboards that even I couldn’t navigate. Then I met Oxbow. Now I spend less time crying into my Tailwind sites and more time pretending I'm productive.",
    img: Avatar1,
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div
      class="items-start max-w-md mx-auto grid grid-cols-1 lg:max-w-none md:grid-cols-2 lg:p-20 lg:bg-linear-180 lg:outline lg:outline-zinc-100 lg:dark:outline-zinc-800 lg:from-zinc-50 lg:to-zinc-100 lg:dark:from-zinc-800 lg:dark:to-zinc-900 lg:rounded-xl"
    >
      <div class="lg:pr-24 md:pr-12">
       
        <Logo class="h-12  text-base-900 dark:text-white" />
        <Text
          tag="h1"
          variant="displaySM"
          class="mt-12 font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
        >
          Finally, a tool that won’t make you question your career choices
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
        >
          Say goodbye to clunky workflows, endless tabs, and the vague
          existential dread of “collaboration.”
        </Text>
        <div class="flex flex-wrap items-center mt-8 gap-2">
          <Button variant="accent" size="sm">Push the button</Button>
          <Button variant="muted" size="sm">Still skeptical?</Button>
        </div>
        <article
          role="list"
          class="pt-6 mt-6 border-t border-zinc-200 dark:border-zinc-700"
        >
          {
            data.map((member) => (
              <div>
                <figure class="flex flex-col h-full">
                  <Text
                    tag="blockquote"
                    variant="textSM"
                    class="italic font-medium text-zinc-500 dark:text-zinc-400"
                  >
                    "{member.testimonial}"
                  </Text>
                  <figcaption>
                    <div class="flex items-center mt-8 gap-2">
                      <Image
                        src={member.img}
                        alt={`Avatar of ${member.name}`}
                        width={member.img.width}
                        height={member.img.height}
                        class="inline-block rounded-full size-12"
                        loading="lazy"
                      />
                      <div>
                        <Text
                          tag="p"
                          variant="textBase"
                          class="font-medium text-zinc-900 dark:text-zinc-100"
                        >
                          {member.name}
                        </Text>
                        <Text
                          tag="p"
                          variant="textSM"
                          class="font-medium text-zinc-500 dark:text-zinc-400"
                        >
                          {member.title}
                        </Text>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            ))
          }
        </article>
      </div>
      <div class="z-10 h-full mt-12 lg:-mt-32">
        <Image
          src={Activity}
          width={600}
          height={800}
          alt="Product showcase"
          loading="eager"
          decoding="async"
          class="w-full rounded-xl shadow outline outline-zinc-200 dark:outline-zinc-700"
        />
      </div>
    </div>
  </div>
</section>
