---
export const description = "Splited CTA with text-and image";

// Assets
import Logo from "@/components/assets/Logo.astro";
import { Image } from "astro:assets";
import Activity from "@/images/assets/activity.svg";
import Avatar1 from "@/images/avatars/1.jpg";

// Foundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const data = [
  {
    name: "Tina Byte",
    title: "Pixel Pusher at PushButton",
    testimonial:
      "I used to design dashboards that even I couldn’t navigate. Then I met Oxbow. Now I spend less time crying into my Tailwind sites and more time pretending I'm productive.",
    img: Avatar1,
  },
];
---

<div class="p-8 pt-24">
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto">
    <div
      class="items-start max-w-md mx-auto grid grid-cols-1 lg:max-w-none md:grid-cols-2 lg:bg-zinc-50 lg:p-20 lg:rounded-xl lg:shadow lg:outline lg:outline-zinc-200"
    >
      <div class="lg:pr-24 md:pr-12">
        <div class="inline-block p-3 rounded-full bg-blue-600">
          <Logo class="h-8 mx-auto text-white" />
        </div>
        <Text
          tag="h2"
          variant="displaySM"
          class="mt-8 font-semibold text-zinc-900 lg:text-balance"
        >
          Finally, a tool that won’t make you question your career choices
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
          Say goodbye to clunky workflows, endless tabs, and the vague
          existential dread of “collaboration.”
        </Text>
        <div class="flex flex-wrap items-center mt-8 gap-2">
          <Button variant="accent" size="sm">Push the button</Button>
          <Button variant="alternative" size="sm">Still skeptical?</Button>
        </div>

        <article role="list" class="pt-6 mt-6 border-t border-zinc-200">
          {
            data.map((member) => (
              <div>
                <figure class="flex flex-col h-full">
                  <Text
                    tag="blockquote"
                    variant="textSM"
                    class="italic font-medium text-zinc-500"
                  >
                    "{member.testimonial}"
                  </Text>
                  <figcaption>
                    <div class="flex items-center mt-8 gap-2">
                      <Image
                        src={member.img}
                        alt={`Avatar of ${member.name}`}
                        width={member.img.width}
                        height={member.img.height}
                        class="inline-block rounded-full size-12"
                        loading="lazy"
                      />

                      <div>
                        <Text
                          tag="p"
                          variant="textBase"
                          class="font-medium text-zinc-900"
                        >
                          {member.name}
                        </Text>
                        <Text
                          tag="p"
                          variant="textSM"
                          class="font-medium text-zinc-500"
                        >
                          {member.title}
                        </Text>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            ))
          }
        </article>
      </div>
      <div class="z-10 h-full mt-12 lg:-mt-32">
        <Image
          src={Activity}
          width={600}
          height={800}
          alt="Product showcase"
          loading="eager"
          decoding="async"
          class="w-full rounded-lg shadow outline outline-zinc-200"
        />
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
