---
const pricingData = [
  {
    type: "Teams",
    price: "$149",
    audience: "For startup teams and agencies",
    features: [
      {
        highlight: "Same as individual ",
        description:
          "Get access to all your teamThis tier gives you access to up to 25 people.",
      },
    ],
    cardStyles: "bg-white ",
    purchaseButton: {
      text: "Buy for $149",
      class:
        "rounded-lg w-full px-4 py-2 text-sm font-semibold gap-4 transition-all text-black bg-gradient-to-b from-gray-100 to-gray-200 not-prose hover:to-gray-300 h-10 inline-flex items-center justify-center",
      link: "https://lexingtonthemes.lemonsqueezy.com/checkout/buy/3c84c7cf-3688-4541-97eb-70bb4f251103",
    },
  },
  {
    type: "Individual",
    price: "$89",
    audience: "For individuals working on their projects or freelancers",
    features: [
      {
        highlight: "More than 500 components",
        description:
          "Everything required to create stunning application UIs, marketing sites, ecommerce stores, and beyond.",
      },
      {
        highlight: "Lifetime access",
        description:
          "Immediate access to all current content, plus any new components and templates added in the future.",
      },
      {
        highlight: "Unlimited projects",
        description: "Use Windstatic for as many projects as you need.",
      },
      {
        highlight: "Free updates",
        description: "Regular updates with new components and templates.",
      },
      {
        highlight: "No recurring subscriptions or update fees",
        description:
          "Pay once and gain permanent access to all our premium Tailwind CSS resources.",
      },
    ],
    cardStyles: "bg-gray-50 order-first lg:order-none",
    purchaseButton: {
      text: "Buy for $89",
      class:
        "rounded-lg w-full px-4 py-2 text-sm font-semibold gap-4 transition-all text-white bg-gradient-to-b from-blue-500 to-blue-600 not-prose hover:to-blue-700 h-10 inline-flex items-center justify-center",
      link: "https://lexingtonthemes.lemonsqueezy.com/checkout/buy/7273c2d3-4b2a-4e6c-a990-04f9b44c96ea",
    },
  },
];
---

<div
  class="grid grid-cols-1 divide-y md:divide-y-0 md:divide-x md:grid-cols-2 text-left border border-t-0">
  {
    pricingData.map((tier) => (
      <div class={`relative flex  p-8 ${tier.cardStyles}`}>
        <div class="flex flex-1 flex-col h-full justify-between">
          <ul
            class="flex flex-col list-disc list-inside"
            role="list">
            <li class="block font-medium text-black 2xl:text-2xl">
              {tier.type} — <strong>{tier.price}</strong>
            </li>
            <li class="block text-sm 2xl:text-lg text-gray-600 mt-1 pb-3">
              {tier.audience}
            </li>
            {tier.features.map((feature, i) => (
              <li class="text-sm mt-3 2xl:text-lg  text-gray-500">
                <span class="text-blue-600 font-medium">
                  {feature.highlight}
                </span>{" "}
                — {feature.description}
              </li>
            ))}
          </ul>
          <div class="mt-8">
            {tier.purchaseButton && (
              <a
                id={`purchase-${tier.type.toLowerCase().replace(/\s/g, "-")}-bundle`}
                data-umami-event={`purchase ${tier.type.toLowerCase().replace(/\s/g, "-")}-bundle`}
                class={tier.purchaseButton.class}
                href={tier.purchaseButton.link}>
                {tier.purchaseButton.text}
              </a>
            )}
          </div>
        </div>
      </div>
    ))
  }
</div>
