---
import Text from "@/components/fundations/typography/Text.astro";
const logosSmall = [
  {
    src: "/brands/1.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brands/2.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brands/3.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brands/4.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 sm:col-start-2 lg:col-span-1",
  },
  {
    src: "/brands/5.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 col-start-2 sm:col-start-auto lg:col-span-1",
  },
];
const logosBig = [
  {
    src: "/brands/6.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brands/7.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brands/9.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brands/8.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 sm:col-start-2 lg:col-span-1",
  },
  {
    src: "/brands/10.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 col-start-2 sm:col-start-auto lg:col-span-1",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <Text
      tag="h2"
      variant="textBase"
      class="mt-4 font-semibold uppercase text-accent-600 lg:text-balance text-center"
    >
      Meet our investors
    </Text>
    <div
      class="mx-auto grid mt-10 max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-auto lg:max-w-3xl lg:grid-cols-5"
    >
      {
        logosBig.map((logo) => (
          <img
            class={`${logo.colSpan} max-h-12 w-full object-contain `}
            src={logo.src}
            alt="#_"
            width={logo.width}
            height={logo.height}
          />
        ))
      }
    </div>
    <div
      class="mx-auto grid max-w-lg grid-cols-4 mt-8 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-auto lg:max-w-2xl lg:grid-cols-5"
    >
      {
        logosSmall.map((logo) => (
          <img
            class={`${logo.colSpan} max-h-12 w-full object-contain relative`}
            src={logo.src}
            alt="#_"
            width={logo.width}
            height={logo.height}
          />
        ))
      }
    </div>
  </div>
</section>
