---
import Text from "@/components/fundations/typography/Text.astro";
const member = [
  {
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency",
    name: "Ana Betancourt",
    title: "Creator of Something",
    imgSrc: "/avatars/5.jpg",
  },
  {
    testimonial:
      "Implementing Semplice's blockchain technology has been a game-changer for our supply chain management.",
    name: "Juanjo Garcia",
    title: "Founder of his kids",
    imgSrc: "/avatars/2.jpg",
  },
  {
    testimonial:
      "We were initially hesitant about integrating blockchain technology into our existing systems.",
    name: "Joana Svenblad",
    title: "Founder of nothing",
    imgSrc: "/avatars/3.jpg",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <ul
      class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 rounded-2xl"
    >
      {
        member.map((member) => (
          <li>
            <figure class="flex flex-col justify-between h-full gap-12">
              <div class="flex flex-col justify-between h-full">
                <div>
                  <Text
                    tag="blockquote"
                    variant="textBase"
                    class="italic font-medium text-zinc-500"
                  >
                    "{member.testimonial}"
                  </Text>
                </div>
                <div class="mt-6">
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium text-zinc-900"
                  >
                    {member.name}
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="font-medium text-zinc-400"
                  >
                    {member.title}
                  </Text>
                </div>
              </div>
              <figcaption class="justify-between w-full">
                <img
                  alt={member.name}
                  src={member.imgSrc}
                  class="object-cover size-full rounded-2xl aspect-[4/3]"
                />
              </figcaption>
            </figure>
          </li>
        ))
      }
    </ul>
  </div>
</section>
