---
import { Image } from "astro:assets";
import g1 from "@/images/gallery/1.png";
import g2 from "@/images/gallery/2.png";
import g3 from "@/images/gallery/3.png";
import g4 from "@/images/gallery/4.png";
import g5 from "@/images/gallery/5.png";
---

<div class="py-32 mx-auto max-w-screen bg-white dark:bg-zinc-900">
  <div class="flex justify-center py-4 -my-4 overflow-hidden gap-5 sm:gap-8">
    <div
      class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 rotate-2"
    >
      <Image
        width={500}
        height={500}
        alt="#_"
        class="absolute inset-0 object-cover size-full"
        src={g1}
      />
    </div><div
      class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 -rotate-2"
    >
      <Image
        width={500}
        height={500}
        alt="#_"
        class="absolute inset-0 object-cover size-full"
        src={g2}
      />
    </div><div
      class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 rotate-2"
    >
      <Image
        width={500}
        height={500}
        alt="#_"
        class="absolute inset-0 object-cover size-full"
        src={g3}
      />
    </div><div
      class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 rotate-2"
    >
      <Image
        width={500}
        height={500}
        alt="#_"
        class="absolute inset-0 object-cover size-full"
        src={g4}
      />
    </div><div
      class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 -rotate-2"
    >
      <Image
        width={500}
        height={500}
        class="absolute inset-0 object-cover size-full"
        alt="#_"
        src={g5}
      />
    </div>
  </div>
</div>
