---
import Text from "@/components/fundations/typography/Text.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import X from "@/components/fundations/icons/X.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import ChevronLeft from "@/components/fundations/icons/ChevronLeft.astro";
import { Image } from "astro:assets";
import g1 from "@/images/gallery/1.png";
import g2 from "@/images/gallery/2.png";
import g3 from "@/images/gallery/3.png";
import g4 from "@/images/gallery/4.png";
import g5 from "@/images/gallery/5.png";
import g6 from "@/images/gallery/6.png";
import g7 from "@/images/gallery/7.png";
import g8 from "@/images/gallery/8.png";
const gallery = [
  { src: g1, alt: "Oxbow UI" },
  { src: g2, alt: "Oxbow UI" },
  { src: g3, alt: "Oxbow UI" },
  { src: g4, alt: "Oxbow UI" },
  { src: g5, alt: "Oxbow UI" },
  { src: g6, alt: "Oxbow UI" },
  { src: g7, alt: "Oxbow UI" },
  { src: g8, alt: "Oxbow UI" },
];
---

<!---
// Set  `isOpen` to `false` to hide the lightbox. 
// isOpen: true,
-->
<section
  class="bg-white dark:bg-zinc-900"
  x-data={`
    {
      gallery: ${JSON.stringify(gallery.map((item) => ({ src: item.src.src, alt: item.alt })))},
      currentIndex: 0,
      isOpen: true,
      openLightbox(index) { this.currentIndex = index; this.isOpen = true; },
      closeLightbox() { this.isOpen = false; },
      next() { this.currentIndex = (this.currentIndex + 1) % this.gallery.length; },
      prev() { this.currentIndex = (this.currentIndex - 1 + this.gallery.length) % this.gallery.length; }
    }
  `}
>
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <Text
      variant="textSM"
      tag="p"
      class="pb-12 mt-4 italic text-center text-zinc-500 dark:text-zinc-400"
    >
      Click on the image to open it in a lightbox.
    </Text>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:grid-cols-4">
      {
        gallery.map(({ src, alt }, index) => (
          <Image
            width={500}
            height={500}
            src={src}
            alt={alt}
            class="object-cover cursor-pointer size-full aspect-square hover:opacity-80 transition-opacity"
            @click={`openLightbox(${index})`}
          />
        ))
      }
    </div>
  </div>

  <div
    x-show="isOpen"
    x-init="$el.focus()"
    tabindex="0"
    role="dialog"
    aria-modal="true"
    aria-label="Image Gallery"
    @keydown.escape="closeLightbox"
    @keydown.arrow-left="prev"
    @keydown.arrow-right="next"
    class="fixed inset-0 bg-white/80 dark:bg-zinc-900/80 backdrop-blur supports-[backdrop-filter]:bg-white/60 supports-[backdrop-filter]:dark:bg-zinc-900/60 flex items-start justify-center z-50 overflow-auto p-8 md:p-12 lg:p-32 outline-none"
    @click="closeLightbox"
    x-transition
  >
    <div>
      <div class="relative max-w-4xl max-h-full p-4" @click.stop>
        <!-- Hidden heading for screen readers -->
        <h2 class="sr-only">Image Gallery</h2>
        {
          gallery.map((slide, idx) => (
            <Image
              width={800}
              height={800}
              src={slide.src}
              alt={slide.alt}
              class="object-contain max-w-120 max-h-120"
              x-show={`currentIndex === ${idx}`}
            />
          ))
        }
      </div>
      <button
        class="absolute z-50 top-10 right-10"
        aria-label="Close gallery"
        @click.stop="closeLightbox"
      >
        <X
          slot="icon"
          size="sm"
          class="text-black dark:text-white hover:text-zinc-300"
        />
      </button>
      <IconButton
        variant="default"
        size="sm"
        class="absolute z-50 left-20 top-1/2 transform -translate-y-1/2"
        aria-label="Previous image"
        @click.stop="prev"
      >
        <ChevronLeft slot="icon" size="xl" />
      </IconButton>
      <IconButton
        variant="default"
        size="sm"
        class="absolute z-50 right-20 top-1/2 transform -translate-y-1/2"
        aria-label="Next image"
        @click.stop="next"
      >
        <ChevronRight slot="icon" size="xl" />
      </IconButton>
    </div>
  </div>
</section>
