---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Playground from "@/components/global/Playground.astro";
import { paginate } from "@/utils/pagination";

const { section, page } = Astro.params;

const components = await Astro.glob(
  `@/components/windstatic/marketing/**/*.astro`,
);

const sectionComponents = components.filter((component) => {
  const sectionRegex = new RegExp(`marketing\/${section}\/.+\.astro$`, "i");

  return component.file?.match(sectionRegex);
});

const currentPage = parseInt(page, 10) || 1;

const paginationData = paginate(
  `/playground/marketing/${section}`,
  sectionComponents,
  currentPage,
);
---

<BaseLayout>
  <section>
    <div class="max-w-xl mx-auto px-8 pt-12 lg:pt-32">
      <div class="prose-styles">
        <span class="pb-2">Page sections / Marketing</span>
        <h1>{section}</h1>

        <div class="flex gap-3 text-gray-400">
          <span class="hidden lg:inline" title="command palette">
            Search for anything with —
            <span class="text-xs"> ⌘ + K </span>
            or <span class="text-xs"> CTRL + K </span>
          </span>
        </div>
      </div>
    </div>

    <div class="max-w-7xl mx-auto px-8 space-y-12 pb-32 mt-12">
      <div>Page {paginationData.currentPage} / {paginationData.lastPage}</div>
      {
        paginationData.data.map((component) => (
          <Playground>
            <component.default />
          </Playground>
        ))
      }
      {
        paginationData.url.prev ? (
          <a href={paginationData.url.prev}>Previous</a>
        ) : null
      }
      {
        paginationData.url.next ? (
          <a href={paginationData.url.next}>Next</a>
        ) : null
      }
    </div>
  </section>
</BaseLayout>
