---
// Data
import { reviews } from "@/data/reviews.json";
// Assets
import Logo from "@/components/assets/Logo.astro";
import { Image } from "astro:assets";
import showcaseLogin from "@/images/assets/showcaseLogin.png";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
// Buttons
const { btnLabel = "Get your link", email = false } = Astro.props;
// Randomize the reviews array
const randomizedReviews = [...reviews].sort(() => Math.random() - 0.5);
---

<div class="flex h-screen bg-white">
  <!-- Left Column - Login Form -->
  <div class="flex items-center justify-center w-full p-8 bg-sand-100 lg:w-2/3">
    <div class="w-full max-w-md">
      <a href="/">
        <span class="sr-only">Back to home</span>
        <Logo class="h-24 mx-auto text-accent-600 md:mx-0" /></a
      >

      <div class="mt-12 text-center md:text-left">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-zinc-900 lg:text-balance"
        >
          Oh. It’s you again.
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-zinc-500">
          Drop your email. We’ll send a one-time login link. No passwords, no
          “forgot password” drama, no excuses.
        </Text>
      </div>

      <div x-data="loginForm()" class="w-full mt-12">
        <form
          x-cloak
          @submit.prevent="sendEmail()"
          x-show="!emailSent || errorMessage"
        >
          <div class="flex flex-col gap-1">
            <div>
              <div>
                <label for="email" class="text-sm text-zinc-500"> Email </label>
                <input
                  id="email"
                  name="email"
                  type="email"
                  x-model="email"
                  x-on:input="clearErrorMessage"
                  autocomplete="on"
                  placeholder="email@example.com"
                  required
                  aria-required="true"
                  class="w-full h-10 px-3 py-2 mt-1 text-sm bg-white border rounded-lg appearance-none focus:outline-none focus:ring-0 focus:border-accent-600 text-zinc-600 border-zinc-200 leading-6 transition-colors duration-200 ease-in-out"
                />
              </div>
              <div x-cloak x-show="!!errorMessage">
                <p x-text="errorMessage" class="pt-4 text-xs text-zinc-500"></p>
              </div>
              {
                email && (
                  <div>
                    <label for="password" class="text-sm text-zinc-500">
                      Password
                    </label>
                    <input
                      id="password"
                      name="password"
                      type="password"
                      placeholder="Enter your password"
                      required
                      aria-required="true"
                      class="w-full h-10 px-3 py-2 mt-1 text-sm bg-white border rounded-lg appearance-none focus:outline-none focus:ring-0 focus:border-accent-600 text-zinc-600 border-zinc-200 leading-6 transition-colors duration-200 ease-in-out"
                    />
                  </div>
                )
              }
              <Button
                size="md"
                variant="oxbowAccent"
                type="submit"
                :disabled="emailSent"
                x-text={`emailSent ? 'Check Your Inbox' : '${btnLabel}'`}
                class="w-full mt-2"
              >
                {btnLabel}
              </Button>
            </div>
          </div>
        </form>
        <Text
          tag="p"
          variant="textXS"
          class="mt-4 font-medium text-center text-zinc-500 md:text-left"
        >
          Dont' have an account?
          <a
            href="/pricing"
            class="font-medium text-accent-600 hover:text-zinc-500"
          >
            Get full access
          </a>
        </Text>
        <div x-cloak x-show="emailSent" class="flex flex-col mt-12 gap-4">
          <div>
            <Text tag="p" variant="textBase" class="font-medium text-zinc-900"
              >Didn't receive the email?</Text
            >
            <Text tag="p" variant="textSM" class="mt-2 text-zinc-500"
              >Add the email
              <span class="font-medium">noreply@oxbowui.firebaseapp.com</span> to
              your contacts to ensure you receive our emails and try again.</Text
            >
          </div>
          <div class="flex mt-2">
            <Button
              size="md"
              variant="oxbowAccent"
              class="w-full"
              @click="clearForm()"
            >
              Try again
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Right Column - Image and Testimonial -->
  <div class="relative hidden lg:block lg:w-1/3">
    <Image
      width={1200}
      height={1200}
      src={showcaseLogin}
      alt="Background"
      class="object-cover object-left w-full h-full"
    />

    <div
      class="absolute p-6 bottom-10 left-10 right-10 bg-sand-100/80 backdrop-blur-sm sm:p-4 sm:pb-5 lg:p-6 rounded-xl shadow-normal shadow-sand-500/10"
    >
      {
        randomizedReviews.slice(0, 1).map((template) => (
          <div class="relative flex flex-col gap-2">
            <Text tag="h3" variant="textBase" class="font-medium text-zinc-900">
              "{template.text}"
            </Text>
            <div class="flex items-center mt-2  gap-4">
              <Image
                src={template.image}
                alt={template.name}
                width={1000}
                height={1000}
                class="object-cover object-top rounded-full size-10"
              />
              <div>
                <Text
                  tag="p"
                  variant="textBase"
                  class="font-semibold text-zinc-900"
                >
                  {template.name}
                </Text>
                <Text tag="p" variant="textXS" class=" text-zinc-500">
                  {template.work}
                </Text>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
