---
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Button from "@/components/fundations/buttons/Button.astro";
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundations

// Add prop to control CTA visibility
const { isSignedIn = false } = Astro.props;

const navLinks = [
  {
    title: "Navigation",
    links: [
      { label: "Home", href: "/" },
      { label: "Log in", href: "/login" },
      { label: "Pricing", href: "/pricing" },
      { label: "Support", href: "/support" },
      { label: "Affiliates", href: "https://oxbowui.affonso.io" },
      {
        label: "Polar customer portal",
        href: "https://polar.sh/oxbow-ui/portal/request",
      },
      { label: "Customers", href: "/customers" },
      { label: "Changelog", href: "/changelog" },
    ],
  },
  {
    title: "Legal",
    links: [
      { label: "Faq", href: "/faq" },
      { label: "Terms", href: "/terms" },
      { label: "Privacy", href: "/privacy" },
      { label: "License", href: "/license" },
      { label: "Refund", href: "/refund" },
    ],
  },
  {
    title: "Social",
    links: [{ label: "X", href: "https://x.com/oxbowui" }],
  },
  {
    title: "Tools",
    links: [
      {
        label: "Grid generator",
        href: "/free-tools/tailwind-css-grid-generator",
      },
      {
        label: "Gradient generator",
        href: "/free-tools/tailwind-css-gradient-generator",
      },
      {
        label: "Color picker",
        href: "/free-tools/tailwind-css-color-palette",
      },
      {
        label: "Cheat sheet",
        href: "/free-tools/tailwind-css-cheat-sheet",
      },
    ],
  },
];
---

<footer class="overflow-hidden">
  <Wrapper variant="standard" class="pb-8 mt-24">
    <!--   {
      !isSignedIn && (
        <div class="p-8 py-12 text-center rounded-xl bg-white shadow-normal shadow-sand-500/10 ">
          <div class=" max-w-lg mx-auto text-balance">
            <Text
              tag="h2"
              variant="displaySM"
              class="font-medium text-zinc-900"
            >
              Lifetime access
            </Text>
            <Text tag="p" variant="textBase" class="mt-2 text-zinc-700">
              Get everything for $99. One-time payment. Lifetime access,
              updates, and support included.
            </Text>
            <Button
              size="xxs"
              variant="oxbowAccent"
              href="/pricing"
              id="full-access-cta-bottom"
            
              title="Get the full-access"
              class="mt-8 w-fit mx-auto"
            >
              Full access for $99
            </Button>
          </div>
        </div>
      )
    } -->
    <div>
      <div class="text-black">
        <a href="/">
          <span class="sr-only">Go to homepage</span>
          <Logo class="h-8  text-zinc-900" />
        </a>
        <p class="mt-1 text-sm font-normal text-zinc-500 text-balance">
          It's just Tailwind & Alpine blocks.
        </p>
      </div>
      <div class="flex flex-col lg:col-span-3 divide-y divide-zinc-200 mt-12">
        {
          navLinks.map((section, i) => (
            <nav aria-label={section.title}>
              <Text
                tag="h3"
                variant="textBase"
                class="font-semibold text-zinc-900 sr-only"
              >
                {section.title}
              </Text>
              <ul
                role="list"
                class="flex flex-col  space-y-1 text-xs text-zinc-600 divide-y divide-zinc-200"
              >
                {section.links.map((link, j) => (
                  <li class="py-1.5">
                    <a
                      class="hover:text-accent-600"
                      href={link.href}
                      title={link.label}
                      target={
                        link.href.startsWith("http") ? "_blank" : undefined
                      }
                      rel={
                        link.href.startsWith("http")
                          ? "noopener noreferrer"
                          : undefined
                      }
                    >
                      {link.label}
                    </a>
                  </li>
                ))}
              </ul>
            </nav>
          ))
        }
      </div>
    </div>
    <svg
      class="-mb-20 lg:-mb-32 mt-24 text-sand-100"
      viewBox="0 0 29 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2.676 9.108C2.052 9.108 1.556 8.852 1.188 8.34C0.828 7.828 0.648 7.076 0.648 6.084C0.648 5.492 0.716 4.912 0.852 4.344C0.988 3.776 1.176 3.248 1.416 2.76C1.656 2.264 1.932 1.828 2.244 1.452C2.564 1.068 2.904 0.772 3.264 0.564C3.632 0.348 4.008 0.24 4.392 0.24C5.016 0.24 5.508 0.496 5.868 1.008C6.236 1.512 6.42 2.264 6.42 3.264C6.42 3.856 6.352 4.436 6.216 5.004C6.08 5.572 5.892 6.104 5.652 6.6C5.412 7.088 5.132 7.524 4.812 7.908C4.5 8.284 4.16 8.58 3.792 8.796C3.432 9.004 3.06 9.108 2.676 9.108ZM2.652 8.796C2.948 8.796 3.236 8.68 3.516 8.448C3.804 8.208 4.072 7.884 4.32 7.476C4.576 7.06 4.8 6.584 4.992 6.048C5.184 5.504 5.332 4.928 5.436 4.32C5.548 3.712 5.604 3.096 5.604 2.472C5.604 1.192 5.208 0.551999 4.416 0.551999C4.12 0.551999 3.828 0.671999 3.54 0.912C3.26 1.144 2.992 1.468 2.736 1.884C2.488 2.292 2.268 2.768 2.076 3.312C1.884 3.848 1.732 4.42 1.62 5.028C1.516 5.636 1.464 6.252 1.464 6.876C1.464 8.156 1.86 8.796 2.652 8.796ZM6.87647 9.12C6.65247 9.12 6.48447 9.06 6.37247 8.94C6.25247 8.812 6.19247 8.648 6.19247 8.448C6.19247 8.264 6.24047 8.112 6.33647 7.992C6.42447 7.872 6.54447 7.812 6.69647 7.812C6.82447 7.812 6.91647 7.844 6.97247 7.908C7.03647 7.972 7.08447 8.048 7.11647 8.136C7.14847 8.216 7.18447 8.288 7.22447 8.352C7.26447 8.416 7.32847 8.448 7.41647 8.448C7.61647 8.448 7.82847 8.232 8.05247 7.8C8.28447 7.368 8.50447 6.816 8.71247 6.144C8.75247 6.032 8.77647 5.932 8.78447 5.844C8.79247 5.756 8.79247 5.656 8.78447 5.544L8.68847 4.056C8.68047 3.848 8.64447 3.704 8.58047 3.624C8.51647 3.536 8.43647 3.492 8.34047 3.492C8.16447 3.492 7.99647 3.6 7.83647 3.816C7.67647 4.024 7.54447 4.424 7.44047 5.016C7.41647 5.12 7.36447 5.172 7.28447 5.172C7.17247 5.172 7.12847 5.1 7.15247 4.956C7.24847 4.404 7.38047 3.972 7.54847 3.66C7.72447 3.348 7.90847 3.128 8.10047 3C8.30047 2.872 8.48447 2.808 8.65247 2.808C8.90047 2.808 9.09247 2.896 9.22847 3.072C9.37247 3.24 9.45647 3.532 9.48047 3.948L9.51647 4.512C9.52447 4.56 9.54447 4.588 9.57647 4.596C9.61647 4.596 9.64847 4.572 9.67247 4.524C9.96047 3.892 10.2365 3.448 10.5005 3.192C10.7725 2.936 11.0565 2.808 11.3525 2.808C11.5765 2.808 11.7445 2.872 11.8565 3C11.9765 3.12 12.0365 3.28 12.0365 3.48C12.0365 3.664 11.9925 3.816 11.9045 3.936C11.8165 4.056 11.6925 4.116 11.5325 4.116C11.4045 4.116 11.3085 4.084 11.2445 4.02C11.1885 3.956 11.1445 3.884 11.1125 3.804C11.0805 3.716 11.0445 3.64 11.0045 3.576C10.9725 3.512 10.9165 3.48 10.8365 3.48C10.7165 3.48 10.5805 3.572 10.4285 3.756C10.2765 3.932 10.1325 4.168 9.99647 4.464C9.86047 4.76 9.74847 5.088 9.66047 5.448C9.63647 5.56 9.62047 5.66 9.61247 5.748C9.61247 5.836 9.61647 5.936 9.62447 6.048L9.73247 7.8C9.74847 8.048 9.79247 8.224 9.86447 8.328C9.93647 8.432 10.0325 8.484 10.1525 8.484C10.3045 8.484 10.4605 8.372 10.6205 8.148C10.7805 7.916 10.9125 7.504 11.0165 6.912C11.0405 6.808 11.0965 6.756 11.1845 6.756C11.2805 6.756 11.3205 6.828 11.3045 6.972C11.2325 7.516 11.1165 7.944 10.9565 8.256C10.8045 8.568 10.6365 8.788 10.4525 8.916C10.2685 9.044 10.0925 9.108 9.92447 9.108C9.62847 9.108 9.40047 9.016 9.24047 8.832C9.08047 8.64 8.98447 8.316 8.95247 7.86L8.89247 6.96C8.88447 6.904 8.86447 6.876 8.83247 6.876C8.80047 6.876 8.77247 6.9 8.74847 6.948L8.53247 7.476C8.07647 8.572 7.52447 9.12 6.87647 9.12ZM13.3742 9.108C13.1022 9.108 12.8582 9.036 12.6422 8.892C12.4342 8.74 12.2862 8.516 12.1982 8.22C12.1182 7.916 12.1302 7.54 12.2342 7.092L13.5782 1.32C13.6182 1.176 13.6182 1.076 13.5782 1.02C13.5462 0.964 13.4742 0.931999 13.3622 0.924L13.0022 0.887999C12.8822 0.879999 12.8302 0.828 12.8462 0.732C12.8622 0.66 12.9182 0.616 13.0142 0.599999C13.3022 0.552 13.5582 0.496 13.7822 0.431999C14.0062 0.359999 14.1862 0.267999 14.3222 0.155999C14.3862 0.108 14.4462 0.0839996 14.5022 0.0839996C14.5982 0.0839996 14.6342 0.144 14.6102 0.263999L13.5182 4.98C13.5102 5.036 13.5222 5.068 13.5542 5.076C13.5862 5.084 13.6142 5.064 13.6382 5.016C14.0782 4.176 14.4702 3.6 14.8142 3.288C15.1662 2.968 15.4942 2.808 15.7982 2.808C16.0942 2.808 16.3262 2.932 16.4942 3.18C16.6702 3.428 16.7582 3.792 16.7582 4.272C16.7582 4.728 16.6902 5.188 16.5542 5.652C16.4262 6.108 16.2462 6.544 16.0142 6.96C15.7902 7.376 15.5302 7.744 15.2342 8.064C14.9462 8.384 14.6422 8.64 14.3222 8.832C14.0022 9.016 13.6862 9.108 13.3742 9.108ZM13.4102 8.808C13.6182 8.808 13.8382 8.716 14.0702 8.532C14.3022 8.34 14.5262 8.088 14.7422 7.776C14.9662 7.456 15.1662 7.1 15.3422 6.708C15.5182 6.308 15.6582 5.9 15.7622 5.484C15.8662 5.06 15.9182 4.652 15.9182 4.26C15.9182 3.956 15.8862 3.744 15.8222 3.624C15.7582 3.496 15.6462 3.432 15.4862 3.432C15.3102 3.432 15.1102 3.54 14.8862 3.756C14.6622 3.972 14.4342 4.26 14.2022 4.62C13.9702 4.972 13.7542 5.356 13.5542 5.772C13.3542 6.188 13.1942 6.6 13.0742 7.008C12.9542 7.408 12.8942 7.764 12.8942 8.076C12.8942 8.564 13.0662 8.808 13.4102 8.808ZM18.7582 9.108C18.2622 9.108 17.8702 8.904 17.5822 8.496C17.2942 8.08 17.1502 7.52 17.1502 6.816C17.1502 6.296 17.2342 5.796 17.4022 5.316C17.5702 4.836 17.7902 4.408 18.0622 4.032C18.3422 3.656 18.6502 3.36 18.9862 3.144C19.3302 2.92 19.6742 2.808 20.0182 2.808C20.5142 2.808 20.9062 3.012 21.1942 3.42C21.4822 3.828 21.6262 4.388 21.6262 5.1C21.6262 5.62 21.5422 6.12 21.3742 6.6C21.2062 7.08 20.9822 7.508 20.7022 7.884C20.4302 8.26 20.1222 8.56 19.7782 8.784C19.4422 9 19.1022 9.108 18.7582 9.108ZM18.7342 8.82C18.9902 8.82 19.2382 8.696 19.4782 8.448C19.7262 8.2 19.9502 7.872 20.1502 7.464C20.3502 7.056 20.5102 6.604 20.6302 6.108C20.7502 5.604 20.8102 5.1 20.8102 4.596C20.8102 3.596 20.5502 3.096 20.0302 3.096C19.7822 3.096 19.5342 3.22 19.2862 3.468C19.0382 3.708 18.8142 4.032 18.6142 4.44C18.4222 4.848 18.2662 5.304 18.1462 5.808C18.0262 6.304 17.9662 6.804 17.9662 7.308C17.9662 8.316 18.2222 8.82 18.7342 8.82ZM23.5229 9.108C23.1949 9.108 22.9429 8.98 22.7669 8.724C22.5909 8.468 22.5589 8.12 22.6709 7.68L23.6309 4.056C23.7349 3.68 23.6709 3.492 23.4389 3.492C23.2709 3.492 23.1029 3.612 22.9349 3.852C22.7749 4.092 22.5989 4.484 22.4069 5.028C22.3749 5.124 22.3189 5.172 22.2389 5.172C22.1989 5.172 22.1669 5.156 22.1429 5.124C22.1189 5.084 22.1149 5.036 22.1309 4.98C22.5949 3.532 23.1749 2.808 23.8709 2.808C24.1429 2.808 24.3269 2.92 24.4229 3.144C24.5189 3.368 24.5149 3.676 24.4109 4.068L23.4029 7.896C23.3309 8.168 23.3269 8.368 23.3909 8.496C23.4549 8.624 23.5509 8.688 23.6789 8.688C24.0709 8.688 24.5069 8.208 24.9869 7.248C25.4749 6.28 25.9029 4.868 26.2709 3.012C26.2949 2.924 26.3509 2.88 26.4389 2.88H26.9069C27.0189 2.88 27.0629 2.932 27.0389 3.036L26.0789 7.896C26.0229 8.16 26.0269 8.36 26.0909 8.496C26.1629 8.624 26.2749 8.688 26.4269 8.688C26.6589 8.688 26.8949 8.576 27.1349 8.352C27.3749 8.128 27.5909 7.836 27.7829 7.476C27.9829 7.116 28.1429 6.72 28.2629 6.288C28.3829 5.856 28.4429 5.432 28.4429 5.016C28.4429 4.68 28.4149 4.416 28.3589 4.224C28.3109 4.024 28.2589 3.856 28.2029 3.72C28.1469 3.584 28.1189 3.436 28.1189 3.276C28.1189 2.964 28.2549 2.808 28.5269 2.808C28.7189 2.808 28.8429 2.916 28.8989 3.132C28.9549 3.34 28.9829 3.656 28.9829 4.08C28.9829 4.688 28.9069 5.292 28.7549 5.892C28.6109 6.484 28.4109 7.024 28.1549 7.512C27.9069 7.992 27.6189 8.38 27.2909 8.676C26.9709 8.964 26.6309 9.108 26.2709 9.108C25.9269 9.108 25.6629 8.976 25.4789 8.712C25.2949 8.44 25.2549 8.048 25.3589 7.536C25.3749 7.48 25.3629 7.448 25.3229 7.44C25.2909 7.432 25.2629 7.452 25.2389 7.5C25.0149 7.948 24.7629 8.328 24.4829 8.64C24.2029 8.952 23.8829 9.108 23.5229 9.108Z"
        fill="currentColor"></path>
    </svg>
  </Wrapper>
</footer>
