---
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Button from "@/components/fundations/buttons/Button.astro";
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundations

// Add prop to control CTA visibility
const { isSignedIn = false } = Astro.props;

const navLinks = [
  {
    title: "Navigation",
    links: [
      { label: "Home", href: "/" },
      { label: "Log in", href: "/login" },
      { label: "Pricing", href: "/pricing" },
      { label: "Support", href: "/support" },
      { label: "Affiliates", href: "https://oxbowui.affonso.io" },
      {
        label: "Polar customer portal",
        href: "https://polar.sh/oxbow-ui/portal/request",
      },
      { label: "Customers", href: "/customers" },
      { label: "Changelog", href: "/changelog" },
    ],
  },
  {
    title: "Legal",
    links: [
      { label: "Faq", href: "/faq" },
      { label: "Terms", href: "/terms" },
      { label: "Privacy", href: "/privacy" },
      { label: "License", href: "/license" },
      { label: "Refund", href: "/refund" },
    ],
  },
  {
    title: "Social",
    links: [
      { label: "accentSky", href: "https://bsky.app/profile/oxbowui.com" },
    ],
  },
  {
    title: "Tools",
    links: [
      {
        label: "Tailwind CSS Grid ",
        href: "/free-tools/tailwind-css-grid-generator",
      },
      {
        label: "Tailwind CSS Gradient",
        href: "/free-tools/tailwind-css-gradient-generator",
      },
      {
        label: "Tailwind CSS Color Palette",
        href: "/free-tools/tailwind-css-color-palette",
      },
      {
        label: "Tailwind CSS Cheat Sheet",
        href: "/free-tools/tailwind-css-cheat-sheet",
      },
    ],
  },
];
---

<footer>
  <Wrapper
    variant="standard"
    class="py-8 lg:border-x lg:border-zinc-200 border-dashed"
  >
    {
      !isSignedIn && (
        <div class="p-8 py-12 text-center rounded-xl bg-white shadow-normal shadow-sand-500/10">
          <div class=" max-w-lg mx-auto text-balance">
            <Text
              tag="h2"
              variant="displaySM"
              class="font-medium text-base-900"
            >
              Lifetime access
            </Text>
            <Text tag="p" variant="textBase" class="mt-2 text-base-700">
              Get everything for $99. One-time payment. Lifetime access,
              updates, and support included.
            </Text>
            <Button
              size="xxs"
              variant="oxbowAccent"
              href="/pricing"
              id="full-access-cta-bottom"
              data-umami-event="full-access-cta-bottom"
              title="Get the full-access"
              class="mt-8 w-fit mx-auto"
            >
              Full access for $99
            </Button>
          </div>
        </div>
      )
    }
    <div class="xl:grid xl:grid-cols-3 xl:gap-8 mt-12">
      <div class="text-black">
        <a href="/" class="flex items-center text-lg gap-2 text-accent-900">
          <span class="sr-only">Go to homepage</span>
          <Logo class="h-8 text-base-900" />
          Oxbow
        </a>
        <p class="mt-1 text-sm font-normal text-base-500 text-balance">
          Premium multipage themes crafted with Astro and Tailwind CSS
        </p>
      </div>
      <div class="md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-8 xl:col-span-2">
        {
          navLinks.map((section, i) => (
            <nav aria-label={section.title}>
              <Text
                tag="h3"
                variant="textBase"
                class="font-semibold text-zinc-900"
              >
                {section.title}
              </Text>
              <ul
                role="list"
                class="flex flex-col mt-2 space-y-1 text-xs text-base-600"
              >
                {section.links.map((link, j) => (
                  <li>
                    <a
                      class="hover:text-accent-600"
                      href={link.href}
                      title={link.label}
                      target={
                        link.href.startsWith("http") ? "_blank" : undefined
                      }
                      rel={
                        link.href.startsWith("http")
                          ? "noopener noreferrer"
                          : undefined
                      }
                    >
                      {link.label}
                    </a>
                  </li>
                ))}
              </ul>
            </nav>
          ))
        }
      </div>
    </div>
  </Wrapper>
</footer>
