---
const features = [
  {
    title: "No subscription required",
    description:
      "The bundle license is a one-time purchase. Oxbow UI will never charge you again after the initial payment.",
  },
  {
    title: "Unlimited projects",
    description:
      "Oxbow's license allows you to use all components, elements and layouts as many times as you want.",
  },
  {
    title: "Lifetime access",
    description:
      "You get instant access to all components, elements and layouts right after payment, as well as anything added in the future.",
  },
  {
    title: "Free updates",
    description:
      "Any improvements, new components, elements and layouts are included with your original purchase.",
  },
  {
    title: "Support",
    description:
      "Whenever you any questions, you can reach out to us from the support page.",
  },
  {
    title: "Everything available",
    description:
      "This includes all component, element and layout made to date, as well as future additions.",
  },
];
const inside = [
  {
    img: "/images/oxbow/marketing.png",
    title: "Marketing",
    description:
      "Offers hero sections, feature segments, newsletter sign-up forms, and more to boost your marketing efforts.",
  },
  {
    img: "/images/oxbow/application.png",
    title: "Application",
    description:
      " Includes buttons, form controls, application layouts, dialogs, and more to enhance your application’s user interface.",
  },
  {
    img: "/images/oxbow/ecommerce.png",
    title: "eCommerce",
    description:
      "Provides checkout forms, shopping carts, product views, and more tailored for ecommerce functionalities.",
  },
];
const insideTech = [
  {
    title: "Vanilla HTML & Tailwind CSS ",
    description:
      "Interactive components include a functional example in HTML & Tailwind CSS  included where necessary.",
  },
  {
    title: "Diverse Selection",
    description:
      "Each category offers a plethora of UI patterns, ensuring you can easily discover the ideal foundation for your project, no matter what you’re creating.",
  },
];
const logos = [
  {
    href: "https://docs.adonisjs.com/guides/installation",
    image: "adonis.svg",
  },
  {
    href: "https://angular.io/cli",
    image: "angular.svg",
  },
  {
    href: "https://docs.astro.build/en/getting-started/#start-your-first-project",
    image: "astro.svg",
  },
  {
    href: "https://guides.emberjs.com/release/getting-started/quick-start/#toc_create-a-new-application",
    image: "ember.svg",
  },
  {
    href: "https://www.gatsbyjs.com/docs/reference/gatsby-cli/#how-to-use-gatsby-cli",
    image: "gatsby.svg",
  },
  {
    href: "https://laravel.com/docs/9.x#your-first-laravel-project",
    image: "laravel.svg",
  },
  {
    href: "https://www.meteor.com/developers/install",
    image: "meteor.svg",
  },
  {
    href: "https://nextjs.org/docs/api-reference/create-next-app",
    image: "next.svg",
  },
  {
    href: "https://nuxt.com/docs/getting-started/installation",
    image: "nuxt.svg",
  },
  {
    href: "https://parceljs.org/getting-started/webapp/",
    image: "parcel.svg",
  },
  {
    href: "https://hexdocs.pm/phoenix/installation.html",
    image: "phoenix.svg",
  },
  {
    href: "https://qwik.builder.io/docs/getting-started/",
    image: "quick.svg",
  },
  {
    href: "https://create-react-app.dev/docs/getting-started",
    image: "reactApp.svg",
  },
  {
    href: "https://remix.run/docs",
    image: "remix.svg",
  },
  {
    href: "https://rspack.dev/guide/start/quick-start#using-the-rspack-cli",
    image: "rspack.svg",
  },
  {
    href: "https://guides.rubyonrails.org/command_line.html",
    image: "ruby.svg",
  },
  {
    href: "https://www.solidjs.com/guides/getting-started",
    image: "solid.svg",
  },
  {
    href: "https://kit.svelte.dev/docs#introduction-getting-started",
    image: "svelte.svg",
  },
  {
    href: "https://symfony.com/download",
    image: "symphony.svg",
  },
  {
    href: "https://vitejs.dev/guide/#scaffolding-your-first-vite-project",
    image: "vite.svg",
  },

  // Add more items as needed
];
const started = [
  {
    title: "Simple customization ",
    description:
      "The bundle license is a one-time purchase. Oxbow UI will never charge you again after the initial payment.",
  },
  {
    title: "Keyboard accessibility",
    description:
      "All elements are keyboard accessible, ensuring a smooth experience for screen reader users.",
  },
  {
    title: "Production ready",
    description:
      "The components are rigorously tested on the latest browsers, ensuring reliability and handling edge cases effectively.",
  },
];
const lifetime = [
  {
    title: "No subscription required",
    description:
      "After the initial payment, there will be no more charges for all-access licenses.",
  },
  {
    title: "Unlimited",
    description:
      "Purchase the Bundle license once and use the themes for as many projects as you like.",
  },
  {
    title: "Free updates and content",
    description:
      "New templates, components, and versions are included at no extra charge.",
  },
];
---

<section
  class="scroll-mt-24"
  id="features">
  <div class="max-w-5xl 2xl:max-w-screen-xl px-8 mx-auto py-12 space-y-24">
    <section class="grid grid-cols-1 pt-10 gap-y-6 gap-8">
      <div class="border-b pb-5 sm:flex sm:items-center sm:justify-between">
        <h3 class="text-black font-medium text-3xl tracking-tighter">
          What's included
        </h3>
      </div>
      <ul
        class="grid grid-cols-1 gap-6 lg:gap-12 md:grid-cols-2 lg:grid-cols-3 mt-12">
        {
          features.map((feature) => (
            <li>
              <p class="text-base text-base-500 text-pretty">
                <strong class="font-semibold text-black">
                  {feature.title}
                </strong>
                — {feature.description}
              </p>
            </li>
          ))
        }
      </ul>
    </section>
    <section class="grid grid-cols-1 pt-10 gap-y-6 gap-8">
      <div class="border-b pb-5 s">
        <div class="sm:flex sm:items-center sm:justify-between">
          <div
            class="grid grid-cols-1 gap-4 lg:gap-12 md:grid-cols-2 items-start">
            <div>
              <p class="text-black font-medium text-3xl tracking-tighter">
                All components, elements and layouts
              </p>
            </div>
            <div>
              <p class="text-base-600">
                <strong class="text-black"
                  >Premium components, elements and layouts!</strong
                > ━ Save months of time and build your startup landing page in hours!
              </p>
            </div>
          </div>
        </div>
      </div>
      <ul
        class="col-span-3 grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-2 sm:gap-y-10 md:grid-cols-3 xl:gap-x-8">
        {
          inside.map((inside) => (
            <li>
              <img
                src={inside.img}
                class="object-bottom object-cover shadow border rounded-lg ring-4 ring-base-50 group-hover:ring-base-200 duration-300"
                alt="Left Heroes"
                width="768"
                height="400"
                loading="lazy"
                decoding="async"
              />
              <p class="text-base text-base-500 text-pretty mt-4">
                <strong class="font-semibold text-black">{inside.title}</strong>
                — {inside.description}
              </p>
            </li>
          ))
        }
      </ul>
      <ul class="grid gap-12 pt-12 text-lg sm:grid-cols-2">
        {
          insideTech.map((inside) => (
            <li>
              <p class="text-base text-base-500 text-pretty">
                <strong class="font-semibold text-black">{inside.title}</strong>
                — {inside.description}
              </p>
            </li>
          ))
        }
      </ul>
    </section>
    <section class="grid grid-cols-1 pt-10 gap-y-6 gap-8">
      <div class="border-b pb-5 sm:flex sm:items-center sm:justify-between">
        <h3 class="text-black font-medium text-3xl tracking-tighter">
          Get started without configuring anything
        </h3>
      </div>
      <ul
        class="grid grid-cols-1 gap-6 lg:gap-12 md:grid-cols-2 lg:grid-cols-3 mt-12">
        {
          started.map((started) => (
            <li>
              <p class="text-base text-base-500 text-pretty">
                <strong class="font-semibold text-black">
                  {started.title}
                </strong>
                — {started.description}
              </p>
            </li>
          ))
        }
      </ul>
      <ul
        class="gap-4 py-12 border-b grid grid-cols-5 lg:grid-cols-10 lg:gap-6 lg:-mx-8">
        {
          logos.map((item) => (
            <li>
              <a
                href={item.href}
                class="duration-200 hover:opacity-100">
                <img
                  src={`/images/oxbow/frameworks/${item.image}`}
                  class="size-8 mx-auto"
                  alt={item.image}
                />
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section class="grid grid-cols-1 pt-10 pb-12 gap-8">
      <div class="border-b pb-5 sm:flex sm:items-center sm:justify-between">
        <h3 class="text-black font-medium text-3xl tracking-tighter">
          Lifetime access
        </h3>
      </div>
      <ul
        role="list"
        class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-12 md:grid-cols-2 mt-12">
        {
          lifetime.map((lifetime) => (
            <li>
              <p class="text-base text-base-500 text-pretty">
                <strong class="font-semibold text-black">
                  {lifetime.title}
                </strong>
                — {lifetime.description}
              </p>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</section>
