---
import { Image } from "astro:assets";
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import applicationImage from "@/screenshots/application_sign-up_03.png";
import ecommerceImage from "@/screenshots/application_flyouts_09.png";
import marketingImage from "@/screenshots/marketing_hero_03.png";

import Component from "@/components/fundations/icons/Component.astro";
import Code from "@/components/fundations/icons/Code.astro";
import Devices from "@/components/fundations/icons/Devices.astro";
import Mail from "@/components/fundations/icons/Mail.astro";
import Tools from "@/components/fundations/icons/Tools.astro";
import LockOpen from "@/components/fundations/icons/LockOpen.astro";
import LoaderTwo from "@/components/fundations/icons/LoaderTwo.astro";
import Lifebuoy from "@/components/fundations/icons/Lifebuoy.astro";
import Home from "@/components/fundations/icons/Home.astro";
import Settings from "@/components/fundations/icons/Settings.astro";
import Brain from "@/components/fundations/icons/Brain.astro";
import Accessibility from "@/components/fundations/icons/Accessibility.astro";
const features = [
  {
    icon: "Component",
    title: "Components",
    description:
      "Over 400 well-designed and carefully built components that follow accessibility standards and are easy to customize.",
  },
  {
    icon: "Code",
    title: "Tailwind, Alpine  and more ",
    description:
      "Interactive examples built with Alpine JS and plain HTML, with more frameworks coming soon.",
  },
  {
    icon: "Devices",
    title: "Responsive",
    description:
      "Each example is fully Devices, thoughtfully crafted, and set up to look great on screens of any size.",
  },
  {
    icon: "Mail",
    title: "No subscription required",
    description:
      "The bundle license is a one-time purchase. Oxbow UI will never charge you again after the initial payment.",
  },
  {
    icon: "Tools",
    title: "Unlimited projects",
    description:
      "Oxbow's license allows you to use all components, elements and layouts as many times as you want.",
  },
  {
    icon: "LockOpen",
    title: "Lifetime access",
    description:
      "You get instant access to all components, elements and layouts right after payment, as well as anything added in the future.",
  },
  {
    icon: "LoaderTwo",
    title: "Free updates",
    description:
      "Any improvements, new components, elements and layouts are included with your original purchase.",
  },
  {
    icon: "Lifebuoy",
    title: "Support",
    description:
      "Whenever you any questions, you can reach out to us from the support page.",
  },
  {
    icon: "Home",
    title: "Everything available",
    description:
      "This includes all component, element and layout made to date, as well as future additions.",
  },
];

const logos = [
  {
    href: "https://docs.adonisjs.com/guides/installation",
    image: "adonis.svg",
  },
  {
    href: "https://angular.io/cli",
    image: "angular.svg",
  },
  {
    href: "https://docs.astro.build/en/getting-started/#start-your-first-project",
    image: "astro.svg",
  },
  {
    href: "https://guides.emberjs.com/release/getting-started/quick-start/#toc_create-a-new-application",
    image: "ember.svg",
  },
  {
    href: "https://www.gatsbyjs.com/docs/reference/gatsby-cli/#how-to-use-gatsby-cli",
    image: "gatsby.svg",
  },
  {
    href: "https://laravel.com/docs/9.x#your-first-laravel-project",
    image: "laravel.svg",
  },
  {
    href: "https://www.meteor.com/developers/install",
    image: "meteor.svg",
  },
  {
    href: "https://nextjs.org/docs/api-reference/create-next-app",
    image: "next.svg",
  },
  {
    href: "https://nuxt.com/docs/getting-started/installation",
    image: "nuxt.svg",
  },
  {
    href: "https://parceljs.org/getting-started/webapp/",
    image: "parcel.svg",
  },
  {
    href: "https://hexdocs.pm/phoenix/installation.html",
    image: "phoenix.svg",
  },
  {
    href: "https://qwik.builder.io/docs/getting-started/",
    image: "quick.svg",
  },
  {
    href: "https://create-react-app.dev/docs/getting-started",
    image: "reactApp.svg",
  },
  {
    href: "https://remix.run/docs",
    image: "remix.svg",
  },
  {
    href: "https://rspack.dev/guide/start/quick-start#using-the-rspack-cli",
    image: "rspack.svg",
  },
  {
    href: "https://guides.rubyonrails.org/command_line.html",
    image: "ruby.svg",
  },
  {
    href: "https://www.solidjs.com/guides/getting-started",
    image: "solid.svg",
  },
  {
    href: "https://kit.svelte.dev/docs#introduction-getting-started",
    image: "svelte.svg",
  },
  {
    href: "https://symfony.com/download",
    image: "symphony.svg",
  },
  {
    href: "https://vitejs.dev/guide/#scaffolding-your-first-vite-project",
    image: "vite.svg",
  },
  // Add more items as needed
];
const started = [
  {
    icon: "Settings",
    title: "Simple customization ",
    description:
      "The bundle license is a one-time purchase. Oxbow UI will never charge you again after the initial payment.",
  },
  {
    icon: "Accessibility",
    title: "Keyboard accessibility",
    description:
      "All elements are keyboard accessible, ensuring a smooth experience for screen reader users.",
  },
  {
    icon: "Brain",
    title: "Production ready",
    description:
      "The components are rigorously tested on the latest browsers, ensuring reliability and handling edge cases effectively.",
  },
];
---

<section class="scroll-mt-24 border-t border-base-200" id="features">
  <Wrapper variant="standard" class="py-6">
    <Text
      tag="h3"
      variant="displaySM"
      class="text-black font-medium tracking-tighter"
    >
      What's included
    </Text>
  </Wrapper>
  <Wrapper variant="standard" class="py-12 space-y-24 border-t">
    <ul class="grid grid-cols-1sm:grid-cols-2 md:grid-cols-3 gap-4">
      <div
        class="bg-white ring-4 ring-base-50 border border-base-200 rounded-xl flex flex-col h-full justify-between relative overflow-hidden"
      >
        <div class="p-8 relative">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600"
          >
            Marketing
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 text-base-900 font-medium"
          >
            Landing pages?
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 text-base-500 font-medium">
            Hero sections, feature displays, footers, pricing pages, ready to
            grab landing pages and more to help you create standout marketing
            websites that impress and grow your audience.
          </Text>
        </div>
        <div class="-right-8 ml-8 -mb-4">
          <Image
            class="rounded-l-xl ring-4 ring-base-50 border border-base-200 shadow h-full"
            src={marketingImage}
            alt="hero images"
          />
        </div>
      </div>
      <div
        class="bg-white ring-4 ring-base-50 border border-base-200 rounded-xl flex flex-col h-full justify-between relative overflow-hidden"
      >
        <div class="p-8 relative">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600"
          >
            Application
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 text-base-900 font-medium"
          >
            Building a webapp?
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 text-base-500 font-medium">
            Find navigation, buttons, forms, command palettes, typography,
            application layouts, dialogs, and more to make your application’s
            user interface pretty.
          </Text>
        </div>
        <div class="-right-8 ml-8 -mb-4">
          <Image
            class="rounded-l-xl ring-4 ring-base-50 border border-base-200 shadow h-full"
            src={applicationImage}
            alt="hero images"
          />
        </div>
      </div>
      <div
        class="bg-white ring-4 ring-base-50 border border-base-200 rounded-xl flex flex-col h-full justify-between relative overflow-hidden"
      >
        <div class="p-8 relative">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600">eCommerce</Text
          >
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 text-base-900 font-medium"
          >
            Got a store?
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 text-base-500 font-medium">
            Checkout forms, shopping carts, promo sections, store fronts,
            product overviews and all the basics to build your store.
          </Text>
        </div>
        <div class="-right-8 ml-8 -mb-4">
          <Image
            class="rounded-l-xl ring-4 ring-base-50 border border-base-200 shadow h-full"
            src={ecommerceImage}
            alt="hero images"
          />
        </div>
      </div>
      {
        features.map((feature) => (
          <li class="pt-8 pr-8">
            <div class=" flex gap-3 items-center">
              {feature.icon === "Component" && (
                <Component class="text-accent-600" size="base" />
              )}

              {feature.icon === "Code" && (
                <Code class="text-accent-600" size="base" />
              )}
              {feature.icon === "Devices" && (
                <Devices class="text-accent-600" size="base" />
              )}
              {feature.icon === "Mail" && (
                <Mail class="text-accent-600" size="base" />
              )}

              {feature.icon === "Tools" && (
                <Tools class="text-accent-600" size="base" />
              )}
              {feature.icon === "LockOpen" && (
                <LockOpen class="text-accent-600" size="base" />
              )}
              {feature.icon === "LoaderTwo" && (
                <LoaderTwo class="text-accent-600" size="base" />
              )}
              {feature.icon === "Lifebuoy" && (
                <Lifebuoy class="text-accent-600" size="base" />
              )}
              {feature.icon === "Home" && (
                <Home class="text-accent-600" size="base" />
              )}
              <dt>
                <Text
                  tag="h3"
                  variant="textLG"
                  class="text-base-900 font-medium"
                >
                  {feature.title}
                </Text>
              </dt>
            </div>
            <dd>
              <Text
                tag="p"
                variant="textBase"
                class="mt-2 text-base-500 font-medium"
              >
                {feature.description}
              </Text>
            </dd>
          </li>
        ))
      }
    </ul>
  </Wrapper>
  <Wrapper variant="standard" class="py-12 border-t">
    <Text
      tag="h3"
      variant="textXL"
      class="text-black font-medium tracking-tighter"
    >
      Get started without configuring anything
    </Text>
    <ul
      class="grid grid-cols-1 gap-6 lg:gap-12 md:grid-cols-2 lg:grid-cols-3 mt-8"
    >
      {
        started.map((started) => (
          <li>
            <div class=" flex gap-3 items-center">
              {started.icon === "Settings" && (
                <Settings class="text-accent-600" size="base" />
              )}

              {started.icon === "Accessibility" && (
                <Accessibility class="text-accent-600" size="base" />
              )}
              {started.icon === "Brain" && (
                <Brain class="text-accent-600" size="base" />
              )}

              <dt>
                <Text
                  tag="h3"
                  variant="textLG"
                  class="text-base-900 font-medium"
                >
                  {started.title}
                </Text>
              </dt>
            </div>
            <dd>
              <Text
                tag="p"
                variant="textBase"
                class="mt-2 text-base-500 font-medium"
              >
                {started.description}
              </Text>
            </dd>
          </li>
        ))
      }
    </ul>
    <ul class="gap-4 py-12 grid grid-cols-5 lg:grid-cols-10 lg:gap-6 lg:-mx-8">
      {
        logos.map((item) => (
          <li>
            <Text
              tag="a"
              href={item.href}
              class="duration-200 hover:opacity-100"
            >
              <img
                src={`/images/oxbow/frameworks/${item.image}`}
                class="size-8 mx-auto"
                alt={item.image}
              />
            </Text>
          </li>
        ))
      }
    </ul>
  </Wrapper>
</section>
